page-infografia-anemia {

    .content{
        background-color: #EAEAEA}

    .bg-header-enfermedad {
        background-color: #00AFD8;
        height: 13hv;
    }

    h2{
        color: #fff;
        font-size: 1.8rem ;
    }
    h1{
        color: #fff;
        font-size: 2.8rem ;
    }
    p{
        color: #fff;
        font-size: 1.5rem
    }

    .ssa-position{
        font-weight: 400;
        font-weight: 400;
        width: 100%;
    }
    .ssa-position p{
        font-size: .7rem;
        color: #fff;
    }
    .bg-menu{
        background-image: url( "../assets/img/home/menu.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        content: "";
        min-height: 65px;
    }
    .scroll-content{
        padding-top: 0 !important;
    }

    .img-header {
        position: absolute;
        z-index: 9999
    }

    .bg-enfermedad {
        background-image: url( "../assets/img/template/back_sistema_nervioso.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        content: "";
        height: 100%;
    }
    .bg-info {
        background-image: url( "../assets/img/anemia/bg-infografia.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        content: "";
        height: 100vh;
        min-height: 800px;
    }

    .b-1 {
        border-radius: 10px;
        background-color: #005eb6;
        width: 300px;
        padding: 25px;
        margin: auto;
        margin-top: 87%;
    }

    .b-modal {
        border-radius: 10px;
        background-color: #005eb6;
        width: 90%;
        padding: 25px;
        margin: auto;
        margin-top: 95%;
        color: #fff;
        position: absolute;
        top: 0%;
        z-index: 9999

    }
    .b-modal-1 {
        border-radius: 10px;
        background-color: #005eb6;
        margin: auto;
        position: absolute
    }

    .b-2 {
        border-radius: 10px;
        background-color: #fff;
        color: #005eb6;
        width: 300px;
        padding: 25px;
        margin: auto;
    }

    .b-2 h2 {
        color: #005eb6;
    }

    .b-2 p {
        color: #005eb6;
    }

    .b-1 ul li {
        color: #fff;
    }

    .row-img {
        background-color: #EAEAEA;
        padding: 2rem 0 2rem 0;
    }

    .d-none-1 {
        color: red;
    }

    .img-close {
        max-width: 40px;
        top: 0.5rem;
        right: 1rem;
        position: absolute;
        z-index: 99999999;

    }


    .btn-referencias {
        max-width: 35px;
        margin: 0 4rem 2rem 0;
    }

    .footer-text {
        background-color:#E9E9E9;
    }
    .p-text p {
        font-size: .9rem;
        color: #000;
    }
    .info .col-5, .col-2, col-3{
        position: absolute
    }
    .icon-1{
        top: 1%;
        left: 26%;
    }
    .icon-2{
        top: 9%;
        left: 21%;
    }
    .icon-3{
        top: 19%;
        left: 13%;
    }
    .icon-4{
        top: 57%;
        left: 17%;
    }
    .icon-5{
        top: 0%;
        left: 60%;
    }
    .icon-6{
        top: 10%;
        left: 58%;
    }
    .icon-7{
        top: 22%;
        left: 71%;
    }
    .icon-8{
        top: 64%;
        left: 74%;
    }
     .icon-9{
        top: 21%;
        left: 83%;
    }

    .icon-1-i{
        top: 2%;
        left: 3%;
    }
    .icon-2-i{
        top: 2%;
        left: 2%;
    }
    .icon-3-i{
        top: 27%;
        left: 0%;
    }
    .icon-4-i{
        top:  51%;
        left: 0%;
    }
    .icon-5-i{
        top: 4%;
        left: 65%;
    }
    .icon-6-i{
        top: 15%;
        left: 61%;
    }
    .icon-7-i{
        top: 27%;
        left: 60%;
    }
    .icon-8-i{
        top: 55%;
        left: 60%;
    }
    .icon-refe{
        top: 82%;
        left: 84%;
        max-height: 5rem!important;

    }


    .info .img-fluid{
    }
    .icon-info{
        z-index: 999999999;
        position: absolute
    }
    .icon-info h1, p{
        color:#026FB6;
    }
    .icon-info p{
        font-size: 1.4rem;
        margin: .5rem

    }
    .b-modal p{
        color: #fff;

    }
    .off-icon{
        filter: grayscale(100%);
    }

    .max-img {
      max-width: 50%;
    }

    .img-custom {
      margin-top: 9%;
    }
}
