
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  ">
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="row">
        <div class="col-12 bg-header-enfermedad">
            <div class="col-3 img-header">
                <img src="../assets/img/template/foto1.png" class="img-fluid"/>
            </div>
            <div class="col-8 mt-3 offset-3" >
                <h2>Signos y sintomas de la anemia en personas con <b> enfermedad renal crónica<sup class="arriba">1</sup></b></h2>
            </div>
        </div>
    </div>
    <div class="row mt-5 ">
        <div class="col-12 row-img bg-info d-flex info">
            <div class="row">
                <div class= "col-2 icon-1" >
                    <img (click)="goIcon1()"  src="../assets/img/fibrosis/1.png" class="img-fluid"/>

                </div>

                <div class= "col-2 icon-2" >
                    <img (click)="goIcon2()"  src="../assets/img/anemia/2.png" class="img-fluid"/>

                </div>

                <div class= "col-2 icon-3" >
                    <img (click)="goIcon3()"  src="../assets/img/anemia/3.png" class="img-fluid"/>

                </div>

                <div class= "col-2 icon-4" >
                    <img (click)="goIcon4()"  src="../assets/img/anemia/4.png" class="img-fluid"/>

                </div>

                <div class= "col-2 icon-5" >
                    <img (click)="goIcon5()"  src="../assets/img/anemia/5.png" class="img-fluid"/>

                </div>

                <div class= "col-2 icon-6" >
                    <img (click)="goIcon6()"  src="../assets/img/anemia/6.png" class="img-fluid"/>
                </div>
                <div class= "col-2 icon-7" >
                    <img (click)="goIcon7()"  src="../assets/img/anemia/7.png" class="img-fluid"/>
                </div>
                <div class= "col-2 icon-8" >
                    <img (click)="goIcon8()"  src="../assets/img/anemia/8.png" class="img-fluid"/>
                </div>
                <div class= "col-4 icon-9" >
                    <img (click)="goIcon9()"  src="../assets/img/anemia/c.png" class="img-fluid"/>
                </div>

                <div class="col-3 icon-refe max-height" (click)="goHanldeClick()">
                    <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
                </div>

                <div [class]="iconTxt1">
                    <img (click)="goIcon1()"  src="../assets/img/anemia/1-i.png" class="img-fluid "/>
                </div>
                <div [class]="iconTxt2">
                    <img (click)="goIcon1()"  src="../assets/img/anemia/2-i.png" class="img-fluid img-custom"/>
                </div>
                <div [class]="iconTxt3">
                    <img (click)="goIcon1()"  src="../assets/img/anemia/3-i.png" class="img-fluid max-img"/>
                </div>
                <div [class]="iconTxt4">
                    <img (click)="goIcon1()"  src="../assets/img/anemia/4-i.png" class="img-fluid max-img"/>
                </div>
                <div [class]="iconTxt5">
                    <img (click)="goIcon1()"  src="../assets/img/anemia/5-i.png" class="img-fluid"/>
                </div>
                <div [class]="iconTxt6">
                    <img (click)="goIcon1()"  src="../assets/img/anemia/6-i.png" class="img-fluid"/>
                </div>
                <div [class]="iconTxt7">
                    <img (click)="goIcon1()"  src="../assets/img/anemia/7-i.png" class="img-fluid"/>
                </div>
                <div [class]="iconTxt8">
                    <img (click)="goIcon1()"  src="../assets/img/anemia/8-i.png" class="img-fluid"/>
                </div>


            </div>
        </div>
    </div>
    <div [class]="iconTxt9">

        <div class="row">
            <img src="../assets/img/template/icon_close.png" alt="" (click)="gocerrar()" class="img-close">
            <div class="col-12">
                <h2 class="ref-h2 my-4">Problemas del corazón:</h2>
            </div>
            <div class="col-4">
                <img src="../assets/img/anemia/c1.png" alt="" class="max-icon-h-i" />
            </div>
            <div class="col-8">
                <p>
                    Latido cardiaco irregular o rápido, especialmente al hacer ejercicio.
                </p>
            </div>
            <div class="col-4">
                <img src="../assets/img/anemia/c2.png" alt="" class="max-icon-h-i" />
            </div>
            <div class="col-8">
                <p>

                    Crecimiento de los músculos
                    del corazón.
                </p>
            </div>
            <div class="col-4">
                <img src="../assets/img/anemia/c3.png" alt="" class="max-icon-h-i" />
            </div>
            <div class="col-8">
                <p>

                    Insuficiencia cardiaca, una enfermedad en la cual el corazón no puede bombear la sangre suficiente para cumplir las necesidades del cuerpo.
                </p>
            </div>
        </div>
    </div>
    <div [class]="className">
        <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
        <h2 class="ref-h2 my-4">Referencia:</h2>
        <p>
            National Institute of Diabets and
            Digestive and Kidney Diseases.
            Anemia in Chronic Kidney Disease
            [Consultado el 21 de mayo de 2018]
            Disponible en: <br> https://www.niddk.nih.gov/health-information/kidney-disease/chronic-kidney-disease-ckd/anemia
        </p>

    </div>

    <div class="row index-9">
        <div class="col-12 row-img">
            <div class="row">
                <div class="col-10 mx-auto text-center my-4 p-text">
                    <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                            Consulte a su médico</b></p>
                    <p>
                        Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                    </p>
                </div>
            </div>
        </div>
    </div>
</ion-content>
