page-menu-hemofilia {


    ion-content{
        background-image: url( "../assets/img/template/bg-submenu.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
    }
    .btn-submenu {
        border-radius: 40px 10px 10px 40px;
        height: 80px;
        text-align: left;
        color: #fff;
        border: none;
        font-size: 1.5rem;
        font-weight: 600;

    }
    p{
        font-size: 0.8rem;
    }
    .img-menu {
        max-width: 45px;
        margin: .8rem;
        margin-left: 1rem;
        margin-right: 3rem;
    }
    .button-inner{
        -webkit-justify-content: left;
    }
    .scroll-content{
        padding-top: 0 !important;
    }
    .back-button{
       display: none !important;
    }



}
