<ion-header>
    <ion-navbar hideBackButton>
        <div class="row">
            <div class="col-3 offset-4 p-0  "> 
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-3 offset-2">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="row  bg-title-menu">
        <div class="col-12 text-center my-2">
            <h2 class="title-menu"><img src="../assets/img/template/i-5.png" alt="" class="mr-3 my-3 max-icon-h" />Hemofilia</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mx-auto mb-2 mt-5 ">
            <button ion-button secondary (click)="goPorti()"   type="button" class="btn btn-primary btn-block btn-submenu btn-color-1"><img src="../assets/img/template/sm-1.png" alt="" class="img-menu" /> ¿Qué es POR TI? </button>
        </div>
        <div class="col-12 mx-auto my-2">
            <button ion-button secondary (click)="goMenuEnfermedad()"  type="button" class="btn btn-primary btn-block btn-submenu btn-color-2"><img src="../assets/img/template/sm-2.png" alt="" class="img-menu" /> Conozca su enfermedad</button>
        </div>
        <div class="col-12 mx-auto my-2">
            <button ion-button secondary (click)="goPacientesHemofilia()"  type="button" class="btn btn-primary btn-block btn-submenu btn-color-3"><img src="../assets/img/template/sm-3.png" alt="" class="img-menu" />Asociaciones de pacientes </button>
        </div>
        <div class="col-12 mx-auto my-2">
            <button ion-button secondary (click)="goAcompana()"  type="button" class="btn btn-primary btn-block btn-submenu btn-color-4"><img src="../assets/img/template/sm-4.png" alt="" class="img-menu" />POR TI lo acompaña</button>
        </div>
        <div class="col-12 mx-auto my-2">
            <button ion-button secondary (click)="goContacto()"  type="button" class="btn btn-primary btn-block btn-submenu btn-color-5"><img src="../assets/img/template/sm-5.png" alt="" class="img-menu" />Contáctenos</button>
        </div>
    </div>

</ion-content>
<ion-footer>
    <ion-toolbar>
        <div class="container ssa-position ">
            <div class="row">
                <div class="col-10 mx-auto text-center my-4  ">
                    <p>
                        Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                    </p>
                </div>
            </div>
        </div>
    </ion-toolbar>
    <ion-toolbar>
        <div class="container ssa-position ">
            <div class="row">
                <div class="col-2 mx-auto p-0 footer-nav-item">
                    <button ion-button class="btn btn-nav ico-an" (click)="goANIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item">
                    <button ion-button class="btn btn-nav ico-cv" (click)="goCVIntro()"></button>
                </div>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>