
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  "> 
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-3 offset-3">
<!--                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>-->
            </div>
        </div>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="row border-bottom">
        <div class="col-12 p-0 bg-menu">

        </div>
        <div class="col-12 text-center my-3">
            <h2>Inicio de sesión</h2>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-10  mx-auto text-center mb-3">
            <form [formGroup]="myForm" (ngSubmit)="saveData()">
                <ion-list>
                    <ion-item>
                        <ion-label stacked>USUARIO</ion-label>
                        <ion-input formControlName="username" [(ngModel)]="loginCredentials.username" type="text" class="cuadro"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label stacked>CONTRASEÑA</ion-label>
                        <ion-input formControlName="password" [(ngModel)]="loginCredentials.password" type="password" class="cuadro"></ion-input>
                    </ion-item>
                </ion-list> 
                <div>
                    <button ion-button block type="submit" [disabled]="!myForm.valid">Continuar</button>
                </div>
            </form>

        </div>
    </div>

    <div class="row ssa-position ">
        <div class="col-12 mx-auto text-center  ">
            <p>

                Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
            </p>
        </div>
    </div>



</ion-content>
