page-login {

    .content{
        background-color: #00AFD8}
    h2{
        color: #fff;
        font-size: 1.6rem ;
    }
    h1{
        color: #fff;
        font-size: 2.8rem ;
    }
    p{
        color: #fff;
        font-size: 1.9rem
    }

    .ssa-position{
        position: absolute;
        font-weight: 400;
        font-weight: 400;
        width: 100%;
    }
    .ssa-position p{
        font-size: .9rem;
        color: #fff;
        padding: 8%;
    }
    .bg-menu{
        background-image: url( "../assets/img/home/menu.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        content: "";
        min-height: 65px;
    }
    .scroll-content{
        padding-top: 0 !important;
    }
    .img-menu{
        max-height: 30px;
    }
    .btn-color{
        border-radius: 1.5rem;
        background-color: #006FB9
    }
    .popover-content{
        width: 90%!important;
        right: 5%!important;
        top: 36%!important;
    }
    .label{
        color: #fff;
        font-size: 1.8rem
    }
    .label-ios[stacked] {

        margin-bottom: 4px;
        font-size: 1.8rem;

    }


    .list > .item-block:last-child, .list > .item-wrapper:last-child .item-block {

        border-bottom: 0.55px solid transparent;

    }
    .list > .item-block:first-child {

        border-top: 0.55px solid transparent;

    }
    .cuadro{
        background-color: #fff;
        min-height: 1.5rem;
        border-radius: 5px

    }
    .label{
        color:#fff!important;
    }
    .list .item-block .item-inner{
        border:none !important;
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border:none !important;
        -webkit-box-shadow:none !important;
        box-shadow: none !important;
    }
}
