page-en-schedule {
    .content{
        background-color: #00AFD8}
    h2{
        color: #fff;
        font-size: 1.8rem ;
    }
    h1{
        color: #fff;
        font-size: 2.8rem ;
    }
    p{
        font-size: 1.8rem;
        font-weight: lighter;
    }
    .bg-menu{
        background-image: url( "../assets/img/home/menu.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        content: "";
        min-height: 65px;
    }
    .scroll-content{
        padding-top: 0 !important;
    }
}
