
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  ">
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="row">
        <div class="col-12 bg-header-enfermedad">
            <div class="col-3 img-header">
                <img src="../assets/img/template/foto1.png" class="img-fluid"/>
            </div>
            <div class="col-8 mt-3" style="margin-left: 9rem">
                <h2>Infografía <b>fibrosis quística</b></h2>
            </div>
        </div>
    </div>
    <div class="row mt-5 ">
        <div class="col-12 row-img bg-info d-flex info">
            <div class="row">
                <div class="col-3 icon-1" >
                    <img (click)="goIcon1()"  src="../assets/img/fibrosis/1.png" class="img-fluid max-3r"/>

                </div>

                <div class="col-3 icon-2" >
                    <img (click)="goIcon2()"  src="../assets/img/fibrosis/2.png" class="img-fluid max-3r"/>

                </div>

                <div class="col-3 icon-3" >
                    <img (click)="goIcon3()"  src="../assets/img/fibrosis/3.png" class="img-fluid max-3r"/>

                </div>

                <div class="col-3 icon-4" >
                    <img (click)="goIcon4()"  src="../assets/img/fibrosis/4.png" class="img-fluid max-3r"/>

                </div>

                <div class="col-3 icon-5" >
                    <img (click)="goIcon5()"  src="../assets/img/fibrosis/5.png" class="img-fluid max-3r"/>

                </div>

                <div class="col-3 icon-6" >
                    <img (click)="goIcon6()"  src="../assets/img/fibrosis/6-p.png" class="img-fluid"/>

                </div>
                <div class="col-3 icon-refe" (click)="goHanldeClick()">
                    <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
                </div>

                <div [class]="iconTxt1">
                    <div class="row">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-3 mt-3">
                            <img src="../assets/img/fibrosis/1.png" class=" max-4r max-icon-num"/>
                        </div>
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/fibrosis/1-i.png" class="max-icon-h"/>
                            <p class="mt-4">
                                <b>Sabías que...</b><br>
                                la fibrosis quística (FQ) es una enfermedad hereditaria en la que el transporte de sodio al interior y exterior de las células se afecta, lo que provoca que el cuerpo produzca un moco espeso en pulmones, sistema digestivo y otros órganos?<sup>1,2</sup>

                            </p>
                        </div>
                    </div>
                </div>


                <div [class]=" iconTxt2">
                    <div class="row">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-3 mt-3">
                            <img src="../assets/img/fibrosis/2.png" class=" max-4r max-icon-num"/>
                        </div>
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/fibrosis/2-i.png" class="max-icon-h"/>
                            <p class="my-5">
                                <b>Sabías que...</b><br>
                                es más frecuente entre descendientes de europeos del centro y del norte?<sup>1</sup><br>
                                Para que se manifieste, es necesario que ambos padres sean portadores del gen de la FQ. El portador del gen no tiene FQ y por tanto, no tiene síntomas de la enfermedad.<sup>1-3</sup>
                            </p>
                        </div>
                    </div>
                </div>




                <div [class]=" iconTxt3">
                    <div class="row">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-3 mt-3">
                            <img src="../assets/img/fibrosis/3.png" class=" max-4r max-icon-num"/>
                        </div>
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/fibrosis/3-i.png" class="max-icon-h"/>
                            <p class="mt-4">
                                <b> ¿Cómo se diagnostica?</b>
                            </p>
                            <p class="mt-4">
                                Puede ser diagnosticada desde el nacimiento y antes de que se manifiesten los síntomas a través de una prueba que se llama tamiz neonatal, que además detecta otras enfermedades hereditarias.<sup>3,4</sup>
                            </p>
                            <p class="mt-4">
                                Otra forma de diagnosticar es identificando los síntomas y consultando con un especialista. A estos pacientes se les hace una prueba de cloro en sudor para corroborar el diagnóstico.<sup>3</sup>
                            </p>
                        </div>
                    </div>

                </div>
                <div [class]=" iconTxt4">
                    <div class="row">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-3 mt-3">
                            <img src="../assets/img/fibrosis/4.png" class=" max-icon-h max-icon-num"/>
                        </div>
                        <div class="col-12 mt-5 text-icon">

                            <p class="m-4 mt-5">
                                <b>Sabías que...</b><br>
                            </p>
                            <p>
                                los síntomas pueden presentarse en la infancia, pero es posible que lleguen a manifestarse hasta la adolescencia o incluso en el periodo de adultez, por lo que es importante acudir con tu médico si presentas algún indicio de la enfermedad?<sup>2</sup>
                            </p>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-11 mx-auto mb-4">
                            <img src="../assets/img/fibrosis/4-i.png" alt="" class="img-fluid max-completa">
                        </div>
                    </div>


                </div>
                <div [class]=" iconTxt5">
                    <div class="row">
                        <div class="col-3 mt-3">
                            <img src="../assets/img/fibrosis/5.png" class=" max-4r max-icon-h max-icon-num"/>
                        </div>
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/fibrosis/5-i.png" class="max-icon-h max-icon-num"/>
                            <p class="mt-4">
                                <b>¿Cuál es el tratamiento?</b>
                            </p>
                            <p>
                                No existe una cura para la fibrosis quística, pero existen muchos tratamientos que pueden aliviar los síntomas y reducir cualquier complicación.<sup>2</sup>
                                <br>
                                El tratamiento para los problemas pulmonares incluye:1,2
                            </p>
                            <p>
                                <b>● Antibióticos:</b> previenen y tratan las infecciones
                            </p>
                            <p>
                                <b>● Antiinflamatorios:</b> reducen la hinchazón de la vía respiratoria
                            </p>
                            <p>
                                <b>● Medicamentos inhalados:</b> ayudan a mantener los bronquios abiertos

                            </p>
                            <p>
                                <b> ● Enzimas pancreáticas:</b> ayudan a que el estómago e intestinos absorban los nutrientes disminuyendo los síntomas gastrointestinales
                            </p>
                            <p>
                                <b> ● Fisioterapia:</b> ayuda a expulsar el moco mediante golpecitos en la espalda y pecho

                            </p>
                            <p>
                                <b>● Medicamentos especializados:</b> existe actualmente un medicamento que mejora la función pulmonar, mejora la fluidez del moco, previene complicaciones y mejora la calidad de vida<sup>5,6</sup>

                            </p>
                        </div>
                    </div>

                </div>
                <div [class]=" iconTxt6">
                    <div class="row">
                        <div class="col-12 mt-5 img-fluid">

                            <img src="../assets/img/template/icon_close.png" alt="" (click)="goIconOff()" class="img-close">
                            <img  src="../assets/img/fibrosis/pi.png" class="max-completa"/>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div [class]="className">
        <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
        <h2 class="ref-h2 my-4">Referencias:</h2>
        <p><b>1.</b>
            Medline Plus. Cystic fibrosis. U.S. National Library of Medicine. [Consultado el 21 de mayo de 2018] Disponible en: https://medlineplus.gov/ency/article/000 107.htm
        </p>
        <p><b>2.</b>
            Mayo Clinic. Fibrosis quística. [Consultado el 21 de mayo de 2018] Disponible en: https://www.mayoclinic.org/es-es/diseas es-conditions/cystic-fibrosis/symptoms-c auses/syc-20353700
        </p>
        <p>
            <b>3.</b>
            Fibrosis quística. Información básica sobre tipología, sintomatología y tratamientos disponibles. Roche. [Consultado el 22 de mayo de 2018] Disponible en: http://www.roche.com.ar/content/dam/r oche_argentina/es_AR/imagenes/06/info grafias%20para%20la%20salud/Que-es-l a-Fibrosis-Quistica.pdf
        </p>
        <p><b>4.</b>
            Norma Oficial Mexicana NOM-034-SSA2-2013, Para la prevención y control de los defectos del nacimiento. [Consultada el 21 de mayo de 2018] Disponible en: http://www.dof.gob.mx/nota_detalle.php ?codigo=5349816&fecha=24/06/2014&p rint=true
        </p>
        <p><b>5.</b>
            Lezana JL, Bustamante A, Ovando JE, Boites R, Ruiz H. Fibrosis Quística. Guías clínicas para el diagnóstico y tratamiento. Segunda edición. Intersistemas. 2015.
        </p>
        <p><b>6.</b>
            Información Para Prescribir Alfa dornasa.
        </p>

    </div>

    <div class="row index-9">
        <div class="col-12 row-img">
            <div class="row">
                <div class="col-10 mx-auto text-center my-4 p-text">
                    <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                            Consulte a su médico</b></p>
                    <p>
                        Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                    </p>
                </div>
            </div>
        </div>
    </div>
</ion-content>
