<!--
  Generated template for the PorTiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  ">
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="row">
        <div class="col-12 bg-header-enfermedad">
            <div class="col-3 img-header">
                <img src="../assets/img/template/foto1.png" class="img-fluid"/>
            </div>
            <div class="col-8 mt-3 offset-3" >
                <h1 class="">Consejos de rehabilitación</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-5 p-0 p-absolute" >
            <img src="../assets/img/fibrosis/back.png" class="img-fluid p-absolute"/>
        </div>


        <div class="col-9 mx-auto b-1 mt-30">
            <div clas="row">
                <div class="col-3 mt-3">
                    <img src="../assets/img/fibrosis/1.png" class="img-fluid"/>
                </div>
                <div class="col-6 mx-auto mt--5">
                    <img src="../assets/img/fibrosis/e-1.png" class="img-fluid"/>

                </div>
                <div class="col-12">
                    <p>
                        <b>Es importante que realice actividades deportivas o físicas</b>, el ejercicio le ayudará a ser más fuerte y respirar mejor.<sup>1</sup>
                    </p>
                </div>

            </div>
        </div>

        <div class="col-9 mx-auto b-1">
            <div clas="row">
                <div class="col-3 mt-3">
                    <img src="../assets/img/fibrosis/2.png" class="img-fluid"/>
                </div>
                <div class="col-4 mx-auto mt--5">
                    <img src="../assets/img/fibrosis/imagen_2.png" class="img-fluid"/>

                </div>
                <div class="col-12">
                    <p>
                        <b>Realice ejercicios de fortalecimiento de los músculos del pecho</b> (inflar globos, bolsas).
                    </p>
                </div>

            </div>
        </div>
        <div class="col-9 mx-auto b-1">
            <div clas="row">
                <div class="col-3 mt-3">
                    <img src="../assets/img/fibrosis/3.png" class="img-fluid"/>
                </div>
                <div class="col-4 mx-auto mt--5">
                    <img src="../assets/img/fibrosis/e-3.png" class="img-fluid"/>

                </div>
                <div class="col-12">
                    <p>
                      <b> Fisioterapia pulmonar,</b> es decir, mediante palmaditas en el pecho y espalda, la flema acumulada será expulsada de manera más fácil (puede pedir ayuda de sus familiares).<sup>1,2</sup>
                    </p>
                </div>

            </div>
        </div>

    </div>
    <div class="col-12 row-img">
        <div class="col-12 mb-5">
            <div [class]="className">
                <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
                <h2 class="">Referencias:</h2>
                <p>
                    1. Guía de Atención Integral para la prevención, diagnóstico, tratamiento y rehabilitación de Fibrosis Quística. Asociación Colombiana de Neumología Pediátrica. Consultado el 25 de mayo de 2018 en: https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/INEC/IETS/GPC-Fibrosis-Quistica-niños-padres.pdf
                </p>
                <p>
                    2. National Center of Advancing Translational Sciences. Fibrosis quística. Genetic and Rare Diseases Information Center. Consultado el 25 de mayo de 2018 en: https://rarediseases.info.nih.gov/espanol/12467/fibrosis-quistica
                </p>
            </div>
        </div>
        <div class="col-12 text-center my-5r" (click)="goHanldeClick()" >
            <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
        </div>
    </div>
    <div class="col-12 row-img">
        <div class="row">
            <div class="col-10 mx-auto text-center my-4 p-text">
                <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                        Consulte a su médico</b></p>
                <p>
                    Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                </p>
            </div>
        </div>
    </div>
</ion-content>
