
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  ">
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="row">
        <div class="col-12 bg-header-enfermedad">
            <div class="col-3 img-header">
                <img src="../assets/img/template/foto1.png" class="img-fluid"/>
            </div>
            <div class="col-8 mt-3 offset-3" >
                <h2>Conozca su enfermedad</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-9 m-l-e mb-5" >
            <img src="../assets/img/anemia/back.png" class="img-fluid" style="position: absolute"/>
        </div>
        <div class="col-9 b-1">
            <h2 class="mb-4"> ¿Qué es la anemia?</h2>
            <p>
                La anemia es una enfermedad en la que existe una escasez de glóbulos rojos y en consecuencia disminuye la cantidad de hemoglobina<sup>1</sup>
            </p>

            <p>
                Los glóbulos rojos a través de la hemoglobina se encargan de transportar oxígeno desde los pulmones a todo el cuerpo<sup>1</sup>
            </p>
            <div class="row">
                <div class="col-12 text-center my-3">
                    <img src="../assets/img/anemia/img1.png" class="img-fluid"/>
                </div>
            </div>
        </div>



        <div class="col-12 row-img">
            <div class="row">
                <div class="col-6  mx-auto text-center">
                    <img src="../assets/img/anemia/img2.png" class="img-fluid"/>
                </div>

                <div class="col-12">
                    <div class="b-2">
                        <h2 class="mb-3"><b>La anemia puede hacer que:<sup>1</sup></b></h2>
                        <ul class="p-0 ml-4">
                            <li>
                                Se vea pálido
                            </li>
                            <li>
                                Se sienta cansado y con poca energía
                            </li>
                            <li>
                                Tenga poco apetito
                            </li>
                            <li>
                                Tenga dificultad para dormir
                            </li>
                            <li>
                                Le cueste trabajo pensar con claridad
                            </li>
                            <li>
                                Sienta mareos o tenga dolores de cabeza
                            </li>
                            <li>
                                Su corazón lata muy rápido
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 row-img">
            <div class="row">
                <div class="col-6  mx-auto text-center">
                    <img src="../assets/img/anemia/img3.png" class="img-fluid"/>
                </div>

                <div class="col-12">
                    <div class="b-2">
                        <h2 class="mb-4"><b>
                                ¿Qué causa la anemia?
                            </b></h2>
                        <ul class="p-0">
                            <li>
                                Enfermedades como insuficiencia renal
                            </li>
                            <li>
                                Pérdida de sangre debido a accidentes o cirugías
                            </li>
                            <li>
                                Infección o inflamación en el cuerpo
                            </li>
                            <li>
                                Poco hierro, vitamina B12 o ácido fólico en el cuerpo
                            </li>
                            <li>
                                Una dieta inadecuada
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 row-img">
            <div class="row">
                <div class="col-6  mx-auto text-center">
                    <img src="../assets/img/anemia/img4.png" class="img-fluid"/>
                </div>

                <div class="col-12">
                    <div class="b-2">
                        <h2 class="mb-4"><b>
                                ¿Por qué las personas con insuficiencia renal desarrollan anemia?
                            </b></h2>
                        <ul class="p-0 ml-4">
                            <li>
                                Los riñones producen una hormona llamada eritropoyetina (EPO)<sup>1</sup>
                            </li>
                            <li>
                                La eritropoyetina le dice al cuerpo que produzca glóbulos rojos<sup>1</sup>
                            </li>
                            <li>
                                En la insuficiencia renal, los riñones no producen suficiente eritropoyetina<sup>1</sup>
                            </li>
                            <li>
                                Como no hay eritropoyetina, se disminuye la cantidad de glóbulos rojos y esto causa anemia<sup>1</sup>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 row-img">
            <div class="row">
                <div class="col-6  mx-auto text-center">
                    <img src="../assets/img/anemia/img5.png" class="img-fluid"/>
                </div>

                <div class="col-12">
                    <div class="b-2">
                        <h2 class="mb-4"><b>
                                ¿Todas las personas con enfermedad renal presentan anemia?
                            </b></h2>
                        <p class="my-4">
                            La mayoría de las personas con enfermedad renal presentarán anemia, aunque se presenta especialmente en:<sup>1</sup>
                        </p>
                        <ul class="p-0 ml-4">
                            <li>
                                Mujeres
                            </li>
                            <li>
                                Personas con pérdida de la función del riñón moderada o grave<sup>1</sup>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 row-img">
            <div class="row">
                <div class="col-6  mx-auto text-center">
                    <img src="../assets/img/anemia/img6.png" class="img-fluid"/>
                </div>

                <div class="col-12">
                    <div class="b-2">
                        <h2 class="mb-4"><b>
                                ¿CÓMO SABRÁ MI MÉDICO SI ESTOY RESPONDIENDO BIEN AL TRATAMIENTO?
                            </b></h2>
                        <p class="my-4">

                            Su médico controlará su concentración de hemoglobina al menos mensualmente<sup>1</sup>
                        </p>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-12 row-img">
            <div class="col-12">
                <div [class]="className">
                    <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
                    <h2 class="ref-h2">Referencias:</h2>
                    <p>1. National Kidney Foundation. La anemia y la insuficiencia renal crónica. Estadios 1-4. [Consultado el 14 de mayo de 2018] Disponible en: https://www.kidney.org/sites/default/files/docs/anemia_sp.pdf</p>
                </div>
            </div>
            <div class="col-12 text-center" (click)="goHanldeClick()" style="margin-top: 9%;">
                <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
            </div>
        </div>
        <div class="col-12 row-img">
            <div class="row">
                <div class="col-10 mx-auto text-center my-4 p-text">
                    <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                            Consulte a su médico</b></p>
                    <p>
                        Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                    </p>
                </div>
            </div>
        </div>
    </div>
</ion-content>
