
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  ">
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
              <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="row">
        <div class="col-12 bg-header-enfermedad">
            <div class="col-3 img-header">
                <img src="../assets/img/template/foto1.png" class="img-fluid"/>
            </div>
            <div class="col-8 mt-3" style="margin-left: 9rem">
                <h2>Infografía</h2>
            </div>
        </div>
    </div>
    <div class="row mt-5 ">
        <div class="col-12 row-img bg-info d-flex info">
            <div class="row">
                <div class="col-3 icon-1" >
                    <img (click)="goIcon1()"  src="../assets/img/artritis/info/2/icon_encendido.png" class="img-fluid"/>

                </div>

                <div class="col-3 icon-2" >
                    <img (click)="goIcon2()"  src="../assets/img/artritis/info/4/icon_prendido.png" class="img-fluid"/>

                </div>

                <div class="col-3 icon-3" >
                    <img (click)="goIcon3()"  src="../assets/img/artritis/info/5/icon_prendido.png" class="img-fluid"/>

                </div>

                <div class="col-3 icon-4" >
                    <img (click)="goIcon4()"  src="../assets/img/artritis/info/6/icon_prendido.png" class="img-fluid"/>

                </div>

                <div class="col-3 icon-6" >
                    <img (click)="goIcon5()"  src="../assets/img/artritis/info/7/icon_prendido.png" class="img-fluid"/>

                </div>

                <div class="col-3 icon-7" >
                    <img (click)="goIcon6()"  src="../assets/img/artritis/info/8/icon_encendido.png" class="img-fluid"/>

                </div>

                <div class="col-3 icon-8" >
                    <img (click)="goIcon7()"  src="../assets/img/artritis/info/1/icon_encendido.png" class="img-fluid"/>

                </div>

                <div class="col-3 icon-9" >
                    <img (click)="goIcon8()" src="../assets/img/artritis/info/3/icon_prendido.png" class="img-fluid"/>

                </div>

                <div class="col-3 icon-refe" (click)="goHanldeClick()">
                    <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
                </div>

                <div [class]="iconTxt1">
                    <div class="row mt-3">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 mt-5 text-icon">
                            <img src="../assets/img/artritis/info/2/icon_fancy.png" class="max-icon-h"/>
                            <p>
                              <b>¿A quién afecta?</b><br>
                              Afecta a adultos, a jóvenes y a niños.<sup>1,3</sup>
                            </p>
                            <p>
                              <b>Adultos:</b>
                              Las mujeres se ven más afectadas en una relación 3:1 en comparación con los
                              ARJ
                              hombres.1
                              Inicia a partir de la cuarta década de la vida.<sup>1</sup>
                            </p>
                            <p>
                              <b>¿Sabías qué... la AR afecta a una de cada 100 personas?<sup>4</sup></b><br>
                              En todo el mundo, se observa una mayor prevalencia en Europa Oriental y América Latina.<sup>5</sup>
                            </p>

                        </div>
                    </div>
                </div>


                <div [class]=" iconTxt2">
                    <div class="row mt-3">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/artritis/info/4/icon_fancy.png" class="max-icon-h"/>
                            <p class="txt-margin">
                                <b>¿Cuáles son las causas?</b>
                            </p>
                            <p class="txt-margin">
                              <b>Herencia familiar:</b>existen genes
                              asociados a la AR que ocasionan una
                              predisposición a presentarla.<sup>2,7</sup>
                            </p>
                            <p class="txt-margin">
                              <b>Factores ambientales externos:</b>bajas temperaturas, infecciones, traumatismos o tabaquismo, entre otros.<sup>2</sup>
                            </p>
                            <p class="txt-margin">
                              <b>Reacción exagerada del sistema inmunológico:</b>el sistema inmune ataca de manera regular a cualquier partícula extraña al cuerpo;
                              en la AR ataca por igual a esas partículas extrañas y a las propias células del cuerpo.<sup>2,7</sup>
                            </p>
                        </div>
                    </div>
                </div>

                <div [class]=" iconTxt3">
                    <div class="row mt-3">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/artritis/info/5/icon_fancy.png" class="max-icon-h"/>
                            <p class="mt-4">
                                <b> ¿Cuáles son las articulaciones más afectadas?<sup>7</sup></b>
                            </p>
                            <img  src="../assets/img/artritis/info/5/imagen.png"/><br>
                        </div>
                    </div>

                </div>
                <div [class]=" iconTxt4">
                    <div class="row mt-3">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 mt-5 text-icon">
                          <img  src="../assets/img/artritis/info/6/icon_fancy.png" class="max-icon-h"/>
                          <p class="txt-margin">
                              <b>¿Cómo se diagnostica?</b>
                          </p>
                          <p class="txt-margin">
                            El diagnóstico de AR lo realiza el médico con base en la historia clínica, hallazgos físicos, estudios de laboratorio (en esto se buscan marcadores de inflamación,
                              ARJ
                            anticuerpos, entre otros) y radiológicos (radiografías, tomografía o resonancia magnética).<sup>1,2</sup>
                          </p>
                        </div>
                    </div>
                </div>
                <div [class]=" iconTxt5">
                    <div class="row mt-3">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/artritis/info/7/icon_fancy.png" class="max-icon-h"/>
                            <p class="txt-margin">
                                <b>¿Cómo se trata?</b>
                            </p>
                            <p class="txt-margin">
                              Actualmente existen muchos
                              medicamentos para tratar y controlar la
                              enfermedad. Estos medicamentos se
                              dividen en No biológicos y biológicos.
                            </p>
                            <p class="txt-margin">
                              Dentro de los primeros, se encuentran: los analgésicos y antiinflamatorios, corticosteroides y otros llamados medicamentos antirreumáticos modificadores de la enfermedad.<sup>2</sup>
                            </p>
                            <p class="txt-margin">
                              Los medicamentos biológicos son moléculas creadas en laboratorios, parecidas a proteínas del cuerpo, cuya función es detener las sustancias que causan inflamación y destrucción de las articulaciones.<sup>2</sup>
                            </p>
                        </div>
                    </div>
                </div>
                <div [class]=" iconTxt6">
                    <div class="row mt-3">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/artritis/info/8/icon_fancy.png" class="max-icon-h"/>
                            <p class="mt-4">
                                <b>Artritis reumática juvenil (ARJ)</b>
                            </p>
                            <p class="my-5">
                              Causa inflamación en las articulaciones
                              con la característica de que antes o
                              durante la aparición de la artritis, se
                              presenta inflamación en otros órganos
                                ARJ
                              (hígado, bazo y ganglios) y pueden observarse erupciones en la piel y fiebre constante (diaria y por dos semanas aproximadamente); puede afectar el corazón y los pulmones.<sup>8</sup>
                            </p>
                            <p class="my-5">
                              Las niñas son las más afectadas (2:1) en relación con los niños.<sup>3</sup>
                            </p>
                            <p class="my-5">
                              La ARJ inicia en la infancia, entre el primer año de vida y los 3 años.<sup>3</sup>
                            </p>
                            <p class="my-5">
                              Los niños con ARJ tienen afectaciones en distinto número de articulaciones, siendo más frecuente que sólo se afecte una sola articulación.<sup>8</sup>
                            </p>
                            <img  src="../assets/img/artritis/info/8/imagen.png"/>
                            <p class="txt-margin">
                              <b>¿Cuáles son los síntomas?</b>
                            </p>
                            <ul class="sintomas-li">
                              <li>Daño en las articulaciones (artritis)<sup>3,9</sup></li>
                              <li>Dolor persistente en todo el cuerpo(crónico)<sup>3,9</sup></li>
                              <li>Falta de crecimiento<sup>3,9</sup></li>
                              <li>Fiebre, principalmente en la tarde y en la noche hasta de 40 oC<sup>3,9</sup></li>
                              <li>Sarpullido (manchas rosas que no causan comezón)3,9<sup>3,9</sup></li>
                            </ul>
                            <p><b>¿Cuál es el tratamiento?</b></p>
                            <p>Actualmente no existe un tratamiento para curar la ARJ. Los tratamientos (al igual que para los adultos) están dirigidos a disminuir la inflamación y el dolor, mejorar el movimiento y preservar la integridad de las articulaciones.<sup>2,8</sup></p>
                        </div>
                    </div>
                </div>
                <div [class]="iconTxt7">
                    <div class="row mt-3">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/artritis/info/1/icon_fancy.png" class="max-icon-h"/>
                            <p class="txt-margin">
                                <b>¿Sabías que...?</b>
                            </p>
                            <p class="txt-margin">
                              la artritis reumatoide (AR) es una
                              enfermedad autoinmune, crónica,
                              progresiva e incapacitante que ocasiona
                              inflamación de las articulaciones dañando
                              Erosión del hueso Erosión del cartílago Inflamación
                                el cartílago y el hueso<sup>1,2</sup>
                            </p>
                            <img  src="../assets/img/artritis/info/1/imagen.png" />
                        </div>
                    </div>
                </div>

                <div [class]="iconTxt8">
                    <div class="row mt-3">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/artritis/info/3/icon_fancy.png" class="max-icon-h"/>
                            <p class="txt-margin">
                                <b>¿Cuáles son los síntomas?</b>
                            </p>
                            <ul class="sintomas-li" style="padding: 0 11rem 3rem 4rem;">
                              <li>Dolor articular<sup>6</sup></li>
                              <li>Rigidez articular<sup>6</sup></li>
                              <li>Hinchazón articular<sup>6</sup></li>
                              <li>Dificultad para el movimiento<sup>6</sup></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div [class]="className">
            <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
            <h2 class="ref-h2 my-4">Referencias:</h2>
            <p><b>1.</b>
                Guía de Práctica Clínica. Diagnóstico y tratamiento de artritis reumatoide del adulto. México; Instituto Mexicano del Seguro Social. 2010.

            </p>
            <p><b>2.</b>
              National Rheumatoid Arthritis
              Society. Whats is RA? Consultado el 11 de junio de 2018. Disponible en: <i>https://www.nras.org.uk/what-is-ra-article#diagram</i>
            </p>
            <p>
                <b>3.</b>
                Guía de Práctica Clínica: Tratamiento Farmacológico de la Artritis Idiopática Juvenil. México; Secretaría de Salud, 2010.
            </p>
            <p><b>4.</b>
                Wasserman A. Diagnosis and Management of Rheumatoid Arthritis. <i>Am Fam Physician</i>. 2011;84(11):1245-1252.
            </p>
            <p><b>5.</b>
                WHO. Disease and injury country estimates. Consultado el 11 de junio de 2018. Disponible en: <i>http://www.who.int/healthinfo/global_burden_disease/estimates_country/en/index.html</i>
            </p>
            <p><b>6.</b>
                NHS. Rheumatoid Arthritis. Consultado el 11 de junio de 2018. Disponible en: <i>https://www.nhs.uk/conditions/rheumatoid-arthritis/symptoms/</i>
            </p>
            <p><b>7.</b>
                Mendoza G, Rocha A, Guerra A, et al. Artritis reumatoide y dislipidemias. <i>El Residente.</i> 2013;8(1):12-22.
            </p>
            <p><b>8.</b>
                Ravelli A, Martini A. Juvenile <i>idiopathic arthritis.</i> Lancet. 2007;369:767-778.
            </p>
            <p><b>9.</b>
                Calvo Penadés I. Artritis idiopática juvenil de inicio sistémico. <i>Protoc diagn ter pediatr.</i> 2014;1:27-36.
            </p>
        </div>

    <div class="row index-9">
        <div class="col-12 row-img">
            <div class="row">
                <div class="col-10 mx-auto text-center my-4 p-text">
                    <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                            Consulte a su médico</b></p>
                    <p>
                        Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                    </p>
                </div>
            </div>
        </div>
    </div>
</ion-content>
