page-artritis-infografia {
  .content{
      background-color: #EAEAEA}

  .bg-header-enfermedad {
      background-color: #00AFD8;
      height: 57px;
  }

  h2{
      color: #fff;
      font-size: 1.8rem ;
  }
  h1{
      color: #fff;
      font-size: 2.8rem ;
  }
  p{
      color: #fff;
      font-size: 1.5rem
  }

  .m-text {
    margin: 1.5rem;
  }

  .txt-margin{
    margin : 1rem 0 1rem 0;
  }

  .ssa-position{
      font-weight: 400;
      font-weight: 400;
      width: 100%;
  }
  .ssa-position p{
      font-size: .7rem;
      color: #fff;
  }
  .bg-menu{
      background-image: url( "../assets/img/home/menu.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      content: "";
      min-height: 65px;
  }
  .scroll-content{
      padding-top: 0 !important;
  }

  .img-header {
      position: absolute;
      z-index: 9999
  }

  .bg-enfermedad {
      background-image: url( "../assets/img/template/back_sistema_nervioso.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      content: "";
      height: 100%;
  }
  .bg-info {
      background-image: url( "../assets/img/artritis/info/back.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      content: "";
      height: 100vh;
  }

  .b-1 {
      border-radius: 10px;
      background-color: #005eb6;
      width: 300px;
      padding: 25px;
      margin: auto;
      margin-top: 87%;
  }

  .b-modal {
      border-radius: 10px;
      background-color: #005eb6;
      width: 90%;
      padding: 25px;
      margin: auto;
      margin-top: 25%;
      color: #fff;
      position: absolute;
      top: 0%;
      z-index: 9999

  }
  .b-modal-1 {
      border-radius: 10px;
      background-color: #005eb6;
      margin: auto;
      position: absolute
  }

  .b-2 {
      border-radius: 10px;
      background-color: #fff;
      color: #005eb6;
      width: 300px;
      padding: 25px;
      margin: auto;
  }

  .b-2 h2 {
      color: #005eb6;
  }

  .b-2 p {
      color: #005eb6;
  }

  .b-1 ul li {
      color: #fff;
  }

  .row-img {
      background-color: #EAEAEA;
      padding: 2rem 0 2rem 0;
  }

  .d-none-1 {
      color: red;
  }

  .img-close {
      max-width: 40px;
      top: 0.5rem;
      right: 1rem;
      position: absolute;

  }


  .btn-referencias {
      max-width: 35px;
      margin: 0 4rem 2rem 0;
  }

  .footer-text {
      background-color:#E9E9E9;
  }
  .p-text p {
      font-size: .9rem;
      color: #000;
  }
  .info .col-3{
      position: absolute
  }
  .icon-1{
      top: 12.5%;
      left: 0.5%;
  }
  .icon-2{
    top: 9%;
    left: 30%;
  }
  .icon-3{
    top: 14.5%;
    left: 46%;
  }
  .icon-4{
    top: 26%;
    left: 64%;
  }
  .icon-5{
      top: 47%;
      left: 9%;
  }
  .icon-6{
      top: 48%;
      left: 58%;
  }
  .icon-7{
    top: 59.6%;
    left: 27%;
  }
  .icon-8{
    top: 38.5%;
    left: 16.5%;
  }
  .icon-9{
    top: 28%;
    left: 7.5%;
  }
  .icon-refe{
    top: 72%;
    right: 11%;

  }


  .info .img-fluid{
      max-height: 5rem;
  }
  .icon-info{
      background-color: rgb(255,255,255.5);
      width: 80%;
      border-radius: 10px;
      margin: auto;
      border: 2px solid #ddd;
      z-index: 9999999;
  }
  .icon-info h1, p{
      color:#026FB6;
  }
  .icon-info p{
      font-size: 1.4rem;
      margin: 1.5rem

  }
  .b-modal p{
      color: #fff;

  }

  .sintomas-li {
    color: #026FB6;
    margin: -1rem;
  }
}
