<!--
  Generated template for the PorTiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  ">
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="row">
        <div class="col-12 bg-header-enfermedad">
            <div class="col-4 img-header">
                <img src="../assets/img/template/foto1.png" class="img-fluid max-header"/>
            </div>
            <div class="col-8 mt-3 offset-3" >
                <h1 class="mt-3">Consejos nutricionales</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-5 p-0 p-absolute" >
            <img src="../assets/img/fibrosis/back-n.png" class="img-fluid p-absolute"/>
        </div>

        <div class="col-10 mx-auto b-1 ba-color mt-30">
            <div clas="row">
                <div class="col-12">
                    <p class="my-5">
                         A menudo, el páncreas se ve afectado por la FQ. Una de las principales funciones del páncreas es la producción de enzimas (es decir, sustancias que ayudan a digerir y absorber proteínas y grasas). Al estar afectado, es posible que estas enzimas no se liberen de manera adecuada ocasionando problemas de absorción de nutrientes, lo que puede ocasionar desnutrición, disminución en la ganancia de peso y falta de crecimiento.<sup>1</sup>
                         <br><br>Para evitar esta situación, le recomendamos:<sup>1</sup>
                    </p>
                </div>

            </div>
        </div>

        <div class="col-9 mx-auto b-1 mt-5">
            <div clas="row">
                <div class="col-3 mt-3">
                    <img src="../assets/img/fibrosis/1.png" class="img-fluid"/>
                </div>
                <div class="col-9 mx-auto mt--5">
                    <img src="../assets/img/fibrosis/n-1.png" class="img-fluid"/>

                </div>
                <div class="col-12">
                    <p>
                        Ingerir <b>enzimas pancreáticas </b>en todas las comidas, las cuales le ayudan a absorber grasa y proteínas.
                    </p>
                </div>

            </div>
        </div>

        <div class="col-9 mx-auto b-1">
            <div clas="row">
                <div class="col-3 mt-3">
                    <img src="../assets/img/fibrosis/2.png" class="img-fluid"/>
                </div>
                <div class="col-5 mx-auto mt--5">
                    <img src="../assets/img/fibrosis/n-2.png" class="img-fluid"/>

                </div>
                <div class="col-12">
                    <p>
                        <b>Comer pequeñas porciones de alimento a lo largo del día,</b> esto incluye colaciones nutritivas, suplementos nutricionales (en malteadas por ejemplo).
                    </p>
                </div>

            </div>
        </div>
        <div class="col-9 mx-auto b-1 mb-3">
            <div clas="row">
                <div class="col-3 mt-3">
                    <img src="../assets/img/fibrosis/3.png" class="img-fluid"/>
                </div>
                <div class="col-9 mx-auto mt--5">
                    <img src="../assets/img/fibrosis/n-3.png" class="img-fluid"/>

                </div>
                <div class="col-12">
                    <p>
                        <b> Consumir más calorías y proteínas </b>(crema ácida, quesos, leche entera o descremada, carne de pollo, de res, de pescado, huevos, jamón, verduras, frutas y semillas [nueces], purés de papa, arroz, mantequilla de cacahuate, chocolate, bombones, pan).
                    </p>
                </div>

            </div>
        </div>
        <div class="col-9 mx-auto b-1">
            <div clas="row">
                <div class="col-3 mt-3">
                    <img src="../assets/img/fibrosis/4.png" class="img-fluid"/>
                </div>
                <div class="col-9 mx-auto mt--5">
                    <img src="../assets/img/fibrosis/n-4.png" class="img-fluid"/>

                </div>
                <div class="col-12">
                    <p>
                        <b>Consumir muchos líquidos</b>
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <img src="../assets/img/fibrosis/fibrosis_nutricional_buen_comer.png" class="img-fluid"/>
        </div>
    </div>

    <div class="col-12 row-img">
        <div class="col-12 mb-5">
            <div [class]="className">
                <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
                <h2 class="">Referencias:</h2>
                <p>
                   1. Medline Plus. Cystic fibrosis – nutrition. National Institutes of Health. Consultado el 25 de mayo de 2018 en: https://medlineplus.gov/ency/article/002437.htm
                </p>
                <p>
                    2. NORMA Oficial Mexicana NOM-043-SSA2-2012, Servicios básicos de salud. Promoción y educación para la salud en materia alimentaria. Criterios para brindar orientación.
                </p>
            </div>
        </div>
        <div class="col-12 text-center my-5r" (click)="goHanldeClick()" >
            <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
        </div>
    </div>
    <div class="col-12 row-img">
        <div class="row">
            <div class="col-10 mx-auto text-center my-4 p-text">
                <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                        Consulte a su médico</b></p>
                <p>
                    Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                </p>
            </div>
        </div>
    </div>
</ion-content>
