page-nutricion-fibrosis {


    .content{
        background-color: #EAEAEA}

    .bg-header-enfermedad {
        background-color: #00AFD8;
        min-height: 6rem;
    }

    h2{
        color: #fff;
        font-size: 1.8rem ;
    }
    h1{
        color: #fff;
        font-size: 1.8rem ;
    }
    p{
        color: #fff;
        font-size: 1.5rem
    }

    .ssa-position{
        position: absolute;
        font-weight: 400;
        font-weight: 400;
        width: 100%;
    }
    .ssa-position p{
        font-size: .7rem;
        color: #fff;
    }
    .bg-menu{
        background-image: url( "../assets/img/home/menu.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        content: "";
        min-height: 65px;
    }
    .scroll-content{
        padding-top: 0 !important;
    }

    .img-header {
        position: absolute;
        z-index: 9999;
        max-height: 125px

    }
    .max-header{
        max-height: 125px
    }

    .b-1 {
        border-radius: 10px;
        background-color: #fff;
        margin: auto;
        margin-top: 3rem

    }
    .b-1 p, h2{
        color: #005eb6;
    }
    .b-2 {
        border-radius: 10px;
        background-color: #005eb6;
        margin: auto;
        margin-top: 3rem

    }
    .b-2 p, h2{
        color: #005eb6;
    }


    .b-modal {
        border-radius: 10px;
        background-color: #005eb6;
        padding: 25px;
        margin: auto;
        margin-top: 4rem;
    }

    .img-close {
        max-width: 25px;
        position: absolute;
        top: 1.5rem;
        right: 3rem;
    }

    .btn-referencias {
        max-width: 35px;
        position: absolute;
        top: -4.5rem;
        right: 5rem;
    }

    .footer-text {
        background-color:#E9E9E9;
    }
    .p-text p {
        font-size: .9rem;
        color: #000;
    }

    .ref-h2 {
        margin: 0 0 10%;
    }

    .img-fluid{
        margin-bottom: 2rem;
    }
    .bg-ejer
    {
        background-image: url( "../assets/img/fibrosis/back.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .p-absolute{
        position: absolute;
    }
    .mt--5{
        margin-top: -3rem
    }
    .mt-30{
        margin-top: 30%;
    }
    .my-5r{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .ba-color{
        background-color: #005eb6!important;
    }
    .ba-color p{
        color: #fff;
    }
}
