
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  "> 
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="row border-bottom color-titilu">
        <div class="col-12 p-0 bg-menu">

        </div>
        <div class="col-12 text-center my-3 ">
            <h2> <img src="../assets/img/template/sm-4.png" alt="" class=" max-icon-h mr-3"/> <b>POR TI</b> te acompaña </h2>
        </div>
    </div>
    <div class="row">
    </div>
    <div  class="row ">
        <div *ngFor="let item of items" (click)="goFrasesEs(item)" class="col-4 p-0">
            <img src="../assets/img/frases/esclerosis/{{item.mini}}.png" alt="" class="m-min"  />
        </div>
    </div>

  

</ion-content>
<ion-footer>
    <ion-toolbar>
        <div class="container ssa-position ">
            <div class="row">
                <div class="col-10 mx-auto text-center my-4  ">
                    <p>
                       Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                    </p>
                </div>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>


