page-acompana {

.content{
        background-color: #fff}
.color-titilu{
    background-color: #00AFD8
}
      h2{
         color: #fff;
         font-size: 1.8rem ;
      }
      h1{
           color: #fff;
         font-size: 2.8rem ;
      }
      p{
          color: #fff;
          font-size: 1.5rem
      }
         
    
    .ssa-position p{
        font-size: .9rem;
        color: #000;
    }
        .bg-menu{
        background-image: url( "../assets/img/home/menu.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        content: "";
        min-height: 65px;
    }
       .scroll-content{
          padding-top: 0 !important;
    }
    .img-menu{
        max-height: 40px;
    }
    .m-min{
        padding: 1px;
    }
    
}
