<!--
  Generated template for the MenuEsclerosisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  ">
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
              <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="row border-bottom">
      <div class="col-12 p-0 bg-menu">

      </div>
      <div class="col-12 text-center my-3">
          <h2>CONOZCA SU ENFERMEDAD </h2>
      </div>
  </div>
    <div class="row">
        <div class="col-11 mx-auto mb-2 mt-5">
            <button ion-button secondary (click)="goConozcaEnfermedad()" type="button" class="btn btn-primary btn-block btn-submenu "><img src="../assets/img/template/sm-2.png" alt="" class="img-menu" /> Conozca su enfermedad </button>
        </div>
        <div class="col-11 mx-auto mb-2">
            <button ion-button secondary (click)="goSistemaNervioso()" type="button" class="btn btn-primary btn-block btn-submenu "><img src="../assets/img/template/icon1.png" alt="" class="img-menu" /> Sistema nervioso</button>
        </div>
        <div class="col-11 mx-auto my-2">
            <button ion-button secondary (click)="goTipsEjercicios()" type="button" class="btn btn-primary btn-block btn-submenu "><img src="../assets/img/template/icon2.png" alt="" class="img-menu" /> Tips de ejercicios</button>
        </div>
        <div class="col-11 mx-auto my-2">
            <button ion-button secondary (click)="goTipsNutricional()" type="button" class="btn btn-primary btn-block btn-submenu "><img src="../assets/img/template/icon3.png" alt="" class="img-menu" /> Tips nutricionales </button>
        </div>
        <div class="col-11 mx-auto my-2">
            <button ion-button secondary (click)="goInfografia()" type="button" class="btn btn-primary btn-block btn-submenu "><img src="../assets/img/template/icon4.png" alt="" class="img-menu" />Infografía</button>
        </div>
    </div>


    <div class="row ssa-position ">
        <div class="col-12 mx-auto text-center  ">
            <p>
              Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
            </p>
        </div>
    </div>
</ion-content>
