<!--
  Generated template for the PorTiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  ">
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
              <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div class="row">
      <div class="col-12 bg-header-enfermedad">
        <div class="col-3 img-header">
          <img src="../assets/img/template/foto1.png" class="img-fluid"/>
        </div>
        <div class="col-8 mt-3 margin-title">
            <h2>Conozca su Enfermedad</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 row-img">
        <img src="../assets/img/artritis/back_artritis.png" class="img-fluid img-absolute-main" />
      </div>
      <div class="col-12">
          <div class="b-1">
            <p class="h2-sub-title"><b>¿Qué es la artritis reumatoide
              (AR)?</b></p>
            <p>La AR causa inflamación en el
              revestimiento de las articulaciones
              provocando dolor, calor, disminución en
              la amplitud de movimiento e hinchazón.
              La AR es una enfermedad crónica,
              afecta a diferentes articulaciones del
              cuerpo y puede causar daños en
              cartílagos, huesos, tendones y
              ligamentos de las articulaciones.<sup>1</sup></p>
          </div>
      </div>
      <div class="col-12 rrow">
        <div class="col-12 text-center">
          <img src="../assets/img/artritis/imagen_1_artritis.png" class="img-fluid max-img-width" />
        </div>
        <div class="col-12">
          <div class="b-2">
            <p><b>¿Cuáles son las causas?</b></p>
            <p>A ciencia cierta no se conocen las causas,
              sin embargo, el sistema inmunológico
              desempeña un papel importante en la
              inflamación y en el daño. De manera
              común, el sistema inmunológico combate
              a bacterias, virus y otros microorganismos
              que, de manera normal, entran en
              contacto con nuestro cuerpo. En la AR,
              por alguna razón, el sistema inmunológico
              desconoce las células propias y ataca a las
              articulaciones, provocando inflamación y
              daño del cartílago y del hueso. <sup>1</sup></p>
          </div>
        </div>
      </div>
      <div class="col-12 rrow">
        <div class="col-12 text-center">
          <img src="../assets/img/artritis/imagen_2_artritis.png" class="img-fluid max-img-width" />
        </div>
        <div class="col-12">
          <div class="b-2">
            <p><b>¿A quienes afecta?</b></p>
            <p>Afecta a adultos principalmente. Existen
              formas, como la juvenil, que afecta a
              niños y jóvenes. <sup>2,3</sup></p>
            <p>La AR se manifiesta alrededor de la
              tercera-cuarta década de la vida, mientras
              que la artritis idiopática juvenil (AIJ) se
              presenta en los primeros 3 años de vida<sup>2,3</sup></p>
            <p>En ambos tipos de artritis, las mujeres
              tienen una mayor prevalencia en
              comparación con los hombres (3:1 en
              mujeres adultas y 2:1 en niñas). <sup>2,3</sup></p>
            </div>
        </div>
      </div>
      <div class="col-12 row-img">
        <div class="col-7 text-center mx-auto">
          <img src="../assets/img/artritis/imagen_3_artritis.png" class="img-fluid my-4 "/>
        </div>
        <div class="col-12">
          <div class="b-2">
            <p><b>¿Cuáles son los síntomas?<sup>1</sup></b></p>
            <ul>
              <li>Ardor</li>
              <li>Hinchazón</li>
              <li>Dolor</li>
              <li>Enrojecimiento y calor</li>
              <li>Dificultad para el movimiento</li>
            </ul>
            <p>En los niños, además, se puede presentar
              sarpullido o fiebre previos a la aparición
              del cuadro de inflamación y dolor
              articular. <sup>3,4</sup></p>
          </div>
        </div>
      </div>

      <div class="col-12 row-img">
        <div class="col-12 text-center">
          <img src="../assets/img/artritis/imagen_4_artritis.png" class="img-fluid max-img-width" />
        </div>
        <div class="col-12">
          <div class="b-2">
            <p><b>¿Qué la causa?</b></p>
            <ul>
              <li>Herencia familiar: existen genes
                asociados a la AR que ocasionan una
                predisposición a presentarla<sup>5,6</sup></li>
              <li>Factores ambientales externos: bajas
                temperaturas, infecciones, traumatismos
                o tabaquismo, entre otros <sup>5</sup></li>
              <li>Reacción exagerada del sistema
                inmunológico: el sistema inmune, de
                manera regular, ataca a cualquier
                partícula extraña al cuerpo; en la AR,
                ataca por igual a esas partículas extrañas
                y a las propias células del cuerpo <sup>5,6</sup></li>
            </ul>
            <p><b>¿Cuál es el tratamiento?</b></p>
            <p>Hasta el momento no existe cura para la
              AR. El tratamiento está dirigido a controlar
              el dolor, reducir la inflamación, retrasar el
              daño articular y aumentar la calidad de
              vida a través de mejorar la movilidad. <sup>5,7</sup></p>
          </div>
        </div>
      </div>

      <div class="col-12 row-img">
        <div class="col-12 text-right" (click)="goHanldeClick()">
          <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
        </div>
        <div class="col-12">
          <div [class]="className">
            <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
            <h2 class="ref-h2"><b>Referencias:</b></h2>
            <p><b>1.</b> Arthritis Foundation. Artritis
              reumatoide. Consultado el 12 de junio
              de 2018. Disponible en:
              <i>http://espanol.arthritis.org/espanol/disease-center/artritis-reumatoide/</i></p>
            <p><b>2.</b> Guía de Práctica Clínica. Diagnóstico
              y tratamiento de artritis reumatoide del
              adulto. México: Instituto Mexicano del
              Seguro Social. 2010.</p>
            <p><b>3.</b> Guía de Práctica Clínica: Tratamiento
              Farmacológico de la Artrtitis Idiopática
              Juvenil. México: Secretaría de Salud.
              2010.</p>
            <p><b>4.</b> Calvo Penadés I. Artritis idiopática
              juvenil de inicio sistémico. <i>Protoc diagn
                  ter pediatr. 2014;1:27-36.</i></p>
            <p><b>5.</b> National Rheumatoid Arthritis
              Society. Whats is RA? Consultado el 11
              de junio de 2018. Disponible en:
              <i>https://www.nras.org.uk/what-is-ra-article#diagram</i></p>
            <p><b>6.</b> Mendoza G, Rocha A, Guerra A, et
              al. Artritis reumatoide y dislipidemias.
              El <i>Residente.</i> 2013;8(1):12-22.</p>
            <p><b>7.</b> Ravelli A, Martini A. Juvenile
                idiopathic arthritis. <i>Lancet.</i>
              2007;369:767-778.</p>
          </div>
        </div>
      </div>
      <div class="col-12 row-img">
        <div class="row">
               <div class="col-10 mx-auto text-center my-4 p-text">
                   <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                    Consulte a su médico</b></p>
                   <p>
                       Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                   </p>
               </div>
           </div>
      </div>
    </div>
</ion-content>
