
<ion-header>
  <ion-navbar>
      <div class="row">
          <div class="col-3 offset-3 p-0  ">
              <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
          </div>
            <div class="col-3 offset-3">
              <button ion-button menuToggle class="my-3">
                  <ion-icon name="menu"></ion-icon>
              </button>
          </div>
      </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="row">
      <div class="col-12 bg-header-enfermedad">
          <div class="col-3 img-header">
              <img src="../assets/img/template/foto1.png" class="img-fluid"/>
          </div>
          <div class="col-8 mt-3" style="margin-left: 9rem">
              <h2>Infografía <b>cáncer de pulmón</b></h2>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-12 row-img bg-info d-flex info">
          <div class="row">
              <div class="col-3 icon-1" >
                  <img (click)="goIcon1()"  src="../assets/img/pulmon/infografia/1/icon_apagado.png" />

              </div>

              <div class="col-3 icon-2" >
                  <img (click)="goIcon2()"  src="../assets/img/pulmon/infografia/3/icon_apagado.png" />

              </div>

              <div class="col-3 icon-3" >
                  <img (click)="goIcon3()"  src="../assets/img/pulmon/infografia/5/icon_apagado.png" />

              </div>

              <div class="col-3 icon-4" >
                  <img (click)="goIcon4()"  src="../assets/img/pulmon/infografia/7/icon_apagado.png" />

              </div>

              <div class="col-3 icon-6" >
                  <img (click)="goIcon5()"  src="../assets/img/pulmon/infografia/6/icon_apagado.png" />

              </div>

              <div class="col-3 icon-7" >
                  <img (click)="goIcon6()"  src="../assets/img/pulmon/infografia/4/icon_apagado.png" />

              </div>

              <div class="col-3 icon-8" >
                  <img (click)="goIcon7()"  src="../assets/img/pulmon/infografia/2/icon_apagado.png" />

              </div>

              <div class="col-3 icon-refe" (click)="goHanldeClick()">
                  <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
              </div>

              <div [class]="iconTxt1">
                  <div class="row">
                      <img src="../assets/img/template/icon_close.png" alt="" (click)="goIconOff()" class="img-close">
                      <div class="col-12 mt-5 text-icon">
                          <img src="../assets/img/pulmon/infografia/1/icon_fancy.png" class="max-icon-h"/>
                          <p>
                            <b>¿Qué es el cáncer de pulmón?</b><br>
                            Es una enfermedad en la que las células
                            del pulmón comienzan a reproducirse sin
                            control <sup>1</sup>
                          </p>
                      </div>
                      <div class="col-12 text-center">
                        <img src="../assets/img/pulmon/infografia/1/imagen_1.png" class="img-pulmon-1"/>
                      </div>
                  </div>
              </div>


              <div [class]=" iconTxt2">
                  <div class="row">
                      <img src="../assets/img/template/icon_close.png" alt="" (click)="goIconOff()" class="img-close">
                      <div class="col-12 mt-5 text-icon">
                          <img  src="../assets/img/pulmon/infografia/3/icon_fancy.png" class="max-icon-h"/>
                          <p class="txt-margin">
                              <b>¿Cuáles son los síntomas?</b>
                          </p>
                          <p>Los síntomas que se pueden presentar son: <sup>5</sup></p>
                      </div>
                      <div class="col-12 text-center">
                        <img src="../assets/img/pulmon/infografia/3/imagen_1.png" />
                      </div>
                  </div>
              </div>

              <div [class]=" iconTxt3">
                  <div class="row">
                      <img src="../assets/img/template/icon_close.png" alt="" (click)="goIconOff()" class="img-close">
                      <div class="col-12 mt-5 text-icon">
                          <img  src="../assets/img/pulmon/infografia/5/icon_fancy.png" class="max-icon-h"/>
                          <p class="mt-4">
                              <b> ¿Se puede prevenir el cáncer?<sup>7</sup></b>
                          </p>
                          <p>Existen dos factores que se pueden cambiar
                            y pueden ayudar a disminuir el riesgo de
                            presentarlo:</p>
                          <img  src="../assets/img/pulmon/infografia/5/imagen_1.png" class="img-5-info"/><br>
                      </div>
                  </div>

              </div>
              <div [class]=" iconTxt4">
                  <div class="row">
                      <img src="../assets/img/template/icon_close.png" alt="" (click)="goIconOff()" class="img-close">
                      <div class="col-12 mt-5 text-icon">
                        <img  src="../assets/img/pulmon/infografia/7/icon_fancy.png" class="max-icon-h"/>
                        <p class="txt-margin">
                            <b>¿Cuál es el tratamiento?</b>
                        </p>
                        <p class="txt-margin">
                          El tratamiento se prescribe con base en el
                          estado general de salud, el tipo y grado del
                          cáncer de pulmón <sup>7</sup>
                        </p>
                      </div>
                      <div class="col-12 text-center">
                        <img src="../assets/img/pulmon/infografia/7/imagen_1.png" class="img-infografia-7" />
                      </div>
                  </div>
              </div>
              <div [class]=" iconTxt5">
                  <div class="row">
                      <img src="../assets/img/template/icon_close.png" alt="" (click)="goIconOff()" class="img-close">
                      <div class="col-12 mt-5 text-icon">
                          <img  src="../assets/img/pulmon/infografia/6/icon_fancy.png" class="max-icon-h"/>
                          <p class="txt-margin">
                              <b>¿Cómo se diagnostica?</b>
                          </p>
                          <p class="txt-margin">
                            El cáncer de pulmón se puede diagnosticar
                            por medio de: <sup>7</sup>
                          </p>
                      </div>
                      <div class="col-12 text-center">
                        <img src="../assets/img/pulmon/infografia/6/imagen_1.png" class="img-infografia-6"/>
                      </div>
                  </div>
              </div>
              <div [class]=" iconTxt6">
                  <div class="row">
                      <img src="../assets/img/template/icon_close.png" alt="" (click)="goIconOff()" class="img-close">
                      <div class="col-12 mt-5 text-icon">
                          <img  src="../assets/img/pulmon/infografia/4/icon_fancy.png" class="max-icon-h"/>
                      </div>
                      <div class="col-12 text-center mt-4">
                        <img src="../assets/img/pulmon/infografia/4/imagen_1.png" />
                      </div>
                  </div>
              </div>
              <div [class]="iconTxt7">
                  <div class="row">
                      <img src="../assets/img/template/icon_close.png" alt="" (click)="goIconOff()" class="img-close">
                      <div class="col-12 mt-5 text-icon">
                          <img  src="../assets/img/pulmon/infografia/2/icon_fancy.png" class="max-icon-h"/>
                          <p class="txt-margin">
                              <b>¿Cuáles son las causas?</b>
                          </p>
                          <ul>
                            <li>La principal causa es la exposición al
                              humo de tabaco <sup>2</sup></li>
                            <li>90 % de los casos de cáncer de pulmón
                              sucede en personas que fuman <sup>2</sup></li>
                            <li>La exposición al humo de leña, el cual
                              aumenta en más de 60 % la probabilidad
                              de desarrollar este tipo de cáncer entre
                              las personas que no fuman <sup>3</sup></li>
                          </ul>
                      </div>
                      <div class="col-12 text-center">
                        <img src="../assets/img/pulmon/infografia/2/imagen_1.png" class="img-info-2"/>
                      </div>
                      <div class="col-12">
                        <p class="txt-margin">
                          <b>Existen otras causas como: <sup>2,4</sup></b>
                        </p>
                        <ul>
                          <li>Inhalación de contaminantes (asbesto,
                            arsénico, hidrocarburos, etc.)</li>
                          <li>Exposición de forma pasiva al cigarro</li>
                          <li>Antecedentes familiares</li>
                          <li>VIH</li>
                        </ul>
                      </div>
                      <div class="col-12 text-center">
                        <img src="../assets/img/pulmon/infografia/2/imagen_2.png" class="img-info-2"/>
                      </div>
                  </div>
              </div>

              <div [class]="iconTxt8">
                  <div class="row">
                      <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                      <div class="col-12 mt-5 text-icon">
                          <img  src="../assets/img/artritis/info/3/icon_fancy.png" class="max-icon-h"/>
                          <p class="txt-margin">
                              <b>¿Cuáles son los síntomas?</b>
                          </p>
                          <ul class="sintomas-li" style="padding: 0 11rem 3rem 4rem;">
                            <li>Dolor articular<sup>6</sup></li>
                            <li>Rigidez articular<sup>6</sup></li>
                            <li>Hinchazón articular<sup>6</sup></li>
                            <li>Dificultad para el movimiento<sup>6</sup></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

      <div [class]="className">
          <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
          <h2 class="ref-h2 my-4">Referencias:</h2>
          <p><b>1.</b>
            CDC. What Is Lung Cancer? Centers
            for Disease Control and Prevention.
            [Consultado el 22 de noviembre de
            2018] Disponible en:
            https://www.cdc.gov/cancer/lu

          </p>
          <p><b>2.</b>
            CDC. What Are the Risk Factors for
            Lung Cancer? [Consultado el 22 de
            noviembre de 2018] Disponible en:
            https://www.cdc.gov/cancer/lung/basic_
            info/risk_factors.htm
          </p>
          <p>
              <b>3.</b>
              García C, Fernández R, Rivera M, et
              al. Humo de leña como factor de riesgo
              de cáncer pulmonar en población
              hospitalizada no fumadora. <i>Neumol Cir</i>
              <i>Torax.</i> 2012;71(4):325-332.
          </p>
          <p><b>4.</b>
            NIH. Lung Cancer Prevention.
            MedlinePlus. [Consultado el 22 de
            noviembre de 2018] Disponible en:
            https://www.cancer.gov/types/lung/
            patient/lung-prevention-pdq
          </p>
          <p><b>5.</b>
            NIH. Lung Cancer. MedlinePlus.
            [Consultado el 22 de noviembre de
            2018] Disponible en:
            https://medlineplus.gov/lungcancer.html
          </p>
          <p><b>6.</b>
            Campos Parra AD, Cruz Rico G,
            Arrieta O. Genotipificación en cáncer de
            pulmón de células no pequeñas. GAMO.
            2012; 11(1): 35-44.
          </p>
          <p><b>7.</b>
            Lung Cancer. Mayo Clínic. [Consultado
            el 22 de noviembre de 2018] Disponible
            en:
            https://www.mayoclinic.org/diseases-
            conditions/lung-cancer/diagnosis-
            treatment/drc-20374627
          </p>
      </div>

  <div class="row index-9">
      <div class="col-12 row-img">
          <div class="row">
              <div class="col-10 mx-auto text-center my-4 p-text">
                  <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                          Consulte a su médico</b></p>
                  <p>
                      Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                  </p>
              </div>
          </div>
      </div>
  </div>
</ion-content>
