
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  ">
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="row">
      <div class="col-12 bg-header-enfermedad">
        <div class="col-3 img-header">
          <img src="../assets/img/template/foto1.png" class="img-fluid"/>
        </div>
        <div class="col-8 mt-3 p-m">
            <p>Tips de ejercicios</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 row-img">
        <img src="../assets/img/template/back_1.jpg" class="img-fluid main-figure" />
      </div>
      <div class="col-12">
          <div class="b-1">
            <p>Todas las personas con esclerosis
              múltiple (EM), sin importar el grado de
              afectación de sus habilidades físicas,
              necesitan realizar actividad física de
              manera regular. La falta de ejercicio
              puede ocasionar algunos inconvenientes
              leves como el estreñimiento, o graves
              como enfermedades cardiacas.
              Ejercitarse de manera constante no
              solamente te proporciona una sensación
              de bienestar general, sino que también
              te ayuda a prevenir otros problemas
              asociados a la EM. <sup>1</sup></p>
          </div>
      </div>
      <div class="col-12 row-img">
        <div class="col-12">
          <div class="b-2">
            <div class="text-center m-top">
              <img src="../assets/img/template/img-tips-ejercicios.png" class="img-fluid max-wd" />
            </div>
            <div>
              <h2>En cuanto al programa de
                ejercicio, es necesario tomar
                algunas consideraciones: <sup>2</sup></h2>
              <ul class="m-ul">
                <li><b>Comience a ejercitarse</b> tan
                  pronto como sea posible tras
                  recibir el diagnóstico</li>
                <li><b>Consulte</b> siempre con su médico
                  para conocer las actividades que
                  puede realizar</li>
                <li><b>Apóyese</b> en un fisioterapeuta, ya
                  que él puede diseñar un programa
                  de ejercicios adaptado a sus
                  necesidades y preferencias</li>
                <li><b>Confíe</b> en que puede hacerlo.
                  Manténgase positivo, una mejor
                  actitud frente a la vida puede
                  ayudarlo a mejorar su enfermedad</li>
                <li><b>Hágalo</b> de manera regular. Realice
                  sus actividades físicas de 3 a 5
                  días a la semana. No olvide tomar
                  descansos de manera regular</li>
                <li><b>Siempre</b> realice un calentamiento
                  previo</li>
                <li><b>Progrese</b> a su propio ritmo. Evite
                  la fatiga intensa y el dolor.
                  Después de realizar sus ejercicios,
                  lo más que puede sentir es una
                  leve fatiga</li>
                <li><b>Evite</b> realizar ejercicio durante una
                  exacerbación, infección o fiebre</li>
              </ul>
              <div class="font-weight-bold text-center p-sub">
                <p>¡Use ropa ligera!<sup>2</sup><br>
                  ¡Ejercítese en un <br>
                  ambiente fresco! <sup>2</sup><br>
                ¡Convierta el ejercicio
                en parte de su vida! <sup>2</sup></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 row-img">
        <div class="col-12">
          <div class="b-2">
            <div class="">
              <div class="parrafo1">
                <h2>A continuación, le presentamos
                  una serie de ejercicios que
                  puede realizar utilizando una
                  liga de resistencia. <sup>3</sup></h2>
              </div>
              <div class="text-center img-ejercicios">
                <img src="../assets/img/template/img3_tips_ejercicios.png" class="img-fluid max-w" />
              </div>
              <div class="parrafo2">
                <h2><b>Prensa de pecho</b></h2>
                <p>Comience con las manos a nivel de
                  los hombros, extienda los codos y
                  sostenga por unos segundos;
                  regrese lentamente.</p>
              </div>
              <div class="text-center img-ejercicios">
                <img src="../assets/img/template/im4_tips_ejercicios.png" class="img-fluid max-w" />
              </div>
              <div class="parrafo3">
                <h2><b>Espalda</b></h2>
                <p>Comience con las manos al nivel de
                  los hombros, tire los codos hacia
                  atrás; mantenga por unos segundos
                  y regrese lentamente.</p>
              </div>
              <div class="text-center img-ejercicios">
                <img src="../assets/img/template/img5_tips_ejercicios.png" class="img-fluid max-w" />
              </div>
              <div class="parrafo4">
                <h2><b>Tríceps</b></h2>
                <p>Comience con el codo doblado,
                  extienda el codo, sostenga por unos
                  segundos y regrese lentamente.
                  Repita con el otro brazo.</p>
              </div>
              <div class="text-center img-ejercicios">
                <img src="../assets/img/template/img6_tips_ejercicios.png" class="img-fluid max-w" />
              </div>
              <div class="parrafo5">
                <h2><b>Curl de bíceps estirado</b></h2>
                <p>Comience con el codo estirado a un
                  costado, eleve la mano doblando el
                  codo, mantenga por unos segundos
                  y regrese lentamente.
                  Repita con el otro brazo.</p>
              </div>
              <div class="text-center img-ejercicios">
                <img src="../assets/img/template/img7_tips_ejercicios.png" class="img-fluid max-w" />
              </div>
              <div class="parrafo6">
                <h2><b>Rotación externa</b></h2>
                <p>Comience con el codo pegado al
                  abdomen, rote el antebrazo hacia
                  afuera, sostenga y regrese
                  lentamente.
                  Repita con el otro brazo.</p>
              </div>
              <div class="text-center img-ejercicios">
                <img src="../assets/img/template/img8_tips_ejercicios.png" class="img-fluid max-w" />
              </div>
              <div class="parrafo7">
                <h2><b>Rotación interna</b></h2>
                <p>Comience con el codo extendido a un
                  lado, gire el antebrazo hacia adentro
                  del cuerpo, sostenga por unos
                  segundos y regrese lentamente.
                  Repita con el otro brazo.</p>
              </div>
              <div class="text-center img-ejercicios">
                <img src="../assets/img/template/img9_tips_ejercicios.png" class="img-fluid max-w" />
              </div>
              <div class="parrafo8">
                <h2><b>Extensión de la rodilla</b></h2>
                <p>Sentado, comience con la rodilla
                  doblada, extienda la rodilla, sostenga
                  en esta posición y regrese lentamente.
                  Repita con la otra pierna.</p>
              </div>
              <div class="text-center img-ejercicios">
                <img src="../assets/img/template/img10_tips_ejercicios.png" class="img-fluid max-w" />
              </div>
              <div class="parrafo9">
                <h2><b>Flexión de la rodilla</b></h2>
                <p>Comience con la rodilla recta, doble
                  la rodilla, sostenga en esta posición
                  y regrese lentamente a su posición
                  original.
                  Repita con la otra pierna.</p>
              </div>
              <div class="text-center img-ejercicios">
                <img src="../assets/img/template/img11_tips_ejercicios.png" class="img-fluid max-w" />
              </div>
              <div class="parrafo10">
                <h2><b>Elevación de la pantorrilla</b></h2>
                <p>Coloque el ejercitador debajo de los
                  dedos de los pies, levante los
                  talones del piso, espere y regrese
                  lentamente.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 row-img">
        <div class="col-12">
          <div class="b-2">
            <div class="text-center m-top">
              <img src="../assets/img/template/img12_tips_ejercicios.png" class="img-fluid max-wl" />
            </div>
            <div>
              <h2>Ejercitarse de manera
                regular tiene múltiples
                beneficios, como: <sup>4</sup></h2>
              <ul class="m-ul">
                <li>Favorecer la postura y el equilibrio corporal</li>
                <li>Mejorar la condición física y mental</li>
                <li>Reducir la ansiedad y el estrés</li>
                <li>Mantener la concentración y la atención</li>
                <li>Ayudar a prevenir la osteoporosis</li>
                <li>Ayudar a conciliar el sueño</li>
              </ul>
              <div>
                <p>Recuerde que es importante
                  alimentarse de manera adecuada
                  antes y después de los periodos de
                  ejercicios. Actualmente, se considera
                  que el mejor régimen para una
                  persona con EM consiste en llevar
                  una dieta equilibrada y variada. <sup>5</sup></p>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="col-12 row-img">
        <div class="col-12 text-right" (click)="goHanldeClick()">
          <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
        </div>
        <div class="col-12">
          <div [class]="className">
            <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
            <h2 class="ref-h2">Referencias:</h2>
            <p><b>1.</b> Esclerosis múltiple. Ejercicios de
              fisioterapia. Federación Española para la
              Lucha contra la Esclerosis Múltiple
              (FELEM). Consultado el 30 de julio de
              2018. Disponible en:
              https://www.esclerosismultiple.com/pdfs/
              Comprender%20la%20EM/EJERCICIOS%
              20DE%20FISIOTERAPIA%20PARA%20
              PERSONAS%20CON%20EM.pdf</p>
            <p><b>2.</b> Esclerosis Múltiple España. Informe del
              estudio: Actividad física y deporte en
              esclerosis múltiple. 2015. Madrid, España.</p>
            <p><b>3.</b> Pagels Monica. Multiple Sclerosis cares.
              Clinical & Rehabilitation Exercise Sheets.</p>
            <p><b>4.</b> Ejercicio físico y Esclerosis Múltiple.
              ADEMMAdrid. Consultado el 13 de julio de
              2018. Disponible en:
              https://ademmadridblog.wordpress.com/
              2016/07/21/ejercicio-fisico-y-esclerosis-
              multiple/</p>
            <p><b>5.</b> Esclerosis múltiple. Alimentación y EM.
              Federación Española para la Lucha contra
              la Esclerosis Múltiple (FELEM). Consultado
              el 13 de julio de 2018. Disponible en:
              https://www.esclerosismultiple.com/pdfs/
              ALIMENTACION%20Y%20EM.pdf</p>
          </div>
        </div>
      </div>
      <div class="col-12 row-img">
        <div class="row">
               <div class="col-10 mx-auto text-center my-4 p-text">
                   <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                    Consulte a su médico</b></p>
                   <p>
                       Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                   </p>
               </div>
           </div>
      </div>
    </div>
</ion-content>
