
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  ">
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="row">
        <div class="col-12 bg-header-enfermedad">
            <div class="col-3 img-header">
                <img src="../assets/img/template/foto1.png" class="img-fluid"/>
            </div>
            <div class="col-8 mt-3 offset-3" >
                <h2>Conozca su enfermedad</h2>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-9 m-l-e mb-5" >
            <img src="../assets/img/hemofilia/back.png" class="img-fluid" style="position: absolute"/>
        </div>
        <div class="col-9 b-1">
            <h2 class="mb-4"> <b> ¿Qué es la hemofilia?</b></h2>
            <p>
                La hemofilia es un trastorno hereditario de la sangre, en el cual la sangre de la persona no coagula apropiadamente por deficiencia del factor de coagulación VIII o del factor IX, generando hemorragias incontroladas que pueden producirse de forma espontánea o después de algún traumatismo (por ejemplo: golpe leve).<sup>1</sup>
            </p>
        </div>



        <div class="col-12 row-img mt-4">
            <div class="row">
                <div class="col-12 ">
                    <div class="b-2">

                        <div class="row">
                            <div class="col-12 mb-3">
                                <p><b>Tipos de hemofilia</b> </p>
                            </div>
                            <div class="col-12 text-center ">
                                <p class="mx-auto">Hemofilia tipo A clásica</p>
                                <img src="../assets/img/hemofilia/img1.png" class="img-fluid img-hemo-tipo"/>
                                <p class="my-4">Factor VIII disminuido o ausente<sup>2</sup></p>
                            </div>
                            <div class="col-12 text-center">
                                <p>Hemofilia tipo B</p>
                                <img src="../assets/img/hemofilia/img2.png" class="img-fluid img-hemo-tipo"/>
                                <p class="my-4">Factor IX disminuido o ausente<sup>2</sup></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 row-img">
            <div class="row">
                <div class="col-6  mx-auto text-center">
                    <img src="../assets/img/hemofilia/imgo.png" class="img-fluid my-4"/>
                </div>

                <div class="col-12">
                    <div class="b-2">
                        <p class="my-3">
                            De acuerdo con WFH Survey 2016 existen 295,866 personas con trastornos de coagulación.<sup>3</sup>
                        </p>
                        <p class="my-5">
                            184,723 personas tienen hemofilia.<sup>3</sup>
                        </p>
                        <p>
                            ● 149,764 personas con hemofilia A<sup>3</sup>
                        </p>
                        <p>
                            ● 29,712 personas con hemofilia B<sup>3</sup>
                        </p>
                        <p class="my-3">
                            De acuerdo con la Federación Mexicana de Hemofilia, se tienen registrados 6,022 pacientes con algún trastorno congénito de la coagulación y aproximadamente 4,217 pacientes con hemofilia.<sup>1</sup>
                        </p>
                        <p class="my-3">
                            Sin embargo, deben existir aproximadamente 5,249 pacientes en todo el país.<sup>1</sup>
                        </p>
                        <p class="my-3">
                            <b>Prevalencia de pacientes y madres portadoras en México<sup>2</sup></b>
                        </p>
                        <div class="row">
                            <div class="col-12">
                                <img src="../assets/img/hemofilia/img4.png" class="img-fluid"/>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>



        <div class="col-12 row-img">
            <div class="row">
                <div class="col-6  mx-auto text-center">
                    <img src="../assets/img/hemofilia/img5.png" class="img-fluid my-4"/>
                </div>

                <div class="col-12">
                    <div class="b-2">
                        <h2 class="mb-4"><b>
                                ¿Cuáles son los síntomas de la hemofilia?
                            </b></h2>
                        <p class="my-4">
                            En ambos tipos de hemofilia, los síntomas son iguales:<sup>4</sup>
                        </p>
                        <p>
                            ● Moretones (hematomas) extensos
                        </p>
                        <p>
                            ● Sangrado en articulaciones y músculos, que puede causar:
                        </p>
                        <ul class="p-0 ml-5 no-deco">
                            <li>
                                ◦ Dolor
                            </li>
                            <li>
                                ◦ Inflamación
                            </li>
                            <li>
                                ◦ Rigidez
                            </li>
                            <li>
                                ◦ Dificultad para utilizar o mover la articulación o músculo
                            </li>
                        </ul>
                        <p class="my-4">
                            ● Sangrado espontáneo (sin un motivo claro)
                        </p>
                        <p class="my-4">
                            ● Sangrado por mucho tiempo después de una cortada, someterse a una cirugía o sacarse una muela
                        </p>

                    </div>
                </div>
            </div>
        </div>



        <div class="col-12 row-img">
            <div class="row">
                <div class="col-6  mx-auto text-center">
                    <img src="../assets/img/hemofilia/img6.png" class="img-fluid my-4"/>
                </div>

                <div class="col-12">
                    <div class="b-2">
                        <h2 class="mb-4"><b>
                                ¿Cuáles son los lugares más frecuentes de sangrado?
                            </b></h2>
                        <p class="my-4">
                            Los lugares más comunes de sangrado son:<sup>4</sup>
                        </p>
                        <div class="row">
                            <div class="col-5">
                                <p>
                                    ● Rodillas
                                </p>
                                <p>
                                    ● Codos
                                </p>
                                <p>
                                    ● Tobillos
                                </p>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="row ">
                                    <h5>70 a 80%<sup>2</sup></h5>
                                </div>
                            </div>
                        </div>
                        <p>
                            ● Los músculos de brazos y
                            antebrazos, muslos y pantorrillas
                        </p>
                        <div class="row">

                            <div class="col-7 offset-5">
                                <div class="row align-items-center">
                                    <h5>10 a 20%<sup>2</sup></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div calss="row">
            <div class="col-6 mx-auto">
                <img src="../assets/img/hemofilia/img7.png" class="img-fluid"/>
            </div>
            <div class="col-10 mx-auto p-color">
                <p class="my-5 color-b">
                    <b>
                        Gravedad de la hemofilia de acuerdo con el nivel de los factores VIII y IX <sup>2</sup>
                    </b>
                </p>
            </div>
            <div class="col-10 my-5 mx-auto">
                <img src="../assets/img/hemofilia/img8.png" class="img-fluid"/>
            </div>
            <div class="col-10 mx-auto">
                <p class="my-5 color-b">
                    <b>
                        ¿En qué consiste la profilaxis?
                    </b>
                </p>
                <p class="color-b">
                    Existen diferentes niveles de profilaxis y van de acuerdo con la severidad de la hemofilia<sup>2</sup>
                </p>
            </div>
            <div class="col-10 mx-auto my-5">
                <img src="../assets/img/hemofilia/img9.png" class="img-fluid"/>
            </div>
        </div>
    </div>











    <div class="col-12 row-img">
        <div class="row">
            <div class="col-6  mx-auto text-center">
                <img src="../assets/img/hemofilia/img10.png" class="img-fluid"/>
            </div>

            <div class="col-12">
                <div class="b-2">
                    <h2 class="mb-4"><b>
                            ¿Qué son los inhibidores?
                        </b></h2>
                    <p class="my-4">
                        Una complicación del tratamiento es la formación de cuerpos que neutralizan el factor de coagulación administrado, y se les conoce como:<sup>2</sup>
                    </p>
                    <p class="my-4">
                        Inhibidores
                    </p>
                    <p class="my-4">
                        Una complicación del tratamiento es el desarrollo de inhibidores, ya que impide la restitución del factor de coagulación deficiente.<sup>2</sup>
                    </p>
                    <div class="row">
                        <div class="col-12">
                            <img src="../assets/img/hemofilia/img11.png" class="img-fluid"/>
                        </div>
                    </div>
                    <p class="mb-4 mt-3">
                        Ante este problema, se pueden usar otras alternativas como el factor de coagulación VII activado recombinante.<sup>2</sup>
                    </p>
                    <p class="mb-4 mt-3">
                        Se ha visto que el tratamiento con profilaxis en pacientes con inhibidores puede disminuir hasta un 50 % los episodios de sangrado.<sup>2</sup>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="col-12 row-img">
        <div class="row">
            <div class="col-6  mx-auto text-center">
                <img src="../assets/img/hemofilia/img12.png" class="img-fluid"/>
            </div>

            <div class="col-12">
                <div class="b-2">
                    <h2 class="mb-4"><b>
                            Calidad de vida en personas con hemofilia
                        </b></h2>
                    <p class="my-4">
                        Algunos factores que mejoran la calidad de vida en pacientes con hemofilia son:<sup>5</sup>
                    </p>
                    <p class="my-4">
                        ● El tratamiento con profilaxis, iniciado de forma oportuna y temprana, lo cual minimiza el daño
                    </p>
                    <p class="my-4">
                        ● La participación en programas de rehabilitación
                    </p>
                    <p class="my-4">
                        ● Ejercicios y terapia física y ocupacional
                    </p>
                    <p class="my-4">
                        ● Intervenciones quirúrgicas ortopédicas para el control del sangrado
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="col-12 row-img">
        <div class="row">
            <div class="col-6  mx-auto text-center">
                <img src="../assets/img/hemofilia/img13.png" class="img-fluid"/>
            </div>

            <div class="col-12">
                <div class="b-2">
                    <h2 class="mb-4"><b>
                            Seguimiento de los pacientes con hemofilia<sup>2</sup>
                        </b></h2>
                    <p class="my-4">
                        Es importante que los pacientes con hemofilia cuenten con:<sup>2</sup>
                    </p>
                    <p class="my-3">
                        ● Un centro de atención especializado, ya que reduce las probabilidades de complicaciones y hospitalizaciones
                    </p>
                    <p class="my-3">
                        ● Tratamiento oportuno, que mejorará su calidad de vida. La profilaxis es el estándar de tratamiento
                    </p>
                    <p class="my-3">
                        ● De ser posible, atención domiciliaria, pues permite un tratamiento oportuno de las hemorragias. Con ello, disminuyen las secuelas y se acortan los tiempos de recuperación, además de que resulta más cómodo ya que se evita el traslado a hospitales
                    </p>
                    <p class="my-3">
                        ● Un registro del número de hemorragias, localización, dosis y fecha de aplicación del tratamiento
                    </p>
                    <p class="my-5">
                        <b>Retos a cumplir</b>
                    </p>
                    <p class="my-4">
                        ● Registro y monitoreo: se requieren registros centralizados que permitan identificar el número de pacientes afectados<sup>2</sup>
                    </p>
                    <p class="my-4">
                        ● Disponibilidad y acceso al tratamiento: hay que asegurar la disponibilidad de factor tanto en cantidad como en costos para las personas afectadas<sup>2</sup>
                    </p>
                    <p class="my-4">
                        ● Atención multidisciplinaria: las personas con hemofilia deben ser canalizadas a centros de salud que cuenten con la atención adecuada<sup>2</sup>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-10 my-4 mx-auto">
        <h2 class="my-4 color-b"><b>Carnet de sangrado</b></h2>
        <img src="../assets/img/hemofilia/img14.png" class="img-fluid"/>
                <a href="http://roche.mediosalterados.net/pdf/carnet.pdf" class="btn btn-download"><ion-icon name="download"></ion-icon> DESCARGAR CARNET EN PDF</a>

        <div class="download-info">
            <p>Descarga nuestro carnet de infusión para llevar un control y seguimiento de aplicaciones del medicamento</p>
        </div>
    </div>


    <div class="col-12 row-img">
        <div class="col-12">
            <div [class]="className">
                <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
                <h2 class="ref-h2">Referencias:</h2>
                <p>
                    1. Guía de práctica clínica, diagnóstico y tratamiento de hemofilia en adultos. México: Secretaría de Salud, 2010.
                </p>
                <p>
                    2. Reporte sobre hemofilia en México. Secretaría de Salud, 2016. Consultado el 18 de mayo de 2018. Disponible en: <i>http://www.hemofilia.org.mx/files/reporte-sobre-hemofilia-mexico.pdf</i>
                </p>
                <p>
                    3. World Federation of Hemofilia. Report on the Annual Global Survey 2016. Octubre 2017. Revisado el 17 de julio de 2018. Disponible en: <i>http://www1.wfh.org/publications/files/pdf-1690.pdf</i>
                </p>
                <p>
                    4. Trastornos de la coagulación. Síntomas y diagnóstico. World Federation of Hemophilia. Consultado el 15 de junio de 2018. Disponible en: <i>https://www.wfh.org/es/page.aspx?pid=779</i>
                </p>
                <p>
                    5. Fuenmayor Castaño A, Jaramillo Restrepo M, Salinas Durán F. Calidad de vida en una población con hemofilia: estudio de corte trasversal en un centro de tratamiento de hemofilia. <i>Rev Colomb Reumatol.</i> 2017; 24(1): 18-24.
                </p>
            </div>
        </div>
        <div class="col-12 text-center" (click)="goHanldeClick()" style="margin-top: 9%;">
            <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
        </div>
    </div>
    <div class="col-12 row-img">
        <div class="row">
            <div class="col-10 mx-auto text-center my-4 p-text">
                <p>La Federación de Hemofilia de la República Mexicana, a través de su Grupo de Asesores Voluntarios Médicos, revisó y aprobó el contenido de esta App.</p>
                <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                        Consulte a su médico</b></p>
                <p>
                    Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                </p>
            </div>
        </div>
    </div>
</ion-content>
