
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  ">
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="row">
    <div class="col-12 bg-header-enfermedad">
      <div class="col-3 img-header">
        <img src="../assets/img/template/foto1.png" class="img-fluid"/>
      </div>
      <div class="col-8 mt-3 t-h2">
          <h2>Conozca su enfermeda</h2>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-12 p-img">
        <img src="../assets/img/template/back.jpg" class="img-fluid p-absolute-img" />
      </div>
      <div class="col-12">
          <div class="b-1">
            <h2 class="h2-sub-title">¿Qué es la esclerosis múltiple?</h2>
            <p>La esclerosis múltiple es una
            enfermedad:<sup>1</sup></p>
              <ul class="ul-list">
                <li>Crónica</li>
                <li>Inflamatoria</li>
                <li>Que destruye la mielina que recubre a la neurona y esto lleva a un daño neuronal</li>
              </ul>
            <p>Es la causa más común de discapacidad en adultos y jóvenes<sup>1</sup></p>
          </div>
      </div>
      <div class="col-12 row-img">
        <div class="col-12 text-center">
          <img src="../assets/img/template/img1.png" class="img-fluid img-size" />
        </div>
        <div class="col-12">
          <div class="b-2">
            <h2>¿En quiénes se presenta?</h2>
              <ul class="m-l">
                <li>Afecta a más de 2.3 millones de
                  personas en todo el mundo<sup>1</sup></li>
                <li>En México existen de 5 a 20 personas
                  por cada 100,000 con esclerosis
                  múltiple<sup>1</sup></li>
                <li>Es más común en mujeres que en
                  hombres 2:1<sup>2</sup></li>
                <li>Se detecta en adultos jóvenes entre los
                  20 y 40 años de edad<sup>2</sup></li>
              </ul>

          </div>
        </div>
      </div>
      <div class="col-12 row-img">
        <div class="col-12 text-center">
          <img src="../assets/img/template/img2.png" class="img-fluid img-size" />
        </div>
        <div class="col-12">
          <div class="b-2">
            <h2 class="h2-sub-title">¿Cuáles son los factores de la
                esclerosis múltiple?</h2>
            <p>Existen factores que pueden predisponer
              a una persona a padecer esclerosis
              múltiple, como son:<sup>3</sup></p>
              <ul class="m-l">
                <li>Genéticos</li>
                <li>Ambientales</li>
                <li>Infecciones por virus o bacterias</li>
              </ul>
            </div>
        </div>
      </div>
      <div class="col-12 row-img">
        <div class="col-12 text-center">
          <img src="../assets/img/template/img3.png" class="img-fluid" width="60%"/>
        </div>
        <div class="col-12">
          <div class="b-2">
            <h2 class="h2-sub-title">¿Cuáles son los signos y
              síntomas?</h2>
            <p>Los signos y síntomas varían de acuerdo
              con el sitio del cerebro y/o la médula
              espinal que se afecte. Algunos de los más
              frecuentes pueden ser:<sup>3</sup></p>
              <ul class="m-l">
                <li>Entumecimiento o debilidad de brazos y
                  piernas, que sólo se presenta en un lado
                  del cuerpo</li>
                <li>Pérdida de visión parcial o completa, por
                  lo general de un ojo a la vez</li>
                <li>Hormigueo o dolor en cualquier parte
                  del cuerpo</li>
                <li>Sensación de toques eléctricos en el
                cuello (signo de Lhermitte)</li>
                <li>Temblores</li>
                <li>Balbuceo</li>
                <li>Fatiga</li>
                <li>Mareos</li>
                <li>Problemas en la función del intestino o
                  vejiga</li>
              </ul>
            </div>
        </div>
      </div>
      <div class="col-12 row-img">
        <div class="col-12 text-center">
          <img src="../assets/img/template/img4.png" class="img-fluid img-size" />
        </div>
        <div class="col-12">
          <div class="b-2">
            <h2 class="h2-sub-title">Esclerosis múltiple</h2>
            <p>Existen diferentes tipos de esclerosis
              múltiple:<sup>2</sup></p>
              <ul class="m-l">
                <li>Remitente recurrente</li>
                <li>Primaria Progresiva</li>
                <li>Secundaria Progresiva</li>
              </ul>
            </div>
        </div>
      </div>
      <div class="col-12 row-img">
        <div class="col-12 text-center">
          <img src="../assets/img/template/img5.png" class="img-fluid img-size" />
        </div>
        <div class="col-12">
          <div class="b-2">
            <h2 class="h2-sub-title">¿Cómo se diagnostica?</h2>
            <p>No existen pruebas específicas para la
              esclerosis múltiple.<sup>4</sup></p>
            <p>El diagnóstico se basa primeramente en
                hacer una historia clínica y exploración
                física y neurológica; después, en
                descartar otras enfermedades que pueden
                causar signos y síntomas similares.</p>
            <p>Las pruebas pueden incluir:<sup>4</sup></p>
              <ul class="m-l">
                <li>Análisis de sangre que buscan
                  sustancias específicas (biomarcadores)
                  que se asocian con la esclerosis múltiple</li>
                <li>Punción lumbar en la que pueden
                  encontrarse alteraciones en los
                  anticuerpos relacionados con la
                  esclerosis múltiple</li>
                <li>Resonancia magnética que puede
                  revelar zonas de esclerosis múltiple
                  (lesiones) en el cerebro y médula
                  espinal</li>
              </ul>
            </div>
        </div>
      </div>
      <div class="col-12 row-img">
        <div class="col-12 text-center">
          <img src="../assets/img/template/img6.png" class="img-fluid img-size" />
        </div>
        <div class="col-12">
          <div class="b-2">
            <h2 class="h2-sub-title">¿Cuál es el tratamiento?</h2>
            <p>La esclerosis múltiple no tiene cura, pero
              el tratamiento se centra en:<sup>4</sup></p>
              <ul class="m-l">
                <li>Tratar los síntomas</li>
                <li>Acelerar la recuperación</li>
                <li>Hacer más lento el avance de la
                  enfermedad</li>
                <li> Evitar recaídas y actividad de la
                  enfermedad</li>
              </ul>
            </div>
        </div>
      </div>
      <div class="col-12 row-img">
        <div class="col-12">
          <div [class]="className">
            <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
            <h2 class="ref-h2">Referencias:</h2>
            <p>1. Diagnóstico y tratamiento de
              pacientes con primer brote y sospecha
              de esclerosis múltiple. México;
              Secretaría de Salud; 2008.
            </p>
            <p>
              2. Atlas of MS 2013. Multiple Sclerosis
              International Federation. Consultado el
              4 de junio de 2018. Disponible en:
              https://www.msif.org/resources/
              </p>
              <p>
              3. Esclerosis múltiple. Descripción
              general. Mayo Clinic. Consultado el 15
              de junio de 2018. Disponible en:
              https://www.mayoclinic.org/es-es/dise
              ases-conditions/multiple-sclerosis/sym
              ptoms-causes/syc-20350269
              </p>
              <p>
              4. Esclerosis múltiple. Diagnóstico.
              Mayo Clinic. Consultado el 15 de junio
              de 2018. Disponible en:
              https://www.mayoclinic.org/es-es/dise
              ases-conditions/multiple-sclerosis/diag
              nosis-treatment/drc-20350274</p>
          </div>
        </div>
        <div class="col-12 text-center btn-modal" (click)="goHanldeClick()">
          <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
        </div>
      </div>
      <div class="col-12 row-img">
        <div class="row">
               <div class="col-10 mx-auto text-center my-4 p-text">
                   <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                    Consulte a su médico</b></p>
                   <p>
                       Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                   </p>
               </div>
           </div>
      </div>
    </div>
</ion-content>
