page-conozca {

  .content{
          background-color: #EAEAEA}

        .t-h2 {
          margin-left: 9rem;
        }

        .p-img {
          padding: 0rem 0 2rem 0;
        }

        .h2-sub-title {
          padding: 0 0 9% 0;
        }

        .p-absolute-img {
          position: absolute;
        }

        .ul-list {
          margin: 2rem; padding: 0;
        }

        .img-size {
          width: 35%;
        }

        .m-l {
          margin: 2rem; padding: 0;
        }

        .btn-modal {
          margin-top: 9%;
        }

        .bg-header-enfermedad {
          background-color: #00AFD8;
          height: 57px;
        }

        h2{
           color: #fff;
           font-size: 1.8rem ;
        }
        h1{
             color: #fff;
           font-size: 2.8rem ;
        }
        p{
            color: #fff;
            font-size: 1.5rem
        }


        .bg-menu{
          background-image: url( "../assets/img/home/menu.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          content: "";
          min-height: 65px;
      }
         .scroll-content{
            padding-top: 0 !important;
      }

      .img-header {
        position: absolute;
        z-index: 9999
      }

      .bg-enfermedad {
        background-image: url( "../assets/img/template/back.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        content: "";
        height: 100%;
      }

      .b-1 {
        border-radius: 10px;
        background-color: #005eb6;
        width: 300px;
        padding: 25px;
        margin: auto;
        margin-top: 37%;
      }

      .b-modal {
        border-radius: 10px;
        background-color: #005eb6;
        width: 300px;
        padding: 25px;
        margin: auto;
    }

      .b-2 {
        border-radius: 10px;
        background-color: #fff;
        color: #005eb6;
        width: 300px;
        padding: 25px;
        margin: auto;
      }

      .b-2 h2 {
        color: #005eb6;
      }

      .b-2 p {
        color: #005eb6;
      }

      .b-1 ul li {
        color: #fff;
      }

      .row-img {
        background-color: #EAEAEA;
        padding: 2rem 0 2rem 0;
      }

      .d-none-1 {
        color: red;
      }

      .img-close {
        max-width: 25px;
        position: absolute;
        top: 1.5rem;
        right: 7rem;
      }

      .btn-referencias {
        max-width: 35px;
        position: absolute;
        top: -2.5rem;
        right: 7rem;
      }

      .footer-text {
        background-color:#E9E9E9;
      }
      .p-text p {
        font-size: .9rem;
        color: #000;
      }

      .ref-h2 {
        margin: 0 0 10%;
      }
}
