<!--
  Generated template for the PorTiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  "> 
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="row">
        <div class="col-12 bg-header-enfermedad">
            <div class="col-3 img-header">
                <img src="../assets/img/template/foto1.png" class="img-fluid"/>
            </div>
            <div class="col-8 mt-3 offset-3" >
                <h2 class="my-4">Tips Nutricionales</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-5 p-0" >
            <img src="../assets/img/hemofilia/b-e.png" class="img-fluid" style="position: absolute"/>
        </div>
        <div class="col-9 b-2 mb-5">
            <div class="col-10 mx-auto my-4">
                <img src="../assets/img/hemofilia/n1.png" class="img-fluid"/>
            </div>
            <h2 class="mb-4">  <b>Una dieta saludable es especialmente importante en los niños y adultos con hemofilia1</b></h2>
            <p>
                Es necesaria una dieta equilibrada y evitar el sobrepeso.<sup>2</sup> Mantener un peso adecuado reduce el riesgo de daño articular, ya que un peso excesivo somete a las articulaciones a un esfuerzo adicional, que en muchas ocasiones ya se encuentran frágiles, condicionando un desgaste de los cartílagos, dolor y limitación del movimiento.1 Además, las personas que padecen sobrepeso tienen que tomar dosis más grandes de factor, lo que condiciona gastos médicos más altos.<sup>3</sup>
            </p>
            <p class="my-4">
                Es especialmente recomendable poner atención a las necesidades de nutrimentos que requiere una persona después de un episodio de sangrado, por lo que la dieta debe contener alimentos ricos en proteínas, minerales (hierro, cobre) y vitaminas (K, C, E, complejo B y ácido fólico). Estos nutrientes los puedes encontrar en vegetales (como la alfalfa, coles, acelgas, espinacas, brócoli, lechuga, cebolla, apio, cilantro), frutas, especias (mejorana, tomillo, perejil, orégano), así como en pan y yogourt.<sup>2</sup>
            </p>
        </div>

        <div class="col-10 mx-auto my-4">
            <img src="../assets/img/hemofilia/n2.png" class="img-fluid"/>
        </div>



        <div class="col-12 row-img">
            <div class="col-12">
                <div [class]="className">
                    <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
                    <h2 class="ref-h2">Referencias:</h2>
                    <p>
                        1. Cambiando las posibilidades en Hemofilia. Consultado el 18 de julio de 2018. Disponible en: <i>http://www.novohemostasia.com.ar/pacientes/soporte/archivos/Folleto_Alimentacion_saludable_arg.pdf</i>
                    </p>
                    <p>
                        2. Apuntes sobre la dieta en hemofilia. Consultado el 18 de julio de 2018. Disponible en: <i>https://hemofiliacat.wordpress.com/2012/05/29/apuntes-sobre-la-dieta-en-hemofilia/</i>
                    </p>
                    <p>
                        3. Nutrición. Guía de Hemofilia, Enfermedad de Willebrand y Trastornos Plaquetarios. Consultado el 18 de julio de 2018. Disponible en: <i>https://www.hog.org/handbook/esp/section/5/nutrition</i>
                    </p>
                    <p>
                        4. NORMA Oficial Mexicana NOM-043-SSA2-2012, Servicios básicos de salud. Promoción y educación para la salud en materia alimentaria. Criterios para brindar orientación.
                    </p>
                </div>
                <div class="col-12 text-center mt-5" (click)="goHanldeClick()" >
                    <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
                </div>
            </div>

        </div>




        <div class="col-12 row-img">
            <div class="row">
                <div class="col-10 mx-auto text-center my-4 p-text">
                    <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                            Consulte a su médico</b></p>
                    <p>
                        Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                    </p>
                </div>
            </div>
        </div>
    </div>
</ion-content>
