<!--
  Generated template for the PorTiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  ">
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
              <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="row">
      <div class="col-12 bg-header-enfermedad">
        <div class="col-3 img-header">
          <img src="../assets/img/template/foto1.png" class="img-fluid"/>
        </div>
        <div class="col-8 mt-3 m-title">
            <p>Recomendaciones <br> nutricionales</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 row-img">
        <img src="../assets/img/artritis/tips-ejercicios/back.png" class="img-fluid img-absolute-main"/>
      </div>
      <div class="col-12">
        <div class="b-2 m-top">
          <div class="text-center main-margin">
            <img src="../assets/img/artritis/tips-ejercicios/1.png" class="img-fluid max-icon-number" />
            <img src="../assets/img/artritis/tips-nutricion/imagen_1.png" class="img-fluid max-figure" />
          </div>
          <h2>Recomendaciones
            nutricionales para mejorar los
            síntomas en artritis
            reumatoide<sup>1,2</sup></h2>
          <ul class="ul-custom-margin">
            <li>Ingesta adecuada de calcio</li>
            <li>Suplementos de vitamina D</li>
            <li>Suplementos con vitaminas B</li>
            <li>Cereales (arroz, semillas de todo
              tipo, maíz, avena, centeno,
              cebada, quinoa)</li>
            <li>Legumbres (frijoles, garbanzos,
              habas, lentejas, soya)</li>
            <li>Frutas (frutas frescas o secas como
              pasas)</li>
            <li>Verduras (raíces, papa, cebolla, espárragos, alfalfa, espinacas, brócoli)</li>
            <li>Setas</li>
            <li>Leche</li>
            <li>Aceite de pescado</li>
            <li>Linaza</li>
          </ul>
        </div>
      </div>
      <div class="col-12 m-top-alimentos">
        <div class="col-12">
          <div class="b-2">
            <div class="text-center m-icons">
              <img src="../assets/img/artritis/tips-ejercicios/2.png" class="img-fluid max-icon-number" />
              <img src="../assets/img/artritis/tips-nutricion/imagen_2.png" class="img-fluid max-figure-alimentos" />
            </div>
            <div>
              <h2>Alimentos que deben evitarse
                para no empeorar los
                síntomas <sup>2</sup></h2>
              <ul class="ul-custom-margin">
                <li>Alimentos con un alto contenido de
                  carbohidratos y grasas saturadas</li>
                <li>Carnes fritas o a la parrilla</li>
                <li>Ácidos grasos omega 6</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 m-top-table">
        <div class="col-12">
          <div class="text-center m-table">
            <h2 class="title-adira">En el estudio ADIRA se
                demostró que la dieta tiene
                relevancia en la artritis <sup>3</sup></h2>
            <img src="../assets/img/artritis/tips-nutricion/tabla.png" class="img-fluid table-figure" />
            <p class="rf-tab"><b>Adaptado de:</b> Winkvist A, et al. Nutr J. 2018; 17(1):44.</p>
          </div>
        </div>
      </div>

      <div class="col-12 row-img m-top-ref">
        <div class="col-12 text-right" (click)="goHanldeClick()">
          <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
        </div>
        <div class="col-12">
          <div [class]="className">
            <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
            <h2 class="ref-h2">Referencias:</h2>
            <p><b>1.</b> Alhmbra-Expósito MR,
              Arjonilla-Sampedro ME Molina-Puerta
              M, <i>et</i> al. Recomendaciones dietéticas en
              la artritis reumatoide. Rev Esp Nutr
              Hum Diet. 2013; 17(4): 165 – 171.</p>
            <p><b>2.</b> Guía de nutrición para las personas
              con AR. Ciertos alimentos pueden
              ayudar a mitigar los síntomas de la
              artritis. Arthritis Fundation. Consultado
              el 22 de mayo de 2018. Disponible en:
              <i>http://espanol.arthritis.org/espanol/ejercicio/dieta-nutricion/guia-nutricion-ar/</i></p>
            <p><b>3.</b> Winkvist A, Bärebring L, Gjertsson I,
              <i>et al</i>. A randomized controlled
              cross-over trial investigating the effect
              of anti-inflammatory diet on disease
              activity and quality of life in rheumatoid
              arthritis: the Anti-inflammatory Diet In
              Rheumatoid Arthritis (ADIRA) study
              protocol. Nutr J. 2018; 17(1):44.</p>

          </div>
        </div>
      </div>
      <div class="col-12 row-img">
        <div class="row">
               <div class="col-10 mx-auto text-center my-4 p-text">
                   <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                    Consulte a su médico</b></p>
                   <p>
                       Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                   </p>
               </div>
           </div>
      </div>
    </div>
</ion-content>
