
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  "> 
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="row border-bottom">
        <div class="col-12 p-0 bg-menu">

        </div>
        <div class="col-12 text-center my-3">
            <h2> <img src="../assets/img/template/sm-3.png" alt="" class=" max-icon-h" /> ASOCIACIONES DE PACIENTES </h2>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-10  mx-auto text-center mb-3">
            <p class="mt-3">
                Las asociaciones para pacientes organizan encuentros y pláticas con profesionales de la salud y pacientes que padecen la misma patología.
            </p>
            <p class="">
                Estas comunidades facilitan al paciente compartir experiencias con otras personas, entendimiento de la enfermedad y su integración a la sociedad.
            </p>
        </div>
        <div class="col-6 mx-auto">
            <button ion-button secondary (click)="goPaciAsocia()"  type="button" class="btn btn-primary btn-block btn-submenu btn-color">Continuar</button>

        </div>
    </div>

    <div class="row ssa-position ">
        <div class="col-12 mx-auto text-center  ">
            <p>

                Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
            </p>
        </div>
    </div>



</ion-content>
