<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  "> 
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" (click)="goMenuPrincipal()" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="row border-bottom">
        <div class="col-12 p-0 bg-menu">
        </div>
        <div class="col-12 text-center my-3">
            <h2><span class="ico ico-chat"></span> COACHING DE VIDA</h2>
        </div>
    </div>
    <div class="row bg-white">
        <div class="col-11  mx-auto text-justify mb-3">
            <p class="txt-primary">Seleccione la fecha en la que esté disponible</p>
          <form [formGroup]="stepForm" >
                <ion-calendar
                    [(ngModel)]="date"
                    (onChange)="onChange($event)"
                    [type]="type"
                    [format]="'YYYY-MM-DD'"
                    formControlName="date"
                    [(formGroup)]="stepForm"
                    [options]="options"
                    >
                </ion-calendar>

                <div class="text-center">
                    <button ion-button class="btn btn-primary btn-advance" [disabled]="!stepForm.valid" (click)="goCVSchedule()">Continuar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row disclaimers bg-white">
        <div class="col-12 mx-auto text-center">
            <p>
                La fecha y rangos de horarios seleccionados serán considerados para la gestión de citas; sin embargo, puede que no sean los finales, ya que están sujetos a disponibilidad.
            </p>
            <p>
                Derechos Reservados, Productos Roche, S.A. de C.V.© México, 2018. Roche® es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total. No. SSA: 183300202C4198/SSA2018
            </p>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <div class="container">
            <div class="row">
                <div class="col-2 mx-auto p-0 footer-nav-item" *ngIf="menuItemsActive[0]">
                    <button ion-button class="btn btn-nav ico-an" (click)="goANIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item"  *ngIf="menuItemsActive[1]">
                    <button ion-button class="btn btn-nav ico-en" (click)="goENIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item"  *ngIf="menuItemsActive[2]">
                    <button ion-button class="btn btn-nav ico-cv" (click)="goCVIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item"  *ngIf="menuItemsActive[3]">
                    <button ion-button class="btn btn-nav ico-oo"  (click)="goOOIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item" *ngIf="menuItemsActive[4]">
                    <button ion-button class="btn btn-nav ico-ci" (click)="goCIIntro()"></button>
                </div>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>