<ion-header>
    <ion-navbar>
        <div class="row">
            
            <div class="col-3 offset-2 p-0  "> 
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-2 offset-4 p-0 "><img src="../assets/img/template/roche.png" alt="" class="my-3 img-fluid max-icon-h" />
            </div>

        </div>
    </ion-navbar>
</ion-header>


<ion-content>

    <div class="row logo-position ">
        <div class="col-8 mx-auto text-center mb-5 ">
            <img src="../assets/img/template/logo.png" alt="" class="img-fluid" />
        </div>
        <div class="col-8 mx-auto text-center mt-2  ">
            <button ion-button secondary (click)="goLogin()"  type="button" class="btn btn-primary btn-block btn-home">INICIAR SESIÓN</button>
        </div>

        <div class="col-8 mx-auto text-center mt-2  ">
            <button ion-button secondary (click)="goRegistro()"  type="button" class="btn btn-primary btn-block btn-home">REGÍSTRATE</button>
        </div>
    </div>
    <div class="row ssa-position ">
        <div class="col-10 mx-auto text-center  ">
            <p>

                Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
            </p>
        </div>
    </div>


    <!--  
      
      <button ion-button secondary (click)="pushPage()">Ver conozca</button>-->
</ion-content>
