page-home {

    ion-content{
        background-image: url( "../assets/img/home/bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
    }
    .logo-position{
        top:36%;
        position: absolute;

    }
    .btn-home{
        font-size: 1.8rem;
        font-weight: 700;
        background-color: #008FD5;
        border-radius: 0;
        height: 4.5rem;

    }
    .ssa-position{
        bottom: 0%;
        position: absolute;
        font-size: 1rem;
        color: #fff;
    }
}
