
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  ">
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="row">
      <div class="col-12 bg-header-enfermedad">
        <div class="col-3 img-header">
          <img src="../assets/img/template/foto1.png" class="img-fluid"/>
        </div>
        <div class="col-8 mt-3 m-h">
            <h2>Sistema nervioso</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 row-img">
        <img src="../assets/img/template/back_1.jpg" class="img-fluid main-figure" />
      </div>
      <div class="col-12">
          <div class="b-1">
            <p>Para comprender por qué en los
              pacientes con esclerosis múltiple (EM)
              es de suma importancia ejercitarse y
              alimentarse bien, es necesario conocer
              de manera rápida la anatomía del
              sistema nervioso y cómo se transportan
              las señales nerviosas a través del
              organismo.</p>
            <p>El sistema nervioso está formado por el
              sistema nervioso central (cerebro y
              médula espinal) y el sistema nervioso
              periférico (nervios espinales y
              craneales).<sup>1,2</sup></p>
          </div>
      </div>
      <div class="col-12 row-img">
        <div class="col-12 text-center">
          <img src="../assets/img/template/img1_sistema_nervioso.png" class="img-fluid max-figure" />
        </div>
        <div class="col-12">
          <div class="b-2">
            <p>El cerebro controla las funciones
              superiores del SNC, incluida la
              inteligencia, la memoria, el aprendizaje y
              las emociones. <sup>1</sup></p>
          </div>
        </div>
      </div>
      <div class="col-12 row-img">
        <div class="col-12 text-center">
          <img src="../assets/img/template/img2_sistema_nervioso.png" class="img-fluid max-w" />
        </div>
        <div class="col-12">
          <div class="b-2">
            <p>La médula espinal es una estructura que
              va de la base del cerebro hasta la parte
              baja de la cintura. De la médula salen los
              nervios espinales, los cuales pasan entre
              las vértebras y se distribuyen por los
              músculos a todo el cuerpo. Transmite la
              información entre el cerebro y el cuerpo, y
              visceversa. <sup>1</sup></p>
            <p>El sistema nervioso periférico engloba a
              todo el tejido nervioso fuera de la médula
              espinal y el cerebro. Incluye a las
              neuronas que conectan el cerebro y la
              médula espinal con los tejidos, órganos y
              músculos periféricos.<sup>1</sup></p>
            </div>
        </div>
      </div>
      <div class="col-12 row-img">
        <div class="col-12 text-center">
          <img src="../assets/img/template/img3_sistema_nervioso.png" class="img-fluid max-figure" />
        </div>
        <div class="col-12">
          <div class="b-2">
            <p>La comunicación entre todas las
              estructuras nerviosas se hace posible
              gracias a las neuronas.<sup>1</sup></p>
            </div>
        </div>
      </div>
      <div class="col-12 row-img">
        <div class="col-12 text-center">
          <img src="../assets/img/template/img4_sistema_nervioso.png" class="img-fluid max-figure" />
        </div>
        <div class="col-12">
          <div class="b-2">
            <p>Como hemos visto, el sistema nervioso se
                encuentra presente en todas las funciones
                que el cuerpo realiza. Al ser la EM una
                enfermedad crónico-degenerativa del
                sistema nervioso central, sus principales
                manifestaciones se verán reflejadas en
                alteraciones de la movilidad, la función
                muscular, la visión, la fatiga, la cognición
                (procesos mentales), funciones
                gastrointestinales y urinarias, sensitivas y
                de coordinación. <sup>3</sup></p>
            <p>El ejercicio físico puede aliviar algunos de
              los síntomas de la EM, incluyendo la fatiga
              excesiva, los problemas de equilibrio y las
              dificultades de movilidad, e incluso puede
              proteger al sistema nervioso y retardar la
              progresión de la enfermedad. <sup>4,5</sup></p>
            </div>
        </div>
      </div>
      <div class="col-12 row-img">
        <div class="col-12 text-right" (click)="goHanldeClick()">
          <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
        </div>
        <div class="col-12">
          <div [class]="className">
            <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
            <h2 class="ref-h2"><b>Referencias:</b></h2>
            <p><b>1.</b> Función y estructura de la neurona.
              Khan Academy. Consultado el 23 de
              agosto de 2018. Disponible en:
              https://es.khanacademy.org/science/
              biology/human-biology/neuron-nervous-
              system/a/overview-of-neuron-structure-
              and-function</p>
            <p><b>2.</b> Cherry K. A Guide to the Anatomy of
              the Brain. Consultado el 23 de agosto de
              2018. Disponible en:
              https://www.verywellmind.com/the-
              anatomy-of-the-brain-2794895</p>
            <p><b>3.</b> Multiple sclerosis. MedlinePlus.
              Consultado el 30 de julio de 2018.
              Disponible en:
              https://medlineplus.gov/ency/article/
              000737.htm</p>
            <p><b>4.</b> Esclerosis múltiple. Ejercicios de
              fisioterapia. Federación Española para la
              Lucha contra la Esclerosis Múltiple
              (FELEM). Consultado el 30 de julio de
              2018. Disponible en:
              https://www.esclerosismultiple.com/pdfs/
              Comprender%20la%20EM/EJERCICIOS%
              20DE%20FISIOTERAPIA%20PARA%20
              PERSONAS%20CON%20EM.pdf</p>
            <p><b>5.</b> Esclerosis Múltiple España. Informe del
              estudio: Actividad física y deporte en
              esclerosis múltiple. 2015. Madrid, España.</p>
          </div>
        </div>
      </div>
      <div class="col-12 row-img">
        <div class="row">
               <div class="col-10 mx-auto text-center my-4 p-text">
                   <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                    Consulte a su médico</b></p>
                   <p>
                       Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                   </p>
               </div>
           </div>
      </div>
    </div>
</ion-content>
