page-trm {
    .content{
        background-color: #00AFD8}
    h2{
        color: #fff;
        font-size: 1.6rem ;
    }
    h1{
        color: #fff;
        font-size: 2.8rem ;
    }
    p{
        color: #fff;
        font-size: 1.9rem
    }

    .ssa-position{
        position: absolute;
        font-weight: 400;
        font-weight: 400;
        width: 100%;
    }
    .ssa-position p{
        font-size: .9rem;
        color: #fff;
        padding: 8%;
    }
    .bg-menu{
        background-image: url( "../assets/img/home/menu.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        content: "";
        min-height: 65px;
    }
    .scroll-content{
        padding-top: 0 !important;
    }
    .img-menu{
        max-height: 30px;
    }
    .btn-color{
        border-radius: 1.5rem;
        background-color: #006FB9
    }


}
