
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  "> 
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>








<ion-content padding>
    <div class="row border-bottom">
        <div class="col-12 p-0 bg-menu">

        </div>
        <div class="col-12 text-center my-3">
            <h2>CONTACTO</h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-10  mx-auto text-center mb-3">
            <p class="mt-3">Si usted desea contactarnos via telefónica, comuniquese al<p>
            <h1 class="mb-3"> 01 800 909 8500 </h1>
        </div>
        <div class="col-8  mx-auto text-center my-5">
            <img src="../assets/img/template/contacto.png" alt="" class="img-fluid" />
        </div>
    </div>
    <div class="row ssa-position ">
        <div class="col-10 mx-auto text-center  ">
            <p class="f-corr">
                En caso de sospecha de síntoma o reacción adversa envíe su mensaje dando clic a la siguiente dirección de correo:  <button ion-button clear (click)="sendEmail()"  class="btn-cont mt-2">  mexico.info@roche.com</button>
            </p>
            <p>
                Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
            </p>
        </div>
    </div>



</ion-content>
