page-contacto {

    .content{
        background-color: #00AFD8}
    h2{
        color: #fff;
        font-size: 1.8rem ;
    }
    h1{
        color: #fff;
        font-size: 2.8rem ;
    }
    p{
        color: #fff;
        font-size: 1.5rem
    }

    .ssa-position{
        position: absolute;
        font-weight: 400;
        font-weight: 400;
        width: 100%;
    }
    .ssa-position p{
        font-size: .9rem;
        color: #fff;
    }
    .bg-menu{
        background-image: url( "../assets/img/home/menu.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        content: "";
        min-height: 65px;
    }
    .scroll-content{
        padding-top: 0 !important;
    }
    .btn-cont{
        font-size: .9rem;
        color: #fff
    }
    .btn-cont{
        margin: 0;
        max-height: 1.3rem;
    }
    .f-corr{
        font-size: 1.5rem !important;
    }
}
