<!--
  Generated template for the PorTiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  "> 
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="row">
        <div class="col-12 bg-header-enfermedad">
            <div class="col-3 img-header">
                <img src="../assets/img/template/foto1.png" class="img-fluid"/>
            </div>
            <div class="col-8 mt-3 offset-3" >
                <h2>Tips de ejercicios</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-5 p-0" >
            <img src="../assets/img/hemofilia/b-e.png" class="img-fluid" style="position: absolute"/>
        </div>
        <div class="col-9 b-1 mb-5">
            <p>
                La hemofilia es una enfermedad en la que existen defectos en la coagulación, y afecta principalmente a los hombres. Las personas que padecen esta enfermedad tienen sangrados en las articulaciones y en los músculos, lo cual puede llevar a una artritis crónica dolorosa.<sup>1</sup>
            </p>
            <p class="my-4">
                Adicional a la terapia prescrita por el médico, el ejercicio es fundamental para mantener la funcionalidad de músculos y articulaciones.<sup>1</sup>
            </p>
            <p class="my-4">
                Para este fin, existen ejercicios que pueden adaptarse a la necesidad del paciente. El ejercicio, al igual que los medicamentos, funciona mejor cuando un profesional capacitado ha realizado una valoración completa y se han elegido ejercicios específicos que se adapten a los objetivos y habilidades del paciente.<sup>2</sup>
            </p>
            <p class="my-4">
                La valoración de cada paciente es importante, pues un programa de ejercicio inadecuado, realizado de manera incorrecta, en un momento inoportuno durante el periodo de recuperación o realizado con una intensidad incorrecta, puede causar más daño que beneficios.<sup>2</sup>
            </p>
            <p class="my-4">
                Los ejercicios deben enfocarse en fortalecer y favorecer la movilidad de los sitios más afectados por los sangrados:2
            </p>
        </div>

        <div class="col-10 mx-auto my-4">
            <img src="../assets/img/hemofilia/e2.png" class="img-fluid"/>
        </div>
        <div class="col-10 mx-auto">
            <img src="../assets/img/hemofilia/e1.png" class="img-fluid"/>
        </div>
        <div class="row">
            <div class="col-10 mx-auto">
                <img src="../assets/img/hemofilia/ej1.png" class="img-fluid"/>
            </div>
            <div class="col-10 mx-auto">
                <img src="../assets/img/hemofilia/ej2.png" class="img-fluid"/>
            </div>
            <div class="col-10 mx-auto">
                <img src="../assets/img/hemofilia/ej3.png" class="img-fluid"/>
            </div>
        </div>

        <div class="col-12 row-img">
            <div class="col-12">
                <div [class]="className">
                    <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
                    <h2 class="ref-h2">Referencias:</h2>
                    <p>
                        1. Strike K, Mulder K, Michael R. Exercise for haemophilia. Cochrane Database of Systematic Reviews 2016, Issue 12. Art. No.: CD011180. DOI: 10.1002/14651858.CD011180.pub2.
                    </p>
                    <p>
                        2. Mulder K. Ejercicios para personas con hemofilia. Federación Mundial de Hemofilia. 2006.
                    </p>

                </div>
                <div class="col-12 text-center mt-5" (click)="goHanldeClick()" >
                    <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
                </div>
            </div>

        </div>







        <div class="col-12 row-img">
            <div class="row">
                <div class="col-10 mx-auto text-center my-4 p-text">
                    <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                            Consulte a su médico</b></p>
                    <p>
                        Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                    </p>
                </div>
            </div>
        </div>
    </div>
</ion-content>
