<!--
  Generated template for the PorTiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  ">
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="row">
        <div class="col-12 bg-header-enfermedad">
            <div class="col-3 img-header">
                <img src="../assets/img/template/foto1.png" class="img-fluid"/>
            </div>
            <div class="col-8 mt-3 offset-3" >
                <h2>Conozca su enfermeda<br></h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-5 p-0" >
            <img src="../assets/img/fibrosis/back.png" class="img-fluid" style="position: absolute"/>
        </div>
        <div class="col-9 b-1">
            <h2 class="mb-4">  <b>¿Qué es la fibrosis quística (FQ)?</b></h2>
            <p>
                Es una enfermedad hereditaria que provoca la acumulación de moco espeso y pegajoso en pulmones, sistema digestivo y otros órganos.<sup>1,2</sup>
            </p>

            <p>
                Al ser espeso, ese moco no puede ser eliminado de manera normal, por lo que se acumula en la vía respiratoria y en el páncreas (órgano cubierto por el intestino y el estómago, que tiene como función secretar productos que ayudan a la digestión, además de producir hormonas como la insulina), lo que ocasiona infecciones pulmonares y problemas digestivos graves. Esta enfermedad también afecta a las glándulas sudoríparas y al aparato reproductor masculino.<sup>1,2</sup>
            </p>

        </div>



        <div class="col-12 row-img">
            <div class="row">
                <div class="col-6  mx-auto text-center">
                    <img src="../assets/img/fibrosis/img1.png" class="img-fluid"/>
                </div>

                <div class="col-12">
                    <div class="b-2">
                        <h2 class="mb-3"><b>¿Cuáles son las causas?</b></h2>
                        <p>
                            La enfermedad es causada por una mutación (defecto) en un gen que regula el movimiento de la sal al ingresar y salir de las células, lo que ocasiona la mucosidad pegajosa y viscosa, así como un sudor con mayor cantidad de sal. El grado de mutación del gen determina la gravedad de la enfermedad.<sup>2</sup>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 row-img">
            <div class="row">
                <div class="col-6  mx-auto text-center">
                    <img src="../assets/img/fibrosis/img2.png" class="img-fluid"/>
                </div>

                <div class="col-12">
                    <div class="b-2">
                        <h2 class="mb-4"><b>
                                ¿Cuáles son los síntomas?<sup>1</sup>
                            </b></h2>
                        <p>
                            Actualmente, en México se lleva a cabo un “tamiz neonatal”, el cual detecta enfermedades congénitas como la FQ; por esta razón, es posible diagnosticar la enfermedad desde el primer mes de vida, antes de que se manifiesten los síntomas, y, por ende, darle tratamiento a tiempo.<sup>2,3</sup>
                        </p>
                        <p>
                            Los síntomas son variados, y es muy importante que sigas las recomendaciones prescritas por tu médico y acudas con él si presentas síntomas como:<sup>1,2</sup>
                        </p>

                        <ul class="p-0">
                            <li>
                                Falta de apetito
                            </li>
                            <li>
                                Sudor salado
                            </li>
                            <li>
                                Infecciones respiratorias graves y recurrentes
                            </li>
                            <li>
                                Diarrea
                            </li>
                            <li>
                                Falta de crecimiento
                            </li>

                        </ul>
                        <p>
                            En algunos casos, los síntomas no se manifiestan hasta la adolescencia o la adultez, y se observa:<sup>1,2</sup>
                        </p>
                        <ul class="p-0">
                            <li>
                                Infertilidad
                            </li>
                            <li>
                                Inflamación del páncreas recurrente (pancreatitis)
                            </li>
                            <li>
                                Neumonía
                            </li>
                            <li>
                                Alteraciones en los dedos
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 row-img">
            <div class="row">
                <div class="col-8  mx-auto text-center">
                    <img src="../assets/img/fibrosis/img3.png" class="img-fluid"/>
                </div>

                <div class="col-12">
                    <div class="b-2">
                        <h2 class="mb-4"><b>
                                ¿Cuál es el tratamiento?
                            </b></h2>
                        <p>
                            No existe una cura para la fibrosis quística, pero existen muchos tratamientos que pueden aliviar los síntomas y reducir las complicaciones.<sup>2</sup>
                        </p>
                        <p>
                            El diagnóstico temprano y un plan de tratamiento mejoran tanto la supervivencia como la calidad de vida. El control y vigilancia son muy importantes.
                        </p>
                        <p>
                            Cuando sea posible, se deben recibir cuidados en clínicas con especialidad en FQ.<sup>1</sup>
                        </p>
                        <p>
                            El tratamiento para los problemas pulmonares incluye:<sup>1,2</sup>
                        </p>

                        <ul class="p-0 ml-4">
                            <li>
                                <b>Antibióticos:</b> para prevenir y tratar las infecciones
                            </li>
                            <li>
                                <b>Antiinflamatorios:</b>reducen la hinchazón de la vía respiratoria
                            </li>
                            <li>
                                <b>Medicamentos inhalados:</b> ayudan a mantener los bronquios abiertos
                            </li>
                            <li>
                                <b>Enzimas pancreáticas:</b> ayudan a que el estómago e intestinos absorban los nutrientes
                            </li>
                            <li>
                                <b> Fisioterapia:</b> ayudan a expulsar el moco mediante golpecitos en la espalda y pecho
                            </li>
                            <li>
                                <b> Medicamentos especializados:</b> actualmente existe un medicamento que mejora la función pulmonar, mejora la fluidez del moco, previene complicaciones y mejora la calidad de vida.<sup>4</sup>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 row-img">
            <div class="row">
                <div class="col-6  mx-auto text-center">
                    <img src="../assets/img/fibrosis/img4.png" class="img-fluid"/>
                </div>

                <div class="col-12">
                    <div class="b-2">
                        <h2 class="mb-3"><b>
                                ¿Cuáles son las expectativas?
                            </b></h2>
                        <p>
                            A pesar de que la FQ requiere cuidados diarios, la mayoría de los niños que la padecen permanece con buena salud hasta llegar a la adultez. Pueden asistir a la escuela, trabajar y hacer una vida prácticamente normal.<sup>1,2</sup>
                        </p>
                        <p>
                            Actualmente, y gracias a los métodos de diagnóstico y tratamientos específicos, las personas que padecen esta enfermedad tienen una edad promedio de entre 35 y 39 años, quienes con cuidados y tratamientos adecuados pueden llegar hasta los 50 años.<sup>1,2</sup>
                        </p>
                    </div>
                </div>
            </div>
        </div>




        <div class="col-12 row-img">
            <div class="col-12">
                <div [class]="className">
                    <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
                    <h2 class="ref-h2">Referencias:</h2>
                    <p>
                        1. Medline Plus. Cystic fibrosis. U.S. National Library of Medicine. Consultado el 21.05.18 en: https://medlineplus.gov/ency/article/00107.htm
                    </p>
                    <p>
                        2. Mayo Clinic. Fibrosis quística. Consultado el 21 de mayo de 2018. Disponible en: https://www.mayoclinic.org/es-es/diseases-conditions/cystic-fibrosis/symptoms-causes/syc-20353700
                    </p>
                    <p>
                        3. Norma Oficial Mexicana NOM-034-SSA2-2013, Para la prevención y control de los defectos del nacimiento. Consultada el 21 de mayo de 2108. Disponible en: http://www.dof.gob.mx/nota_detalle.php?codigo=5349816&fecha=24/06/2014&print=true
                    </p>
                    <p>
                        4. Información Para Prescribir Amplia Dornasa alfa.
                    </p>
                </div>
            </div>
            <div class="col-12 text-center" (click)="goHanldeClick()" style="margin-top: 9%;">
                <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
            </div>
        </div>
        <div class="col-12 row-img">
            <div class="row">
                <div class="col-10 mx-auto text-center my-4 p-text">
                    <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                            Consulte a su médico</b></p>
                    <p>
                        Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                    </p>
                </div>
            </div>
        </div>
    </div>
</ion-content>
