
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  "> 
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" (click)="goMenuPrincipal()" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="row border-bottom">
        <div class="col-12 p-0 bg-menu">

        </div>
        <div class="col-12 text-center my-3">
            <h2><span class="ico ico-chat"></span> ADHERENCIA A TRATAMIENTO</h2>
        </div>
    </div>
    <div class="row bg-white">
        <div class="col-11  mx-auto text-center mb-3">
            <p class="mt-3 txt-primary">
                Seleccione un rango de horario en el que esté disponible
            </p>
            <p class="txt-primary">{{ date | date: "dd/MM/yyyy" }}</p>
            <form [formGroup]="stepForm">
                <ion-list class="my-5"> 
                    <ion-item>
                        <ion-label>Horarios</ion-label>
                        <ion-select placeholder="Seleccione uno" [(ngModel)]="schedule" formControlName="schedule" [(formGroup)]="stepForm">
                            <ion-option value="7am-8am" >07:00 A.M. - 08:00 A.M.</ion-option>
                            <ion-option value="8am-9am">08:00 A.M. - 09:00 A.M.</ion-option>
                            <ion-option value="9am-10am">09:00 A.M. - 10:00 A.M.</ion-option>
                            <ion-option value="10am-11am">10:00 A.M. - 11:00 A.M.</ion-option>
                            <ion-option value="11am-12pm">11:00 A.M. - 12:00 P.M.</ion-option>
                            <ion-option value="12pm-1pm">12:00 P.M. - 01:00 P.M.</ion-option>
                            <ion-option value="1pm-2pm">01:00 P.M. - 02:00 P.M.</ion-option>
                            <ion-option value="2pm-3pm">02:00 P.M. - 03:00 P.M.</ion-option>
                            <ion-option value="3pm-4pm">03:00 P.M. - 04:00 P.M.</ion-option>
                            <ion-option value="4pm-5pm">04:00 P.M. - 05:00 P.M.</ion-option>
                            <ion-option value="5pm-6pm">05:00 P.M. - 06:00 P.M.</ion-option>
                            <ion-option value="6pm-7pm">06:00 P.M. - 07:00 P.M.</ion-option>
                            <ion-option value="7pm-8pm">07:00 P.M. - 08:00 P.M.</ion-option>
                            <ion-option value="8pm-9pm">08:00 P.M. - 09:00 P.M.</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
                <div class="text-center">
                    <button ion-button class="btn btn-primary btn-advance" [disabled]="!stepForm.valid" (click)="goOOThanks()">Continuar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row disclaimers bg-white">
        <div class="col-12 mx-auto text-center">
            <p>
                La fecha y rangos de horarios seleccionados serán considerados para la gestión de citas; sin embargo, puede que no sean los finales, ya que están sujetos a disponibilidad.
            </p>
            <p>
                Derechos Reservados, Productos Roche, S.A. de C.V.© México, 2018. Roche® es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total. No. SSA: 183300202C4198/SSA2018
            </p>
        </div>
    </div>



</ion-content>
<ion-footer>
    <ion-toolbar>
        <div class="container">
            <div class="row">
                <div class="col-2 mx-auto p-0 footer-nav-item" *ngIf="menuItemsActive[0]">
                    <button ion-button class="btn btn-nav ico-an" (click)="goANIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item"  *ngIf="menuItemsActive[1]">
                    <button ion-button class="btn btn-nav ico-en" (click)="goENIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item"  *ngIf="menuItemsActive[2]">
                    <button ion-button class="btn btn-nav ico-cv" (click)="goCVIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item"  *ngIf="menuItemsActive[3]">
                    <button ion-button class="btn btn-nav ico-oo"  (click)="goOOIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item" *ngIf="menuItemsActive[4]">
                    <button ion-button class="btn btn-nav ico-ci" (click)="goCIIntro()"></button>
                </div>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>