// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import 'node_modules/bootstrap/scss/bootstrap.scss';
ion-app.ios {
    font-family: verdana;
}
.bg-title-menu{
    background-color: #00afd8;
}
ion-app.android {
    font-family: verdana;
}
.max-icon-h{
    max-height: 50px;
}
.min-icon-h{
    min-height: 50px;
}
h1, h2, h3, h4{
    margin: auto;
}

.border-bottom {
    border-color: #ffffff;
}
.index-9{
    z-index: 999
}
.max-icon-h-i{
    max-height: 70px;
}



.btn-color-1{
    background-color: #57C7D8;
}
.img-menu-mx{
    max-height: 50px;
}
.btn-color-2{
    background-color: #00AFD7;

}
.btn-color-3{
    background-color: #008FD5;

}
.btn-color-4{
    background-color: #1B1464;

}
.btn-color-5{
    background-color: #120742;

}
.button-md{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.menu-inner{
    width: 100%
}

#rightMenu .menu-inner{
    width: 55%;
    max-height: 35rem;
    height: 35%

}
#rightMenu .content
{
    background-color: #fff
}

#rightMenu .min-h-5{
    min-height: 5rem;
}
#rightMenu a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #000;

}
.content{
    background-color: #00AFD8
}
.content-ios{
    background-color: #00AFD8
}

.item
{
    background: none;
    padding: 0

}
.menu-h p
{
    color: #fff;
    font-size: 1.8rem
}

.list .item-block .item-inner {

    border-bottom: 1px solid #dedede4d;

}
.ion-arrow-back::before {
    color: #006FB9;
}
.hide, page-menu-esclerosis [hidden], page-menu-esclerosis template {

    display: block !important;
}
.hide, [hidden], template {

    display: block !important;
}
.bar-button-menutoggle ion-icon {

    font-size: 3.8rem;
    color: #006FB9;
}
.z-x{
    font-size: 3rem
}
ion-label{
    white-space: normal;
}
.button-inner{
    white-space: normal;
}
page-login .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, page-login .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border:none !important;
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
}
page-login .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, page-login .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {

    border:none !important;
    -webkit-box-shadow:none !important;
    box-shadow: none !important;

}
.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {

    border:none !important;
    -webkit-box-shadow:none !important;
    box-shadow: none !important;

}
.title-menu{
    font-size: 1.5rem;
    color: #fff;

}



.ico-chat{
    background-image: url(../assets/img/icons/ico-an-w.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    display: inline-block;
    vertical-align: middle;
}
.bg-primary-dark{
    background-color: #0093c6;
}
.btn-advance{
    padding-left: 10%;
    padding-right: 10%;
}

.disclaimers{
    p{
        font-size: .9rem;
    }
}

.btn-nav{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    max-height: 45px;
    display: block;
}
.txt-primary{
    color: #076fb8;
}
.btn-close{
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}


.ico-oo{ background-image: url(../assets/img/icons/ico-oo.png); }
.ico-ci{ background-image: url(../assets/img/icons/ico-ci.png); }
.ico-cv{ background-image: url(../assets/img/icons/ico-cv.png); }
.ico-en{ background-image: url(../assets/img/icons/ico-en.png); }
.ico-an{ background-image: url(../assets/img/icons/ico-an.png); }

.img-fluid-h{
    max-width: 100%;
    height: auto;
    max-height: 100%;
    min-height: 30px;
}
.bar-button-menutoggle{
    margin-left: auto !important;
}