<ion-menu [swipeEnabled]="false" [content]="content" side="right">
    <ion-header>
        <ion-toolbar>
            <div class="row">
                <div class="col-6  "><img src="../assets/img/template/logo.png" alt="" class="mx-3 my-3" /></div>
                <div class="col-3 offset-3 text-center">
                    <button ion-button clear menuClose class="z-x mt-5"> X</button>
                </div>
            </div>
        </ion-toolbar>
    </ion-header>


    <ion-content>
        <ion-list>
            <div class="content-fluid" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                 <div class="row align-items-center menu-h">   
                    <div class="col-2 offset-1 p-0 text-right">
                        <img src="../assets/img/template/{{p.icon}}.png" alt="" class="img-menu-mx" /> 
                    </div>
                    <div class="col-8">
                        <p>{{p.title}}</p>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-menu>


<ion-menu  [swipeEnabled]="false" id="rightMenu" [content]="content" side="left">
    <ion-header>
        <ion-toolbar>
            <div class="row">
                <div class="col-6 d-flex align-items-center  ">
                    <button ion-button clear menuClose="rightMenu" class="z-x"> X</button>   <img src="../assets/img/template/logo.png" alt="" class="mx-3 my-3 img-fluid min-h-5" />
                </div>

            </div>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
                <div class="col-12 d-flex border-bottom">
                    <a  (click)="goTrm()"  href="#" class="my-3 ml-4">Aviso de privacidad</a>
                </div>
               
        </ion-list>
        <ion-card *ngIf="text">
            <ion-card-content>
                Tu has pulsado {{ text }}
            </ion-card-content>
        </ion-card>
    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>



