
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  ">
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
              <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="row">
        <div class="col-12 bg-header-enfermedad">
            <div class="col-3 img-header">
                <img src="../assets/img/template/foto1.png" class="img-fluid"/>
            </div>
            <div class="col-8 mt-3" style="margin-left: 9rem">
                <h2>Sistema nervioso</h2>
            </div>
        </div>
    </div>
    <div class="row mt-5 ">
        <div class="col-12 row-img bg-info d-flex info">
            <div class="row">
                <div class="col-3 icon-1" >
                    <img (click)="goIcon1()"  src="../assets/img/template/1.png" class="img-fluid"/>

                </div>

                <div class="col-3 icon-2" >
                    <img (click)="goIcon2()"  src="../assets/img/template/2.png" class="img-fluid"/>

                </div>

                <div class="col-3 icon-3" >
                    <img (click)="goIcon3()"  src="../assets/img/template/3.png" class="img-fluid"/>

                </div>

                <div class="col-3 icon-4" >
                    <img (click)="goIcon4()"  src="../assets/img/template/4.png" class="img-fluid"/>

                </div>

                <div class="col-3 icon-5" >
                    <img (click)="goIcon5()"  src="../assets/img/template/5.png" class="img-fluid"/>

                </div>

                <div class="col-3 icon-6" >
                    <img (click)="goIcon6()"  src="../assets/img/template/6.png" class="img-fluid"/>

                </div>
                <div class="col-3 icon-refe" (click)="goHanldeClick()">
                    <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
                </div>

                <div [class]="iconTxt1">
                    <div class="row">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/template/1-i.png" class="max-icon-h"/>
                            <p class="mt-4"> La esclerosis múltiple (EM) es una enfermedad que afecta al sistema nervioso central (cerebro y médula espinal).<sup>1</sup></p>
                            <p class="my-5">Normalmente, el cerebro y la médula espinal se comunican con el resto del cuerpo a través de los nervios. Esta comunicación se lleva a cabo a través de las neuronas. La neurona es la célula básica del sistema nervioso y se caracteriza por tener un cuerpo de forma triangular, el cual se prolonga en una estructura cilíndrica más o menos larga llamada axón a través del cual viajan los impulsos nerviosos, es decir, la información que nos permite pensar, recuperar recuerdos, mover alguna parte del cuerpo, hablar, caminar, etc. Todos los axones están rodeados de una capa aislante llamada vaina de mielina, la cual facilita la transmisión de esa información a través de impulsos eléctricos.<sup>2,3</sup></p>
                        </div>
                    </div>
                </div>


                <div [class]=" iconTxt2">
                    <div class="row">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/template/2-i.png" class="max-icon-h"/>
                            <p class="my-5">
                                La principal característica de la EM es que se trata de una enfermedad desmielinizante, es decir, en ésta se pierde la mielina del cerebro y la médula espinal. <sup>1,2</sup>
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p class="my-5">
                                    <img  src="../assets/img/esclerosis/2-1.png" class=""/>
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="mt-4">
                                    Las fibras nerviosas transmiten mensajes entre el cerebro y el cuerpo, a través de señales nerviosas<sup>1</sup>
                                </p>
                                <p class="mt-4">
                                    La mielina facilita la conducción de esos mensajes<sup>1</sup>
                                </p>
                                <p class="mt-4">
                                    El sistema inmunológico ataca las vainas de mielina<sup>1</sup>
                                </p>
                                <p class="my-5">
                                    La mielina dañada provoca que las señales nerviosas fallen<sup>1</sup>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>




                <div [class]=" iconTxt3">
                    <div class="row">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/template/3-i.png" class="max-icon-h"/>
                            <p class="mt-4">
                                <b> Es muy frecuente en adultos de Europa Occidental y afecta con mayor frecuencia a mujeres de entre 20 y 40 años en una relación 2:1 en comparación con hombres <sup>8</sup></b>
                            </p>
                            <p class="mt-4">
                                <b>¿Cuántos tipos existen?</b>
                            </p>
                            <p class="mt-4">
                                Se conocen 3 tipos, los cuales se diferencian principalmente por el tiempo de progresión de la enfermedad, la sintomatología y el tiempo de recuperación.<sup>9-11</sup>
                            </p>
                            <p class="mt-4">
                                <b>¿Existen factores que predispongan a la enfermedad?</b>
                            </p>
                            <p class="my-5">
                                Sí, en general son muy variados, pero pueden dividirse en: genéticos (antecedentes familiares), ambientales e infecciones (causadas principalmente por virus y algunas bacterias).<sup>12</sup>
                            </p>
                        </div>
                    </div>

                </div>
                <div [class]=" iconTxt4">
                    <div class="row">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/template/4-i.png" class="max-icon-h"/>
                            <p class="m-4">
                                La mielina dañada provoca síntomas como:<sup>4-7</sup>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 my-5 text-icon">
                            <img  src="../assets/img/esclerosis/4-1.png" class="max-icon-h-i"/>
                            <p class="mt-4">
                                • Debilidad muscular
                            </p>
                            <p>
                                • Alteraciones de la vista
                            </p>
                            <p>
                                • Debilidad muscular
                            </p>
                            <p>
                                • Problemas con la coordinación y el equilibrio
                            </p>
                            <p>
                                • Sensaciones como entumecimiento, adormecimiento, comezón o pinchazos
                            </p>
                            <p>
                                • Alteraciones en el pensamiento y la memoria
                            </p>
                        </div>
                    </div>
                </div>
                <div [class]=" iconTxt5">
                    <div class="row">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/template/5-i.png" class="max-icon-h"/>
                            <p class="mt-4">
                                <b>¿Cómo se diagnostica?</b>
                            </p>
                            <p class="m-4">
                                No existen pruebas específicas para detectar la esclerosis múltiple. El diagnóstico se basa en descartar otras enfermedades que pueden causar signos y síntomas similares, y que incluyen:<sup>13</sup>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 my-5 text-icon">
                            <img  src="../assets/img/esclerosis/5-1.png" class="max-icon-h-i"/>
                            <p class="mt-4">
                                • Análisis de sangre que buscan marcadores específicos que se asocian con esclerosis múltiple
                            </p>
                            <p>
                                • Análisis de líquido cefalorraquídeo (sustancia que circula por todo el cerebro y médula espinal) en el que se pueden encontrar anticuerpos relacionados con la esclerosis múltiple
                            </p>
                            <p>
                                • Resonancia magnética, la cual revela lesiones en el cerebro asociadas con la enfermedad
                            </p>
                            <p>
                                • Pruebas de potenciales evocados (examen que registra las señales eléctricas producidas por el sistema nervioso en respuesta a algunos estímulos)
                            </p>

                        </div>
                    </div>
                </div>
                <div [class]=" iconTxt6">
                    <div class="row">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/template/6-i.png" class="max-icon-h"/>
                            <p class="mt-4">
                                <b>¿Cuál es el tratamiento?</b>
                            </p>
                            <p class="my-5">
                                Hasta el momento no existe cura, pero existen medicamentos novedosos que aceleran la recuperación, hacen más lento el avance de la enfermedad y controlan los principales síntomas.<sup>13</sup>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

        <div [class]="className">
            <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
            <h2 class="ref-h2 my-4">Referencias:</h2>
            <p><b>1.</b>
                Medline Plus. Multiple Sclerosis (MS). [Consultado el 30 de julio de 2018] Disponible en: https://medlineplus.gov/multiplesclerosis.html

            </p>
            <p><b>2.</b>
                MAPFRE. Salud Canales MAPFRE. Esclerosis múltiple y dieta. [Consultado el 30 de julio de 2018] Disponible en: https://www.salud.mapfre.es/nutricion/enfermedades-nutricion/esclerosis-multiple-y-dieta/
            </p>
            <p>
                <b>3.</b>
                Esclerosis Múltiple. Esperanza en la investigación. NINDS. 2012.
            </p>
            <p><b>4.</b>
                Zwibel H. Contribution of Impaired Mobility and General Symptoms to the Burden of Multiple Sclerosis. <i>Adv Ther</i>. 2009;26(12):1043-1057.
            </p>
            <p><b>5.</b>
                Kister I, Bacon T, Chamot E, <i>et al</i>. Natural History of Multiple Sclerosis Symptoms. <i>Int J MS Care</i>. 2013;15;146-156.
            </p>
            <p><b>6.</b>
                National Multiple Sclerosis Society. MS Symptoms. [Consultado el 30 de julio de 2018] Disponible en: https://www.nationalmssociety.org/Symptoms-Diagnosis/MS-Symptoms
            </p>
            <p><b>7.</b>
                Rae A, Eckert N. Bartz S, <i>et al</i>. Multiple Sclerosis. <i>Mult Scler.</i> 1999;5:179-183.
            </p>
            <p><b>8.</b>
                González F, Alcaraz J. Disease-modifyng therapies in relapsing-remiting multiple sclerosis. <i>Neuropsychiatr Dis Treat.</i> 2010;6:365-373.
            </p>
            <p><b>9.</b>
                Multiple Sclerosis International Federation. Atlas of MS (2013). [Consultado el 30 de julio 2018] Disponible en: http://www.msif.org/wp-content/uploads/2014/09/Atlas-of-MS.pdf
            </p>
            <p><b>10.</b>
                National Multiple Sclerosis Society. [Consultado el 9 de febrero de 2018] Disponible en: https://www.nationalmssociety.org/What-is-MS/Types-of-MS/Secondary-progressive-MS/When-the-transition-to-SPMS-occurs
            </p>
            <p><b>11.</b>
                Lublin FD, et al. Defining the clinical course of multiple sclerosis: the 2013 revisions. <i>Neurology.</i> 2014;83(3):278–286.
            </p>
            <p><b>12.</b>
                Porras M, Núñez L, Plascencia N, et al. Esclerosis múltiple. <i>Rev Mex Neurol.</i> 2007;8(1):57-66.
            </p>
            <p><b>13.</b>
                Mayo Clinic. Esclerosis múltiple. Diagnóstico. [Consultado el 15 de junio de 2018] Disponible en: https://www.mayoclinic.org/es-es/diseases-conditions/multiple-sclerosis/diagnosis-treatment/drc-20350274
            </p>
        </div>

    <div class="row index-9">
        <div class="col-12 row-img">
            <div class="row">
                <div class="col-10 mx-auto text-center my-4 p-text">
                    <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                            Consulte a su médico</b></p>
                    <p>
                        Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                    </p>
                </div>
            </div>
        </div>
    </div>
</ion-content>
