page-frases-esclerosis {
    .content{
    background-color: #fff
  }
    .ssa-position p{
        font-size: .8rem;
        color: #000;
    }
    .scroll-content{
        padding-top: 0 !important;
    }
}
