<ion-content  padding>
    <div class="row c-w">
        <div class="col-4  "><img src="../assets/img/template/logo.png" alt="" class="mx-3 my-3" /></div>
        <div class="col-3 offset-5  "><img src="../assets/img/template/roche.png" alt="" class="my-3 img-fluid" /></div>
    </div>
    <div class="row">
        <div class="col-12 p-0 bg-menu">

        </div>
        <div class="col-12 p-0">
            <h4 class="t-m"> GRACIAS POR REGISTRARTE</h4>

            <div class="col-8 mx-auto text-center mt-4  ">
                <button ion-button secondary type="button" class="btn btn-primary btn-block btn-home" (click)="goMenu()">
                    ENTRAR
                </button>
            </div>

        </div>
    </div>
    <div class="row ssa-position  ">
        <div class="col-12 mx-auto text-center  ">
            <p>
                Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
            </p>
        </div>
    </div>
</ion-content>