
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  "> 
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="row">
        <div class="col-12 bg-header-enfermedad">
            <div class="col-3 img-header">
                <img src="../assets/img/template/foto1.png" class="img-fluid"/>
            </div>
            <div class="col-8 mt-3" style="margin-left: 9rem">
                <h2>Infografía</h2>
            </div>
        </div>
    </div>
    <div class="row mt-5 ">
        <div class="col-12 row-img bg-info d-flex info">
            <div class="row">
                <div class="col-3 icon-1" >
                    <img (click)="goIcon1()"  src="../assets/img/hemofilia/1.png" class="img-fluid mx-h-5"/>

                </div>

                <div class="col-3 icon-2" >
                    <img (click)="goIcon2()"  src="../assets/img/hemofilia/2.png" class="img-fluid mx-h-5"/>

                </div>

                <div class="col-3 icon-3" >
                    <img (click)="goIcon3()"  src="../assets/img/hemofilia/3.png" class="img-fluid mx-h-5"/>

                </div>

                <div class="col-3 icon-4" >
                    <img (click)="goIcon4()"  src="../assets/img/hemofilia/4.png" class="img-fluid mx-h-5"/>

                </div>

                <div class="col-3 icon-5" >
                    <img (click)="goIcon5()"  src="../assets/img/hemofilia/5.png" class="img-fluid mx-h-5"/>

                </div>

                <div class="col-3 icon-6" >
                    <img (click)="goIcon6()"  src="../assets/img/hemofilia/6.png" class="img-fluid mx-h-5"/>

                </div>
                <div class="col-3 icon-refe" (click)="goHanldeClick()">
                    <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
                </div>

                <div [class]="iconTxt1">
                    <div class="row">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/hemofilia/1-i.png" class="max-icon-h"/>
                            <p class="my-4"><b>Sabías que...</b></p>

                            <p class="mt-4"> la hemofilia es una enfermedad hereditaria en la cual la sangre no coagula de manera normal, lo que provoca que la persona que la padece pueda sangrar en forma espontánea sin ninguna causa, o que ante una herida presente sangrado por un tiempo mayor al habitual, difícil de controlar.<sup>1,2</sup></p>
                            <p class="my-4"><b>¿Cómo se produce la coagulación?</b></p>

                            <p class="my-4">
                                De manera normal, el cuerpo posee 13 factores de coagulación que a la menor lesión trabajan en conjunto para detener el sangrado (mediante la formación de un tapón o coágulo), en lo que se conoce como “cascada de la coagulación”. <sup>3</sup>
                            </p>
                            <div class="col-11 mx-auto">
                                <img  src="../assets/img/hemofilia/1-1.png" class="img-fluid"/>
                            </div>
                            <p class="my-4">
                                Si uno de los factores no funciona bien, esta cascada se interrumpe y la formación del tapón (coágulo) se retrasa, por lo que el sangrado durará más de tiempo.<sup>3</sup>
                            </p>
                            <p class="my-4">
                                <b>Proceso de coagulación en la hemofilia </b>
                            </p>
                            <div class="col-11 mx-auto">
                                <img  src="../assets/img/hemofilia/1-2.png" class="img-fluid"/>
                            </div>
                            <p class="my-4">
                                <b>En el caso de la hemofilia, los factores que no funcionan de manera normal son el VIII (hemofilia A) y el IX (hemofilia B).<sup>3,4</sup> </b>
                            </p>
                        </div>
                    </div>
                </div>


                <div [class]=" iconTxt2">
                    <div class="row">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/hemofilia/2-i.png" class="max-icon-h"/>
                            <p class="my-5"><b>Sabías que...</b></p>
                            <p class="my-4">
                                es una enfermedad genética en la que se ve afectado el cromosoma X. La enfermedad la transmiten las mujeres (portadoras del gen de la hemofilia) y es padecida por los hombres (en 99 % de los casos).<sup>4,5</sup>
                            </p>
                            
                            <p class="my-4">
                                La razón por la cual los hombres son los afectados es porque sólo poseen un cromosoma X (XY) y las mujeres poseen dos (XX), por lo que la probabilidad de que sus hijos padezcan la enfermedad varía si:
                            </p>
                            
                             <div class="col-8 mx-auto text-center my-4">
                                <p> Papá es sano y mamá es portadora</p>
                            </div>
                            <div class="col-12 my-4">
                                <img  src="../assets/img/hemofilia/2-1.png" class="img-fluid"/>
                            </div>
                            <div class="col-8 mx-auto text-center my-4">
                                <p>
                                    Papá tiene hemofilia y mamá está sana
                                </p>
                            </div>
                            <div class="col-12 my-4">
                                <img  src="../assets/img/hemofilia/2-2.png" class="img-fluid"/>
                            </div>
                                <div class="col-8 mx-auto text-center my-4">
                                <p>
                                    Papá tiene hemofilia y mamá es portadora
                                </p>
                            </div>
                            <div class="col-12 my-4">
                                <img  src="../assets/img/hemofilia/2-3.png" class="img-fluid"/>
                            </div>

                        </div>

                    </div>
                </div>




                <div [class]=" iconTxt3">
                    <div class="row">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/hemofilia/3-i.png" class="max-icon-h"/>
                            <p class="my-4">
                                Las alteraciones en estos dos factores de coagulación determinan dos tipos de hemofilia:<sup>4,5</sup>
                            </p>
                            <div class="col-12 my-4 text-center">
                                <p><b>Hemofilia A</b></p>
                                <p>La padece el 85 % de los pacientes El factor involucrado es el VIII </p>
                            </div>
                            <div class="col-12 my-4 text-center">
                                <img  src="../assets/img/hemofilia/3-1.png" class="img-fluid"/>
                            </div>
                            <div class="col-12 my-4 text-center">
                                <p><b>Hemofilia B</b></p>
                                <p>
                                    La padece el 15 % de los pacientes El factor comprometido es el IX
                                </p>
                            </div>
                          
                        </div>
                    </div>

                </div>
                <div [class]=" iconTxt4">
                    <div class="row">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/hemofilia/4-i.png" class="max-icon-h"/>
                            <p class="my-5"><b>Sabías que...</b></p>
                            <p class="m-4">
                                los síntomas se pueden presentar desde la infancia temprana y son:<sup>3</sup>
                            </p>
                            <div class="col-6 mx-auto my-5">
                                <img  src="../assets/img/hemofilia/4-1.png" class="img-fluid"/>
                            </div>
                             <p class="ml-3">
                              •  Formación frecuente de moretones o moretón en la cabeza, sangrados en las articulaciones o músculos, principalmente cuando el bebé está aprendiendo a caminar
                            </p>
                             <p class=" ml-3">
                             • Encías inflamadas, con moretones y sangrado, especialmente durante la dentición
                            </p>
                            <p>
                                En adultos, los síntomas son variables y se pueden presentar:<sup>2</sup>
                            </p>
                            <div class="col-9 mx-auto my-5">
                                <img  src="../assets/img/hemofilia/4-2.png" class="img-fluid"/>
                            </div>
                             <p class="ml-3">
                              • Moretones de gran tamaño, particularmente en rodillas, codos, tobillos y brazos
                            </p>
                             <p class=" ml-3">
                             • Sangrados espontáneos y que tardan tiempo en controlarse
                            </p>
                            <p class=" ml-3">
                             • En el sitio donde se producen estos sangrados, se puede presentar dolor, inflamación, rigidez y dificultad para el movimiento del músculo o articulación
                            </p>
                            
                        </div>
                    </div>

                   
                </div>
                <div [class]=" iconTxt5">
                    <div class="row">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/hemofilia/5-i.png" class="max-icon-h"/>
                            <p class="mt-4">
                                <b>¿Cómo se diagnostica?</b>
                            </p>
                            <p class="m-4">
                                Tres pruebas de laboratorios rastrean la actividad de la coagulación:<sup>4,5</sup>
                            </p>
                            <p class="m-3">
                                <b>a)</b>Tiempo parcial de tromboplastina activada (TTPa)
                            </p>
                            <p class="m-3">
                                <b>b)</b>Tiempo de protrombina (TP)
                            </p>
                            <p class="m-3">
                                <b>c)</b>Tasa normalizada internacional (TNI)
                            </p>
                            <p class="m-5">
                                De manera adicional, se mide la actividad del factor VIII en sangre.<sup>4,5</sup>
                            </p>
                        </div>

                    </div>

                </div>
                <div [class]=" iconTxt6">
                    <div class="row">
                        <img src="../assets/img/template/close_blue.png" alt="" (click)="goIconOff()" class="img-close">
                        <div class="col-12 mt-5 text-icon">
                            <img  src="../assets/img/hemofilia/6-i.png" class="max-icon-h"/>
                            <p class="mt-4">
                                <b>¿Cuál es el tratamiento?</b>
                            </p>
                            <p class="my-5">
                                La terapia actual consiste en administrar el factor faltante de manera preventiva o a demanda cuando existe un sangrado.<sup>6</sup>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div [class]="className">
        <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
        <h2 class="ref-h2 my-4">Referencias:</h2>
        <p><b>1.</b>
             NIH. Hemophilia. Medline Plus. Consultado el 12 de julio de 2018. Disponible en: <i>https://medlineplus.gov/hemophilia.html</i>

        </p>
        <p><b>2.</b> 
             WFH. Trastornos de la coagulación: Hemofilia. Federación Mundial de Hemofilia. Consultado el 12 de julio de 2018. Disponible en: <i>https://www.wfh.org/es/page.aspx?pid=932</i>
        </p>
        <p>
            <b>3.</b> 
             Pregnancy infonet. Hemofilia. Consultado el 12 de julio de 2018. Disponible en: <i>http://espanol.pregnancy-info.net/hemofilia.html</i>
        </p>
        <p><b>4.</b>
            Reporte sobre hemofilia en México. Secretaría de Salud. México. 2016.
        </p>
        <p><b>5.</b>
            Medline Plus. Hemophilia. Consultado el 31 de mayo de 2018. Disponible en: <i>https://medlineplus.gov/ency/article/000537.htm</i>

        </p>
        <p><b>6.</b>
            García J, Majluf A. Hemofilia. Gac Med Mex. 2013;149:308-321.
        </p>
        
          
    </div>

    <div class="row index-9">
        <div class="col-12 row-img">
            <div class="row">
                <div class="col-10 mx-auto text-center my-4 p-text">
                    <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                            Consulte a su médico</b></p>
                    <p>
                        Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                    </p>
                </div>
            </div>
        </div>
    </div>
</ion-content>
