page-esclerosis-tips-nutricionales {
  .content{
          background-color: #EAEAEA}

        .bg-header-enfermedad {
          background-color: #00AFD8;
        }

        h2{
           color: #fff;
           font-size: 1.8rem ;
        }
        h1{
             color: #fff;
           font-size: 2.8rem ;
        }
        p{
            color: #fff;
            font-size: 1.5rem
        }

        .ssa-position{
          bottom: 3%;
          position: absolute;
          font-weight: 400;
          font-weight: 400;
          width: 100%;
      }
      .ssa-position p{
          font-size: .7rem;
          color: #fff;
      }
          .bg-menu{
          background-image: url( "../assets/img/home/menu.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          content: "";
          min-height: 65px;
      }
         .scroll-content{
            padding-top: 0 !important;
      }

      .img-header {
        position: absolute;
        z-index: 9999
      }

      .bg-enfermedad {
        background-image: url( "../assets/img/template/back_sistema_nervioso.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        content: "";
        height: 100%;
      }

      .b-1-nutricion {
        border-radius: 10px;
        background-color: #005eb6;
        width: 34rem;
        padding: 25px;
        margin: auto;
        color: #005eb6;
      }

      .b-modal {
        border-radius: 10px;
        background-color: #005eb6;
        width: 300px;
        padding: 25px;
        margin: auto;
    }

      .b-2 {
        border-radius: 10px;
        background-color: #fff;
        color: #005eb6;
        width: 300px;
        padding: 25px;
        margin: auto;
      }

      .b-2 h2 {
        color: #005eb6;
      }

      .b-2 p {
        color: #005eb6;
      }

      .b-1 ul li {
        color: #fff;
      }

      .row-img {
        background-color: #EAEAEA;
        padding: 2rem 0 2rem 0;
      }

      .d-none-1 {
        color: red;
      }

      .img-close {
        max-width: 25px;
        position: absolute;
        top: 1.5rem;
        right: 7rem;
      }

      .btn-referencias {
        max-width: 35px;
        margin: 0 4rem 2rem 0;
      }

      .footer-text {
        background-color:#E9E9E9;
      }
      .p-text p {
        font-size: .9rem;
        color: #000;
      }

      .ref-h2 {
        margin: 0 0 10%;
      }

      .m-t {
        margin-left: 9rem;
      }

      .main-figure {
        position: absolute;
      }

      .m-top {
        margin-top: 34rem;
      }

      .max-rw {
        max-width: 90%;
      }

      .max-wd {
        max-width: 60%;
      }

      .max-wdd {
        max-width: 80%;
      }
}
