<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  ">
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
              <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="row">
      <div class="col-12 bg-header-enfermedad">
        <div class="col-3 img-header">
          <img src="../assets/img/template/foto1.png" class="img-fluid"/>
        </div>
        <div class="col-8 mt-3 m-t">
            <p>Tips de nutricion <br> <b>Esclerosis múltiple </b></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 row-img">
        <img src="../assets/img/template/back_1.jpg" class="img-fluid main-figure" />
      </div>
      <div class="col-12">
          <div class="b-2 m-top">
            <div class="text-center">
              <img src="../assets/img/template/img_nutricion.png" class="img-fluid max-rw" />
            </div>
            <div>
              <p><b>Recuerde:</b></p>
              <p>Hasta el día de hoy, no se ha
                demostrado que seguir una dieta
                especial pueda beneficiar a los
                pacientes con EM. <sup>1</sup></p>
              <p><b>Una dieta bien equilibrada es la
                base de una buena salud en
                general.</b> <sup>1</sup></p>
              <p>A pesar de que la causa que origina
                la EM aún se desconoce, estudios
                actuales recomiendan el consumo de
                una dieta saludable inmediatamente
                después del diagnóstico. <sup>2</sup></p>
            </div>
          </div>
      </div>
      <div class="col-12 row-img">
        <div class="col-12">
          <div class="b-2">
            <div class="text-center">
              <img src="../assets/img/template/img2_nutricion.png" class="img-fluid max-wd" />
            </div>
            <div>
              <p><b>Importante:</b> una inadecuada
                nutrición (bajo peso o sobrepeso)
                puede aparecer durante el transcurso
                de la enfermedad; esto debido a los
                efectos sobre la cognición y la
                movilidad, los problemas para
                deglutir y algunos efectos
                secundarios de los medicamentos. <sup>2</sup>
                Aunque no hay una relación directa
                de la EM con la nutrición, sí se han
                observado datos interesantes: <sup>2</sup><br>
                <b>a)</b> El riesgo es mayor en países que
                consumen elevadas cantidades de
                ácidos grasos saturados (que
                provienen de la carne)<br>
                <b>b)</b> En países que consumen una
                mayor cantidad de pescado (rico en
                ácidos grasos poliinsaturados [AGPI])
                el riesgo es mucho menor</p>
                <p><b>¿Por qué?</b></p>
                <p>La carne de pescado contiene
                muchos AGPI, denominados Omega
                3 y Omega 6, los cuales forman
                parte importante del sistema
                nervioso, principalmente de la vaina
                de mielina. Por si fuera poco, los
                Omega 3 tienen propiedades
                antiinflamatorias y además regulan
                el sistema inmune. <sup>2</sup></p>
                <p>El consumo de alimentos que
                contienen antioxidantes (como las
                vitaminas E y C, minerales como el
                selenio o flavonoides presentes en
                los vegetales) inhiben la oxidación
                (degradación) de los AGPI que se
                encuentran en la vaina de mielina,
                situación que protege a estas
                estructuras nerviosas. <sup>2</sup></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 row-img">
        <div class="col-12">
          <div class="b-2">
            <div class="text-center">
              <img src="../assets/img/template/img3_nutricion.png" class="img-fluid max-wd" />
            </div>
            <div>
              <p><b>¿Qué debe comer si tiene
                remisiones y exacerbaciones de
                EM?</b></p>
              <p>En general, se debe seguir una dieta
                sana y equilibrada como cualquier
                persona adulta, en la que se
                obtengan grasas buenas,
                antioxidantes, vitaminas,
                probióticos y suficiente fibra para
                evitar el estreñimiento. <sup>2</sup></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 text-center">
        <img src="../assets/img/template/img4_nutricion.png" class="img-fluid max-wdd" />
      </div>

      <div class="col-12 row-img">
        <div class="col-12">
          <div class="b-1-nutricion">
            <div class="text-center">
              <img src="../assets/img/template/img5_nutricion.png" class="img-fluid" />
            </div>
            <div>
              <p><b>Importante:</b> las personas con EM
                deben poner especial atención en
                conservar un peso adecuado y evitar el
                estreñimiento, con el fin de no causar
                algunas alteraciones en la enfermedad. <sup>1</sup></p>
              <p>Para lograr una buena dieta puede
                basarse en el plato del buen comer y en
                general: <sup>1,2</sup></p>

              <p><b>1.</b>Consuma aceite de girasol o aceite de
                oliva, evite las grasas de origen animal
                (manteca), el consumo de margarina
                y, en general, todas las grasas
                vegetales tratadas de forma industrial.</p>

              <p><b>2.</b>Coma proteínas: aquí se incluye el
                pescado y el pollo de manera regular
                (2-3 veces a la semana), evite las
                carnes rojas en lo posible. También
                es recomendable consumir proteína
                vegetal de alto valor biológico como
                soya, quinoa, chía, tofu, seitán, alga
                espirulina, amaranto y legumbres
                (lentejas, garbanzo, chícharos y
                ejotes). <sup>4</sup></p>
              <p><b>3.</b>Si le gustan los lácteos, procure que
                sean deslactosados.</p>
              <p><b>4.</b>Procure incluir 2 raciones de fruta y 5
                raciones de vegetales (principalmente
                verdes) al día.</p>
              <p><b>5.</b>Coma cereales.</p>
              <p><b>6.</b>Evite comer productos como pasteles,
                chocolates, carnes muy grasosas, pan
                dulce, altos niveles de suplementos de
                vitaminas, productos azucarados como
                refrescos, helados, dulces, etc. Es
                mejor el consumo de pan, papa,
                legumbres secas, arroz y mezcla de
                cereales, que también proporcionan
                energía inmediata, minerales,
                vitaminas y fibra.</p>
              <p><b>7.</b>Beber suficiente agua, de acuerdo a
                peso, talla y actividad.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 row-img">
        <div class="col-12">
          <div class="b-2">
            <div class="text-center">
              <img src="../assets/img/template/img-tips-ejercicios.png" class="img-fluid max-wd" />
            </div>
            <div>
              <p><b>Importante:</b> A medida que la
                enfermedad progresa, debe haber un
                cambio en la dieta de los pacientes
                que se adapte a su situación
                (principalmente en la EM Primaria
                Progresiva). <sup>2</sup></p>
              <p><b>¿Cuáles son los principales
                cambios que debemos tomar en
                consideración para iniciar
                modificaciones en la dieta?</b></p>
              <p>Se deben iniciar cuando el paciente
                presente alteraciones de la movilidad
                reducidas, cansancio, temblor,
                alteraciones de la visión, dificultades
                para deglutir, depresión, úlceras por
                presión y síntomas ocasionados por
                los medicamentos (náusea, vómito,
                diarrea, boca seca). <sup>2</sup></p>
              <p><b>Recuerde:</b> el objetivo de la dieta es
                proporcionar los nutrimentos
                necesarios para mantener saludable
                el cuerpo y evitar
                sobrepeso/obesidad <br>o desnutrición. <sup>2</sup></p>
              <p>En algunos pacientes el sobrepeso se
                presenta por la falta de movilidad, la
                fatiga (común en estos pacientes, y
                propia de la EM), depresión,
                aburrimiento o, incluso, por el uso de
                medicamentos necesarios para
                controlar la enfermedad como los
                corticosteroides.</p>
              <p> El sobrepeso puede
                llegar a presentarse hasta en el 44 %
                de los pacientes. En estos casos, es
                necesario detectar y corregir los
                posibles errores en la nutrición. <sup>2</sup></p>
              <p>Por otro lado, también hay pacientes
                que pueden presentar pérdida de
                peso por desnutrición. Una manera
                de darse cuenta de que el paciente
                está desnutrido es porque presenta
                un adelgazamiento extremo, que lo
                hace sentir mal y hace que la fatiga
                se presente ante cualquier actividad
                por mínima que sea.</p>
              <p>En estos casos,
                es necesaria la intervención del
                equipo médico y de nutrición para
                evaluar posibles problemas para
                deglutir, posturas en las que come y
                medicamentos que toma. Pueden
                emplearse dietas que tengan un alto
                contenido en calorías para
                incrementar el peso.<sup>2</sup></p>
              <p>En pacientes con EM Primaria
                Progresiva , puede observarse un
                síntoma llamado disfagia, el cual se
                refiere al hecho de tener problemas
                para la deglución. Cuando ésta se
                presenta se puede acompañar de
                dificultad para el uso del lenguaje, lo
                que indica una afectación mayor del
                sistema nervioso. <sup>2</sup></p>
              <p><b>Importante:</b> la disfagia puede
                acompañarse de tos y sensación de
                ahogo al momento de comer,
                infecciones respiratorias repetitivas y
                pérdida de peso. <sup>2</sup></p>
              <p>Una manera de tratar la disfagia es
                cambiar la consistencia de los
                alimentos a líquidos espesos
                (cremas, purés o batidos). <sup>2</sup></p>
            </div>
          </div>
        </div>
      </div>



      <div class="col-12 row-img">
        <div class="col-12 text-right" (click)="goHanldeClick()">
          <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
        </div>
        <div class="col-12">
          <div [class]="className">
            <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
            <h2 class="ref-h2">Referencias:</h2>
            <p><b>1.</b> Esclerosis múltiple. Alimentación y EM.
              Federación Española para la Lucha contra
              la Esclerosis Múltiple (FELEM). Consultado
              el 13 de julio de 2018. Disponible en:
              https://www.esclerosismultiple.com/pdfs/
              ALIMENTACION%20Y%20EM.pdf</p>
            <p><b>2.</b> Manual de Formación Para Cuidadores.
              Federación de Asociaciones de Esclerosis
              Múltiple de Andalucía. Consultado el 30 de
              julio de 2018. Disponible en:
              http://www.elaandalucia.es/WP/wp-
              content/uploads/Manual-de-Formacion-
              para-Cuidadores.pdf <sup>4</sup></p>
            <p><b>3.</b> NORMA Oficial Mexicana
              NOM-043-SSA2-2012, Servicios básicos
              de salud. Promoción y educación para la
              salud en materia alimentaria. Criterios
              para brindar orientación.</p>
            <p><b>4.</b> Proteínas vegetales. Proteínas.pro.
              Consultado el 23 de agosto de 2018.
              Disponible en:
              https://proteinas.pro/vegetales/</p>
          </div>
        </div>
      </div>
      <div class="col-12 row-img">
        <div class="row">
               <div class="col-10 mx-auto text-center my-4 p-text">
                   <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                    Consulte a su médico</b></p>
                   <p>
                       Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                   </p>
               </div>
           </div>
      </div>
    </div>
</ion-content>
