<!--
  Generated template for the PorTiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <div class="row">
          <div class="col-3 offset-3 p-0  ">
              <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
          </div>
            <div class="col-3 offset-3">
              <button ion-button menuToggle class="my-3">
                  <ion-icon name="menu"></ion-icon>
              </button>
          </div>
      </div>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="row">
    <div class="col-12 bg-header-enfermedad">
      <div class="col-3 img-header">
        <img src="../assets/img/template/foto1.png" class="img-fluid"/>
      </div>
      <div class="col-8 mt-3 margin-title">
          <h2>Consejos nutricionales para
            pacientes con <b>cáncer de pulmón</b></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 row-img">
      <img src="../assets/img/pulmon/imagen_1_nutricion.png" class="img-fluid img-absolute-main" />
    </div>
    <div class="col-12">
        <div class="b-1">
          <p><b>Los hábitos de alimentación
            saludables son muy importantes.
            Pueden ayudar a sentirse mejor y
            mantenerse fuertes durante el
            tratamiento a los pacientes con
            cáncer de pulmón. <sup>1</sup></b></p>
        </div>
    </div>
    <div class="col-12 rrow">
      <div class="col-12">
        <div class="b-2">
            <img src="../assets/img/artritis/tips-ejercicios/1.png" class="img-fluid custom-icon-1" />
          <p><b>PUNTOS CLAVE <sup>1,2</sup></b></p>
          <img src="../assets/img/pulmon/iconos_1_nutricionales.png" class="img-fluid img-1"/>
          <br>
          <ul class="ul-list">
            <li>No existe un plan de dieta
                específico para los pacientes
                con cáncer de pulmón</li>
            <li>Las necesidades nutricionales
                de este tipo de pacientes
                pueden cambiar con el paso
                del tiempo</li>
            <li>Algunos alimentos pueden
                afectar los síntomas asociados
                al cáncer de pulmón, para
                empeorarlos o mejorarlos</li>
            <li>Se pueden probar nuevas
                recetas y consumir comida
                preparada en casa para lograr
                una dieta balanceada y
                saludable</li>
          </ul>
          <div class="text-center">
            <img src="../assets/img/pulmon/imagen_2_nutricion.png" class="img-fluid img-1"/>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 rrow">
        <div class="col-12">
          <div class="b-2">
              <img src="../assets/img/artritis/tips-ejercicios/2.png" class="img-fluid custom-icon-1" />
            <p><b>OBJETIVOS
                NUTRICIONALES<sup>2</sup></b></p>
            <div class="text-center">
              <img src="../assets/img/pulmon/iconos_2_nutricion.png" class="img-fluid img-1"/>
            </div>
            <p>Las necesidades nutricionales
                durante el cáncer de pulmón
                son distintas. Están basadas
                en el tratamiento utilizado,
                peso y talla, así como en la
                presencia de otros
                padecimientos como diabetes
                o enfermedades
                cardiovasculares. Existen
                algunos objetivos nutricionales
                para tomar en cuenta como</p>
            <ul class="ul-list">
              <li><b>Mantener un peso
                  saludable.</b> Para algunos
                  pacientes, esto significa
                  consumir suficientes calorías
                  para evitar la pérdida de peso
                  y, para otros, puede significar
                  la pérdida segura de peso</li>
              <li><b>Obtener nutrientes
                  esenciales que el cuerpo
                  necesita:</b> proteínas,
                  carbohidratos, vitaminas,
                  minerales y agua</li>
              <li><b>Evitar el consumo de
                  alimentos</b> que puedan
                  empeorar los eventos
                  adversos asociados con el
                  tratamiento. Algunos
                  alimentos pueden empeorar
                  síntomas como la diarrea,
                  constipación o úlceras orales</li>
            </ul>
            <div class="text-center">
              <img src="../assets/img/pulmon/imagen_3_nutricion.png" class="img-fluid img-1"/>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-12 rrow">
          <div class="col-12">
            <div class="b-2">
                <img src="../assets/img/artritis/tips-ejercicios/3.png" class="img-fluid custom-icon-1" />
              <p><b>CONSEJOS PARA
                  OBTENER NUTRIENTES <sup>2</sup></b></p>
              <div class="text-center">
                <img src="../assets/img/pulmon/iconos_3_nutricion.png" class="img-fluid img-1"/>
              </div>
              <p>Existen algunas medidas que
                  pueden recomendarse para
                  obtener los nutrientes de
                  forma segura en los pacientes
                  con cáncer de pulmón:</p>
              <ul class="ul-list">
                <li><b>Evitar</b> la ingesta de
                    alimentos y bebidas de bajo
                    contenido calórico o no
                    nutritivas</li>
                <li><b>Instar a los pacientes</b> a
                    que coman cuando tengan
                    apetito</li>
                <li><b>Consumir suplementos
                    alimenticios</b> de alto
                    contenido calórico, si es que
                    es necesario</li>
                <li><b>Utilizar especias</b> para hacer
                    los alimentos más apetecibles</li>
                <li><b>Consumir</b> los alimentos en
                    forma de puré cuando sea
                    difícil su consumo</li>
                <li><b>Consumir pequeñas
                    cantidades </b>de alimento a lo
                    largo del día</li>
                <li><b>Evitar</b> el consumo de
                    alimentos <b>muy calientes o
                    fríos</b></li>
                <li><b>Comer sentado</b> y <b>no
                    acostarse </b> después de comer</li>
                <li><b>Consumo de una dieta
                    blanda</b> en caso de lesiones
                    orales</li>
                <li><b>Consumir una mayor
                    cantidad de fibra</b> para evitar
                    la constipación</li>
              </ul>
              <div class="text-center">
                <img src="../assets/img/pulmon/imagen_4_nutricion.png" class="img-fluid img-1"/>
              </div>
            </div>
          </div>
        </div>



        <div class="col-12 rrow">
            <div class="col-12">
              <div class="b-2">
                  <img src="../assets/img/artritis/tips-ejercicios/4.png" class="img-fluid custom-icon-1" />
                <p><b>PREPARACIÓN SEGURA
                    DE ALIMENTOS <sup>2</sup></b></p>
                <div class="text-center">
                  <img src="../assets/img/pulmon/iconos_4_nutricion.png" class="img-fluid img-1"/>
                </div>
                <p>Debido a que los pacientes con
                    cáncer de pulmón pueden
                    tener inmunosupresión y en
                    consecuencia un mayor riesgo
                    de infecciones, se deben
                    recomendar algunas medidas
                    como las que se mencionan a
                    continuación para la
                    preparación de los alimentos:</p>
                <div class="text-center">
                  <img src="../assets/img/pulmon/imagen_5_nutricion.png" class="img-fluid" />
                </div>
                <div class="text-center margin-img6">
                  <img src="../assets/img/pulmon/imagen_6_nutricion.png" class="img-fluid img-6"/>
                </div>
              </div>
            </div>
          </div>

    <div class="col-12 row-img">
      <div class="col-12">
        <div class="b-2">
          <p><b>Platique con su médico</b></p>
          <p>si necesita ayuda para encontrar
              una dieta adecuada para mantener
              un peso saludable y obtener los
              nutrientes que necesita. El consumo
              de una mayor cantidad de frutas y
              verduras puede ser un buen
              comienzo. <sup>1</sup></p>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="text-center">
        <img src="../assets/img/pulmon/imagen_7_nutricion.jpg" class="img-fluid img-platillo"/>
      </div>
    </div>

    <div class="col-12 row-img">
      <div class="col-12 text-right" (click)="goHanldeClick()">
        <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
      </div>
      <div class="col-12">
        <div [class]="className">
          <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
          <h2 class="ref-h2"><b>Referencias:</b></h2>
          <p><b>1.</b> Alecensa® (Alectinib). [Internet] Living with
            ALK+ NSCLC. [Consultado el 13 de diciembre
            de 2018] Disponible en:
            https://www.alecensa.com/patient/patient-
            support/living-with-alkpositive-nsclc.html</p>
          <p><b>2.</b> American Lung Association. [Internet] Nutrition
            for Lung Cancer Patients. [Consultado el 28 de
            noviembre de 2018] Disponible en:
            https://www.lung.org/lung-health-and-diseases
            /lungdisease-lookup/lung-cancer/patients/
            treatment/stay-healthy/nutrition.html</p>
          <p><b>3.</b> NORMA Oficial Mexicana NOM-043-SSA2-2012,
            Servicios básicos de salud. Promoción y educación
            para la salud en materia alimentaria. Criterios
            para brindar orientación.</p>
        </div>
      </div>
    </div>
    <div class="col-12 row-img">
      <div class="row">
             <div class="col-10 mx-auto text-center my-4 p-text">
                 <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                  Consulte a su médico</b></p>
                 <p>
                     Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                 </p>
             </div>
         </div>
    </div>
  </div>
</ion-content>
