<!--
  Generated template for the PorTiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  ">
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div class="row">
        <div class="col-12 bg-header-enfermedad">
            <div class="col-3 img-header">
                <img src="../assets/img/template/foto1.png" class="img-fluid"/>
            </div>
            <div class="col-8 mt-3 margin-title">
                <h2>Conoce tu enfermedad:
                    cáncer de pulmón</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 row-img">
            <img src="../assets/img/pulmon/back.jpg" class="img-fluid img-absolute-main" />
        </div>
        <div class="col-12">
            <div class="b-1">
                <p class="h2-sub-title"><b>¿Qué es el cáncer de pulmón?</b></p>
                <p>El cáncer es una enfermedad en la cual
                    las células del cuerpo comienzan a
                    multiplicarse sin control. Si el cáncer se
                    origina en el pulmón, se denomina
                    <b>cáncer de pulmón</b>. Este cáncer puede
                    desarrollarse secundariamente en otro
                    órgano y, por diseminación, llegar al
                    pulmón (en un proceso conocido como
                    metástasis). <sup>1</sup></p>
            </div>
        </div>
        <div class="col-12 rrow">
            <div class="col-12 text-center">
                <img src="../assets/img/pulmon/imagen_1.png" class="img-fluid my-4 img-1"/>
            </div>
            <div class="col-12">
                <div class="b-2">
                    <p><b>¿Cuáles son las causas?</b></p>
                    <p>La causa principal es la exposición al
                        humo del tabaco; 90 % del total de
                        cáncer de pulmón se da en personas que
                        fuman. Las personas que fuman tienen un
                        riesgo 30 veces mayor de presentarlo en
                        comparación con los no fumadores. <sup>2</sup></p>

                    <p>Otro factor de riesgo (principalmente en
                        las zonas rurales) es la exposición al
                        humo de leña, el cual aumenta en más de
                        60 % la probabilidad de desarrollar este
                        tipo de cáncer entre las personas que no
                        fuman. <sup>3</sup></p>

                    <p>Existen otras causas como la inhalación
                        de polvos contaminantes (asbesto,
                        arsénico, hidrocarburos, entre otros),
                        exposición pasiva al cigarro, VIH, así
                        como antecedentes personales o
                        familiares (el riesgo es mayor si un
                        familiar presentó cáncer de pulmón). <sup>2,4</sup></p>
                </div>
            </div>
        </div>
        <div class="col-12 rrow">
            <div class="col-12 text-center">
                <img src="../assets/img/pulmon/iconos_1.png" class="img-fluid my-4 img-2"/>
            </div>
            <div class="col-12">
                <div class="b-2">
                    <p><b>¿Cuáles son los síntomas?</b></p>
                    <ul class="ul-list">
                        <li>Tos persistente y que se agrava con el
                            tiempo <sup>5</sup></li>
                        <li>Tos con flema y sangre <sup>5</sup></li>
                        <li>Dolor constante en el pecho<sup>5</sup></li>
                        <li>Falta de aire, silbidos al respirar<sup>5</sup></li>
                        <li>Ronquera<sup>5</sup></li>
                        <li>Eventos de bronquitis o neumonía
                            repetidos <sup>5</sup></li>
                        <li>Pérdida de apetito o de peso<sup>5</sup></li>
                        <li>Fatiga<sup>5</sup></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 row-img">
            <div class="col-7 text-center mx-auto">
                <img src="../assets/img/pulmon/imagen_2.png" class="img-fluid my-4 img-3"/>
            </div>
            <div class="col-12">
                <div class="b-2">
                    <p><b>¿Cuántos tipos existen?</b></p>
                    <p>Existen dos tipos principales: <sup>1</sup></p>
                    <p><b>1) De células no pequeñas<br>
                            2) De células pequeñas</b></p>
                    <p>El cáncer de pulmón de células no
                        pequeñas es el más frecuente. Cada uno
                        de estos tipos se desarrolla de una
                        manera distinta y requiere tratamientos
                        diferentes. <sup>1</sup></p>
                </div>
            </div>
        </div>

        <div class="col-12 row-img">
            <div class="col-12 text-center m-1">
                <img src="../assets/img/pulmon/imagen_3.png" class="img-fluid max-img-width" />
            </div>
            <div class="col-12">
                <div class="b-2">
                    <p>¿Es prevenible?</p>
                    <p>Existen factores que pueden ser
                        modificados y podrían ayudar al riesgo de
                        presentarlo. Éstos son: <sup>4</sup></p>
                    <ul class="ul-list">
                        <li>No fumar (o dejar de fumar)</li>
                        <li>Evitar exponerse a contaminantes
                            (como los mencionados)</li>
                    </ul>
                    <p>Aunque no hay certeza, la buena
                        alimentación y la actividad física podrían
                        ayudar a disminuir el riesgo. <sup>4</sup></p>
                </div>
            </div>
        </div>


        <div class="col-12 row-img">
            <div class="col-12 text-center m-1">
                <img src="../assets/img/pulmon/iconos_2.png" class="img-fluid max-img-width-2" />
            </div>
            <div class="col-12">
                <div class="b-2">
                    <p>¿Cómo se diagnostica?</p>
                    <p>El diagnóstico se hace con base en los
                        síntomas y en los resultados de algunos
                        exámenes de gabinete, como: <sup>6</sup></p>
                    <ul class="ul-list">
                        <li><b>Radiografía:</b> ésta puede revelar una
                            masa anormal en la zona pulmonar</li>
                        <li><b>Tomografía:</b> sirve de ayuda para
                            detectar lesiones pequeñas en los
                            pulmones que no se detectan con una
                            radiografía convencional</li>
                        <li><b>Examen de flema:</b>la observación de la
                            flema a través del microscopio en
                            ocasiones puede revelar la presencia de
                            células cancerosas</li>
                        <li><b>Biopsia:</b>en este procedimiento, se
                            toma una muestra del tejido pulmonar
                            sospechosa</li>
                        <li><b>Prueba de secuenciación genética FMI (Foundation Medicine),</b> examen que proporciona una identificación individual de la genómica del paciente, la cual brinda información necesaria para un tratamiento personalizado por medio de medicina de precisión</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-12 row-img">
            <div class="col-12 text-center m-1">
                <p class="note-txt">*Hasta 2 tomografías disponibles al año, sin costo.</p>
            </div>
            <div class="col-12 text-center m-1">
                <img src="../assets/img/pulmon/imagen_4.png" class="img-fluid max-img-width-3" />
            </div>
            <div class="col-12">
                <div class="b-2">
                    <p><b>¿Cuál es el tratamiento?</b></p>
                    <p>El tratamiento se prescribe con base en el
                        estado general de salud, el tipo y el grado
                        del cáncer. Entre los tratamientos se
                        encuentran: <sup>6</sup></p>
                    <ul class="ul-list">
                        <li>Cirugía</li>
                        <li>Radioterapia</li>
                        <li>Quimioterapia</li>
                        <li>Inmunoterapia</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 row-img">
            <div class="col-12 text-right" (click)="goHanldeClick()">
                <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
            </div>
            <div class="col-12">
                <div [class]="className">
                    <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
                    <h2 class="ref-h2"><b>Referencias:</b></h2>
                    <p><b>1.</b> CDC. What Is Lung Cancer? Centers
                        for Disease Control and Prevention.
                        [Consultado el 22 de noviembre de
                        2018] Disponible en:
                        https://www.cdc.gov/cancer/lung/basic
                        _info/what-is-lung-cancer.htm</p>
                    <p><b>2.</b> CDC. What Are the Risk Factors for
                        Lung Cancer? [Consultado el 22 de
                        noviembre de 2018] Disponible en:
                        https://www.cdc.gov/cancer/lung/basic
                        _info/risk_factors.htm</p>
                    <p><b>3.</b> García C, Fernández R, Rivera M, et
                        al. Humo de leña como factor de riesgo
                        de cáncer pulmonar en población
                        hospitalizada no fumadora. <i>Neumol Cir</i>
                        <i>Torax</i>. 2012;71(4):325-332.</p>
                    <p><b>4.</b> NIH. Lung Cancer Prevention.
                        MedlinePlus. [Consultado el 22 de
                        noviembre de 2018] Disponible en:
                        https://www.cancer.gov/types/lung/
                        patient/lung-prevention-pdq</p>
                    <p><b>5.</b>NIH. Lung Cancer. MedlinePlus.
                        [Consultado el 22 de noviembre de
                        2018] Disponible en:
                        https://medlineplus.gov/lungcancer.html</p>
                    <p><b>6.</b> Lung Cancer. Mayo Clinic.
                        [Consultado el 22 de noviembre de
                        2018] Disponible en:
                        https://www.mayoclinic.org/diseases-
                        conditions/lung-cancer/diagnosis-
                        treatment/drc-20374627</p>
                </div>
            </div>
        </div>
        <div class="col-12 row-img">
            <div class="row">
                <div class="col-10 mx-auto text-center my-4 p-text">
                    <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                            Consulte a su médico</b></p>
                    <p>
                        Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                    </p>
                </div>
            </div>
        </div>
    </div>
</ion-content>
