page-menu-conozca-anemia {
    
    

  .content{
    background-color: #00AFD8
  }

  h2{
     color: #fff;
     font-size: 1.8rem ;
  }

  .btn-submenu {
    border-radius: 40px 10px 10px 40px;
    height: 80px;
    text-align: left;
    color: #fff;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
  }

  p{
      font-size: 0.8rem;
  }
   .img-menu {
      max-width: 45px;
      margin: .8rem;
      margin-left: 1rem;
      margin-right: 3rem;
  }

    .button-inner{
        -webkit-justify-content: left;
    }
    .btn-color-1{
        background-color: #00AFD8;


    }
    .btn-color-2{
        background-color: #00AFD8;

    }
    .btn-color-3{
        background-color: #00AFD8;

    }
    .btn-color-4{
        background-color: #00AFD8;

    }
    .btn-color-5{
        background-color: #00AFD8;

    }

  .bg-menu{
    background-image: url( "../assets/img/home/menu.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: "";
    min-height: 65px;
  }

  .scroll-content{
     padding-top: 0 !important;
  }

  .text-center p {
    color: #fff;
    margin-top: 50px;
  }

  .btn-primary {
    border: 1px solid #b6f5ff;
    background-color: #00AFD8
  }


}
