page-paci-asocia-hemofolia {
    .content{
        background-color: #fff
    }
    toolbar-background {
         background-color: #fff
    }
    h2{
        color: #fff;
        font-size: 1.6rem ;
    }
    h1{
        color: #fff;
        font-size: 2.8rem ;
    }
    h3{
        font-size: 1.4rem;
        color: #6A9EC5
            
    }
    p{
        color: #fff;
        font-size: 1.9rem
    }

  
    .ssa-position p{
        font-size: .8rem;
        color: #000;
    }
    .bg-menu{
        background-image: url( "../assets/img/home/menu.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        content: "";
        min-height: 65px;
    }
    .scroll-content{
        padding-top: 0 !important;
    }
    
    .btn-color{
        border-radius: 1.5rem;
        background-color: #006FB9
    }
    .color-asociaciones{
        background-color: #00AFD8
    }
    .color-logos{
        background-color:  #EBEBEB
    }
   
    .max-h{
        max-height: 7rem;
    }
    
}
