<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  "> 
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" (click)="goMenuPrincipal()" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div class="row border-bottom">
        <div class="col-12 p-0 bg-menu">

        </div>
        <div class="col-12 text-center my-3">
            <h2><span class="ico ico-chat"></span> CENTROS DE INFUSIÓN</h2>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-11  mx-auto text-center mb-3">  
            <form [formGroup]="stepForm" >
                <ion-list class="my-5"> 
                    <ion-item>
                        <ion-label>Centro de Infusión</ion-label>
                        <ion-select placeholder="Seleccione uno" [(ngModel)]="centroInfusion" formControlName="centroInfusion" [(formGroup)]="stepForm" >
                            <ion-option value="{{ci.id}}" *ngFor="let ci of centrosInfusion">
                                        {{ci.centro_infusion}},<br> {{ci.ciudad}}, {{ci.municipio}}, {{ci.colonia}}    
                            </ion-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
                <div class="text-center mt-5">
                    <button ion-button class="btn btn-primary btn-advance" (click)="goCICalendar()">Continuar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row disclaimers">
        <div class="col-12 mx-auto text-center">
            <p>
                Derechos Reservados, Productos Roche, S.A. de C.V.© México, 2018. Roche® es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total. No. SSA: 183300202C4198/SSA2018
            </p>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <div class="container">
            <div class="row">
                <div class="col-2 mx-auto p-0 footer-nav-item" *ngIf="menuItemsActive[0]">
                    <button ion-button class="btn btn-nav ico-an" (click)="goANIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item"  *ngIf="menuItemsActive[1]">
                    <button ion-button class="btn btn-nav ico-en" (click)="goENIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item"  *ngIf="menuItemsActive[2]">
                    <button ion-button class="btn btn-nav ico-cv" (click)="goCVIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item"  *ngIf="menuItemsActive[3]">
                    <button ion-button class="btn btn-nav ico-oo"  (click)="goOOIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item" *ngIf="menuItemsActive[4]">
                    <button ion-button class="btn btn-nav ico-ci" (click)="goCIIntro()"></button>
                </div>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>