<!--
  Generated template for the PorTiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <div class="row">
          <div class="col-3 offset-3 p-0  ">
              <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
          </div>
            <div class="col-3 offset-3">
              <button ion-button menuToggle class="my-3">
                  <ion-icon name="menu"></ion-icon>
              </button>
          </div>
      </div>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="row">
    <div class="col-12 bg-header-enfermedad">
      <div class="col-3 img-header">
        <img src="../assets/img/template/foto1.png" class="img-fluid"/>
      </div>
      <div class="col-8 mt-3 m-left">
          <p>Ejercicio durante el <b>cáncer
            de pulmón</b></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 row-img">
      <img src="../assets/img/pulmon/imagen_1_ejercicio.png" class="img-fluid main-figure" />
    </div>
    <div class="col-12">
      <div class="b-2 m-top">
        <div class="text-center m-icons">
          <img src="../assets/img/artritis/tips-ejercicios/1.png" class="img-fluid custom-icon-1" />
          <img src="../assets/img/template/img-tips-ejercicios.png" class="img-fluid max-icon-tips" />
        </div>
        
        <p>El ejercicio es una actividad segura y
          benéfica para las personas que son
          sometidas a un tratamiento por
          cáncer.</p>

        <p><b>Beneficios del ejercicio
          durante el tratamiento para
          cáncer de pulmón</b></p>

        <p>La fatiga es un síntoma común
          presente en las personas que tienen
          cáncer pulmonar, la cual puede ser
          causada por el mismo tratamiento.
          Sin embargo, se ha observado que
          los pacientes con cáncer pulmonar
          que realizan ejercicio en forma
          constante experimentan menos
          fatiga y mejoran su calidad de vida.</p>
        
        <p>Además de mejorar la sensación de
          fatiga, realizar ejercicio en forma
          constante ha demostrado otros
          beneficios como:</p>
        <ul class="m-ul">
          <li>Mejorar la función de los pulmones
            en personas antes o después de
            una cirugía, y en personas que
            tienen cáncer inoperable</li>
          <li>Aumentar la fuerza muscular,
            flexibilidad de las articulaciones y
            mejorar la condición física</li>
          <li>Aumentar el equilibrio y reducir el
            riesgo de caídas</li>
          <li>Evitar que los músculos se pierdan
            por falta de actividad</li>
          <li>Tener menor ansiedad y depresión</li>
        </ul>
      </div>
    </div>
    <div class="col-12 m-top-tips">
      <div class="col-12">
        <div class="b-2">
          <div class="text-center m-icons">
            <img src="../assets/img/artritis/tips-ejercicios/2.png" class="img-fluid max-icon-number" />
            <img src="../assets/img/artritis/tips-ejercicios/imagen_2.png" class="img-fluid max-figure" />
          </div>
          <div>
            <h2 class="mt-tips">Tips para realizar ejercicio</h2>
            <p>Antes de comenzar cualquier rutina
              de ejercicios, se debe consultar con
              el médico para que pueda brindar
              una guía personalizada y diseñar un
              programa de ejercicios
              individualizado.</p>
            <p>Los programas de ejercicio deben ser
              progresivos, es decir, iniciar con un
              programa leve y aumentar la
              intensidad con el paso del tiempo.</p>
            <p>El objetivo es mantener a la persona
              activa y se recomienda que el
              ejercicio se lleve a cabo durante 30
              minutos por lo menos 5 días a la
              semana.</p>
            
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 row-img m-top-tips">
      <div class="col-12 text-right" (click)="goHanldeClick()">
        <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
      </div>
      <div class="col-12">
        <div [class]="className">
          <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
          <h2 class="ref-h2">Referencia:</h2>
          <p><b>1.</b> Lungcancer. [Internet] Exercising
            with Lung Cancer. [Consultado el 28 de
            noviembre de 2018] Disponible en:
            https://lungcancer.net/coping/exercise/
            Lungcancer.[Internet] Exercising with
            Lung Cancer. [Consultado el 28 de
            noviembre de 2018] Disponible en:
            https://lungcancer.net/coping/exercise/</p>
        </div>
      </div>
    </div>
    <div class="col-12 row-img">
      <div class="row">
             <div class="col-10 mx-auto text-center my-4 p-text">
                 <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                  Consulte a su médico</b></p>
                 <p>
                     Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                 </p>
             </div>
         </div>
    </div>
  </div>
</ion-content>
