page-ci-state{
    .content{
        background-color: #00AFD8}
    h2{
        color: #fff;
        font-size: 1.6rem ;
    }
    h1{
        color: #fff;
        font-size: 2.8rem ;
    }
    p{
        color: #fff;
        font-size: 1.9rem
    }

    .ssa-position{
        position: absolute;
        font-weight: 400;
        font-weight: 400;
        width: 100%;
    }
    .ssa-position p{
        font-size: .9rem;
        color: #fff;
        padding: 8%;
    }
    .bg-menu{
        background-image: url( "../assets/img/home/menu.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        content: "";
        min-height: 65px;
    }
    .scroll-content{
        padding-top: 0 !important;
    }
    .img-menu{
        max-height: 30px;
    }
    .btn-color{
        border-radius: 1.5rem;
        background-color: #006FB9
    }
    .popover-content{
        width: 90%!important;
        right: 5%!important;
        top: 36%!important;
    }
    .label{
        color: #fff;
        font-size: 1.8rem
    }
    .label-ios[stacked] {

        margin-bottom: 4px;
        font-size: 1.8rem;

    }
    .label{
        color:#fff!important;
        font-size: 1.8rem!important;

    }
    .content hr {
        background-color: rgb(255, 245, 245);
    }
    ::-moz-placeholder {
        color: #a9d9e4 !important;
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: #a9d9e4 !important;
    }
    ::-webkit-input-placeholder {
        color: #a9d9e4 !important;
    }
    .datetime .datetime-placeholder{
        color: #a9d9e4 !important;

    }
    .select .select-icon .select-icon-inner{
        color: #fff !important;
    }
    .p-0{
        font-size: 1rem !important;
    }
    .seguro {
        text-align: left;
        margin-left: 1rem;
    }
    .item-datetime{
        border-bottom: 1px solid #fff;
    }
    .list-ios > .item-block:first-child {

        border-top: 0.55px solid transparent

    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {

        border-bottom: 0.55px solid transparent

    }

    .list .item-block .item-inner {

        padding: 1rem  !important;
    }


    .autocomplete {
        width: 100%;
        border-top: 1px solid #fff;

        ion-item {
            ion-input {
                padding: 1px !important;
            }
        }

        ion-list {
            position: absolute;
            width: 100%;
            overflow-y: scroll;
            max-height: 25%;
            border: 5px;
            z-index: 999;

            ion-item {
                background: #f1f1f1;
                ion-label{
                    color: #000 !important;
                }
            }

            ion-item:hover {
                cursor: pointer;
                background: #dddddd
            }
        }

    }
    .list .item-block .item-inner {
        border-bottom: 1px solid transparent;
    }
    .input-cover{
        border-bottom: 1px solid #fff;
    }
    .select-md .select-placeholder{
        color: #000 !important;
    }
}
