<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  "> 
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" (click)="goMenuPrincipal()" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div class="row border-bottom">
        <div class="col-12 p-0 bg-menu">

        </div>
        <div class="col-12 text-center my-3">
            <h2><span class="ico ico-chat"></span> CENTROS DE INFUSIÓN</h2>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-11  mx-auto text-justify mb-3">
            <p class="mt-3">
                Seleccione su estado
            </p>
            <form [formGroup]="stepForm">
                <ion-list class="my-5"> 
                    <ion-item>
                        <ion-label>Estado</ion-label>
                        <ion-select placeholder="Seleccione uno" [(ngModel)]="state" formControlName="state" [(formGroup)]="stepForm">
                            <ion-option value="Aguascalientes">Aguascalientes</ion-option>
                            <ion-option value="Baja California">Baja California</ion-option>
                            <ion-option value="Baja California Sur">Baja California Sur</ion-option>
                            <ion-option value="Campeche">Campeche</ion-option>
                            <ion-option value="Chiapas">Chiapas</ion-option>
                            <ion-option value="Chihuahua">Chihuahua</ion-option>
                            <ion-option value="Ciudad de México">Ciudad de México</ion-option>
                            <ion-option value="Coahuila">Coahuila</ion-option>
                            <ion-option value="Colima">Colima</ion-option>
                            <ion-option value="Durango">Durango</ion-option>
                            <ion-option value="Guanajuato">Guanajuato</ion-option>
                            <ion-option value="Guerrero">Guerrero</ion-option>
                            <ion-option value="Hidalgo">Hidalgo</ion-option>
                            <ion-option value="Jalisco">Jalisco</ion-option>
                            <ion-option value="México">México</ion-option>
                            <ion-option value="Michoacán">Michoacán</ion-option>
                            <ion-option value="Morelos">Morelos</ion-option>
                            <ion-option value="Nayarit">Nayarit</ion-option>
                            <ion-option value="Nuevo León">Nuevo León</ion-option>
                            <ion-option value="Oaxaca">Oaxaca</ion-option>
                            <ion-option value="Puebla">Puebla</ion-option>
                            <ion-option value="Querétaro">Querétaro</ion-option>
                            <ion-option value="Quintana Roo">Quintana Roo</ion-option>
                            <ion-option value="San Luis Potosí">San Luis Potosí</ion-option>
                            <ion-option value="Sinaloa">Sinaloa</ion-option>
                            <ion-option value="Sonora">Sonora</ion-option>
                            <ion-option value="Tabasco">Tabasco</ion-option>
                            <ion-option value="Tamaulipas">Tamaulipas</ion-option>
                            <ion-option value="Tlaxcala">Tlaxcala</ion-option>
                            <ion-option value="Veracruz">Veracruz</ion-option>
                            <ion-option value="Yucatán">Yucatán</ion-option>
                            <ion-option value="Zacatecas">Zacatecas</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
                <div class="text-center mt-5">
                    <button ion-button class="btn btn-primary btn-advance" [disabled]="!stepForm.valid" (click)="goCICenter()">Continuar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row disclaimers">
        <div class="col-12 mx-auto text-center">
            <p>
                Derechos Reservados, Productos Roche, S.A. de C.V.© México, 2018. Roche® es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total. No. SSA: 183300202C4198/SSA2018
            </p>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <div class="container">
            <div class="row">
                <div class="col-2 mx-auto p-0 footer-nav-item" *ngIf="menuItemsActive[0]">
                    <button ion-button class="btn btn-nav ico-an" (click)="goANIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item"  *ngIf="menuItemsActive[1]">
                    <button ion-button class="btn btn-nav ico-en" (click)="goENIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item"  *ngIf="menuItemsActive[2]">
                    <button ion-button class="btn btn-nav ico-cv" (click)="goCVIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item"  *ngIf="menuItemsActive[3]">
                    <button ion-button class="btn btn-nav ico-oo"  (click)="goOOIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item" *ngIf="menuItemsActive[4]">
                    <button ion-button class="btn btn-nav ico-ci" (click)="goCIIntro()"></button>
                </div>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>