<!--
  Generated template for the PaciAsociaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  "> 
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
              <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
            
        </div>
    </ion-navbar>


</ion-header>


<ion-content padding>
    <div class="row border-bottom color-asociaciones">
        <div class="col-12 p-0 bg-menu">

        </div>
        <div class="col-12 text-center my-3">
             <h2> <img src="../assets/img/template/sm-3.png" alt="" class="img-menu max-icon-h" /> ASOCIACIONES DE PACIENTES</h2>
        </div>
    </div>
    <div class="row border-bottom color-logos">
        <div class="col-10 mx-auto text-center">
            <img src="../assets/img/fibrosis/logo.png" alt="" class="img-fluid max-h m-5" />
            <h3>Asociación Mexicana de Fibrosis Quística </h3>

        </div>
    </div>
    <div class="row border-bottom color-logos">
        <div class="col-10 mx-auto text-center">
            <img src="../assets/img/fibrosis/logo1.png" alt="" class="img-fluid max-h m-5" />
        <h3>Asociación Regiomontana FQ </h3>

        </div>
    </div>
     <div class="row border-bottom color-logos">
        <div class="col-10 mx-auto text-center">
            <img src="../assets/img/fibrosis/logo2.png" alt="" class="img-fluid max-h m-5" />
            <h3>Besitos Salados </h3>

        </div>
    </div>
    <div class="row border-bottom color-logos">
        <div class="col-10 mx-auto text-center">
            <img src="../assets/img/fibrosis/logo3.png" alt="" class="img-fluid max-h m-5" />
            <h3>Fibrosis Quística de Occidente</h3>

        </div>
    </div>

    <div class="row ssa-position mt-5 ">
        <div class="col-10 mx-auto text-center mt-5 ">
            <p>

                Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
            </p>
        </div>
    </div>



</ion-content>
