
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  "> 
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-3 offset-3">
                <!--                <button ion-button menuToggle class="my-3">
                                    <ion-icon name="menu"></ion-icon>
                                </button>-->
            </div>
        </div>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="row border-bottom">
        <div class="col-12 p-0 bg-menu">

        </div>
        <div class="col-12 text-center my-3">
            <h2>REGISTRO</h2>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-10  mx-auto text-center mb-3">

            <form [formGroup]="myForm" (ngSubmit)="saveData()">
                <ion-list>
                    <ion-item>
                        <ion-label stacked>Nombre completo del paciente</ion-label>
                        <ion-input formControlName="nombre" [(ngModel)]="registerCredentials.nombre"  type="text" placeholder="Nombre"></ion-input>
                    </ion-item>
                    <hr>
                    <ion-item>
                        <ion-label stacked>Fecha de nacimiento:</ion-label>
                        <ion-datetime formControlName="fecha_nacimiento" [(ngModel)]="registerCredentials.fecha_nacimiento"  displayFormat="MM-DD-YYYY" placeholder="MM-DD-YYY"></ion-datetime>
                    </ion-item>

                    <ion-list>
                        <ion-item>
                            <ion-label>Programa</ion-label>
                            <ion-select  formControlName="patologia" [(ngModel)]="registerCredentials.patologia"  [(formGroup)]="myForm"  interface="popover">
                                <ion-option value="2">Por ti - Artritis Reumatoide(Artritis idiopática juvenil (AIJ), Artritis Idiopática Poliarticular, Artritis Reumatoide Temprana)</ion-option>
                                <ion-option value="1">Por ti - Anemia por Enfermedad Renal Crónica</ion-option>
                                <ion-option value="3">Por ti - Cáncer de Pulmón</ion-option>
                                <ion-option value="5">Por ti - Fibrosis Quística</ion-option>
                                <ion-option value="6">Por ti - Hemofilia</ion-option>
                                <ion-option value="4">Por ti - Esclerosis Múltiple (Primaria progresiva, Remitente recurrente o secundaria progresiva)</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                    <hr>
                    <ion-row radio-group formControlName="seguro_publico" [(ngModel)]="registerCredentials.seguro_publico">
                        <ion-col>
                            <ion-item>
                                <ion-label>Público</ion-label>
                                <ion-radio (click)="goIcon1()" value="0"></ion-radio>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>Privado</ion-label>
                                <ion-radio (click)="goIcon2()" value="1"></ion-radio>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <div [class]="iconTxt2">
                        <ion-list>
                            <ion-item>
                                <ion-label>Público</ion-label>
                                <ion-select formControlName="seguro" [(ngModel)]="registerCredentials.seguro" [(formGroup)]="myForm"  interface="popover">
                                    <ion-option class="mx-4" value="IMSS">IMSS</ion-option>
                                    <ion-option class="mx-4" value="ISSSTE">ISSSTE</ion-option>
                                    <ion-option class="mx-4" value="Seguro">Seguro popular</ion-option>
                                    <ion-option class="mx-4" value="Pemex">Pemex</ion-option>
                                    <ion-option class="mx-4" value="SEDENA">SEDENA</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-list>
                    </div>
                    <div [class]="iconTxt1">
                        <ion-list>
                            <ion-item>
                                <ion-label>Privado</ion-label>
                                <ion-select formControlName="seguro" [(ngModel)]="registerCredentials.seguro" [(formGroup)]="myForm"  interface="popover">
                                    <ion-option value="con">Con seguro de gastos medicos mayores</ion-option>
                                    <ion-option value="sin">Sin seguro de gastos medicos mayores</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-list>
                    </div>


                    <div class="autocomplete">
                        <ion-item>
                            <ion-label floating>Médico</ion-label>
                            <ion-input  type="text" 
                                        formControlName="medico"
                                        [(ngModel)]="registerCredentials.medico"
                                        (ionChange)="search()"
                                        (ionBlur)="removeFocus()"
                                        debounce=500>

                            </ion-input>
                        </ion-item>
                        <ion-list>
                            <ion-item *ngFor="let doctor of doctors" (click)="add(doctor)">
                                {{doctor}}
                        </ion-item>
                    </ion-list>
                </div>
                <hr>

                <ion-item>
                    <ion-label stacked>Correo electronico:</ion-label>
                    <ion-input formControlName="email" [(ngModel)]="registerCredentials.email" type="email" placeholder="Email"></ion-input>
                </ion-item>
                <hr>
                <ion-item>
                    <ion-label stacked>Teléfono:</ion-label>
                    <ion-input formControlName="telefono" [(ngModel)]="registerCredentials.telefono" type="text" placeholder="Teléfono"></ion-input>
                </ion-item>
                <hr>
                <div formGroupName="passwordRetry">
                    <ion-item>
                        <ion-label stacked>Contraseña:</ion-label>
                        <ion-input formControlName="password" [(ngModel)]="registerCredentials.password" type="password" placeholder="Contraseña"></ion-input>
                    </ion-item>
                    <hr>
                    <ion-item>
                        <ion-label stacked>Confirmar contraseña:</ion-label>
                        <ion-input formControlName="passwordConfirmation" type="password" placeholder="Confirmar contraseña"></ion-input>
                    </ion-item>
                    <hr>
                </div>

                <div class="col-12 p-0 text-center aviso my-4 ">
                    <p class="m-0 p-0">
                        Aceptación de aviso de privacidad
                        <input formControlName="terminos" type="checkbox" name="terms">
                    </p>
                    <p class="p-0 ">
                        <a  (click)="goTerminos()" href="#"><u>Leer más</u></a>
                    </p>
                </div>
            </ion-list>
            <div padding>
                <button ion-button block type="submit" [disabled]="!myForm.valid">Continuar</button>
            </div>
        </form>

    </div>

</div>

<div class="row ssa-position ">
    <div class="col-12 mx-auto text-center  ">
        <p>
            Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
        </p>
    </div>
</div>

</ion-content>