<ion-header>
    <ion-navbar hideBackButton>
        <div class="row">
            <div class="col-3 offset-3 p-0  "> 
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" (click)="goMenuPrincipal()" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>
<ion-content padding>

    <div class="row">
        <div class="col-12  text-right">
            <button ion-button class="btn btn-close" (click)="goMenuPrincipal()">
                <img src="../assets/img/icons/ico-close.png" class="img-fluid-h"/>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-11  mx-auto text-center mb-3">
            <div class="img-wrap text-center">
                <img src="../assets/img/icons/ico-exc.png" class="img-fluid"/>
            </div>
            <h1>
                <strong>¡Gracias!</strong>
            </h1>
            <h2>Su solicitud fue recibida con éxito</h2>
            <p class="mt-3">
                En breve nos comunicaremos con usted para verificar la disponibilidad del centro de infusión seleccionado.
            </p>
        </div>
    </div>
    <div class="row p-absolute po-b disclaimers">
        <div class="col-12 mx-auto text-center">
            <p>
                Derechos Reservados, Productos Roche, S.A. de C.V.© México, 2018. Roche® es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total. No. SSA: 183300202C4198/SSA2018
            </p>
        </div>
    </div>

</ion-content>
<ion-footer>
    <ion-toolbar>
        <div class="container">
            <div class="row">
                <div class="col-2 mx-auto p-0 footer-nav-item" *ngIf="menuItemsActive[0]">
                    <button ion-button class="btn btn-nav ico-an" (click)="goANIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item"  *ngIf="menuItemsActive[1]">
                    <button ion-button class="btn btn-nav ico-en" (click)="goENIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item"  *ngIf="menuItemsActive[2]">
                    <button ion-button class="btn btn-nav ico-cv" (click)="goCVIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item"  *ngIf="menuItemsActive[3]">
                    <button ion-button class="btn btn-nav ico-oo"  (click)="goOOIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item" *ngIf="menuItemsActive[4]">
                    <button ion-button class="btn btn-nav ico-ci" (click)="goCIIntro()"></button>
                </div>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>