
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  "> 
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="row border-bottom">
        <div class="col-12 p-0 bg-menu">

        </div>
        <div class="col-12 text-center my-3">
            <h2>¿QUÉ ES POR TI? </h2>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-11  mx-auto text-justify mb-3">
            <p class="mt-3">
                <b>POR TI</b> es un programa integral de Roche para dar soporte al paciente, así como a sus familiares y cuidadores, mediante el acompañamiento complementario al tratamiento prescrito por el médico para facilitar la adherencia al tratamiento.
            <p>
        </div>
        <div class="col-5  mx-auto text-justify mt-4">
            <img src="../assets/img/template/por-ti.png" alt="" class="img-fluid" />
        </div>
    </div>
    <div class="row ssa-position ">
        <div class="col-12 mx-auto text-center  ">
            <p>
               Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
            </p>
        </div>
    </div>



</ion-content>
