<!--
  Generated template for the PorTiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  ">
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" />
            </div>
              <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="row">
      <div class="col-12 bg-header-enfermedad">
        <div class="col-3 img-header">
          <img src="../assets/img/template/foto1.png" class="img-fluid"/>
        </div>
        <div class="col-8 mt-3 m-left">
            <p>Tips de ejercicios</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 row-img">
        <img src="../assets/img/artritis/tips-ejercicios/back.png" class="img-fluid main-figure" />
      </div>
      <div class="col-12">
        <div class="b-2 m-top">
          <div class="text-center m-icons">
            <img src="../assets/img/artritis/tips-ejercicios/1.png" class="img-fluid custom-icon-1" />
            <img src="../assets/img/template/img-tips-ejercicios.png" class="img-fluid max-icon-tips" />
          </div>
          <h2 class="t-ejercicios">Practicar ejercicio de forma
            continua es recomendable
            cuando se padece artritis
            reumatoide (AR) <sup>1</sup></h2>
          <p>El ejercicio tiene los siguientes
            beneficios: <sup>1</sup></p>
          <ul class="m-ul">
            <li>Mejora la fuerza muscular</li>
            <li>Disminuye el dolor y la inflamación</li>
            <li>Previene la osteoporosis, la cual se
              encuentra relacionada con la
              artritis reumatoide</li>
            <li>Mejora la capacidad de realizar sus
              actividades diarias tales como:
              vestirse, levantarse, comer,
              caminar, asearse, alcanzar y
              agarrar objetos</li>
          </ul>
        </div>
      </div>
      <div class="col-12 m-top-tips">
        <div class="col-12">
          <div class="b-2">
            <div class="text-center m-icons">
              <img src="../assets/img/artritis/tips-ejercicios/2.png" class="img-fluid max-icon-number" />
              <img src="../assets/img/artritis/tips-ejercicios/imagen_2.png" class="img-fluid max-figure" />
            </div>
            <div>
              <h2 class="mt-tips">Tipos de ejercicios
                recomendados para personas
                con artritis reumatoide <sup>1</sup></h2>
              <p>Practicar por lo menos 3 veces por
                semana y 30 minutos por día los
                siguientes ejercicios: 1</p>
              <ul class="m-ul">
                <li>Bicicleta</li>
                <li>Caminar</li>
                <li>Golf</li>
                <li>Danza</li>
                <li>Tai Chi</li>
                <li>Ejercicios con pesas o bandas
                  elásticas</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 m-top-tips">
        <div class="col-12">
          <div class="b-2">
            <div class="text-center m-icons">
              <img src="../assets/img/artritis/tips-ejercicios/3.png" class="img-fluid max-icon-number" />
              <img src="../assets/img/artritis/tips-ejercicios/imagen_3.png" class="img-fluid max-figure-1" />
            </div>
            <div>
              <p><b>Los ejercicios cumplen un
                papel importante en el
                tratamiento de todos los tipos
                de artritis idiopática juvenil. <sup>2</sup></b></p>
              <ul class="m-ul">
                <li>El ejercicio ayuda a mantener las
                  articulaciones en movimiento y los
                  músculos fuertes, y a recuperar la
                  movilidad y la fortaleza <sup>2</sup></li>
                <li>La práctica constante de ejercicios
                  facilita la realización de las
                  actividades diarias como vestirse y
                  caminar <sup>2</sup></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 m-top-tips">
        <div class="col-12">
          <div class="b-2">
            <div class="text-center m-icons">
              <img src="../assets/img/artritis/tips-ejercicios/4.png" class="img-fluid max-icon-number" />
              <img src="../assets/img/artritis/tips-ejercicios/imagen_4.png" class="img-fluid max-figure-2" />
            </div>
            <div class="">
              <p><b>Algunos ejercicios
                recomendados son: <sup>2</sup></b></p>
              <ul class="m-ul">
                <li>Ejercicios de amplitud</li>
                <li>Ejercicios de fortalecimiento</li>
                <li>Natación</li>
                <li>Andar en bicicleta</li>
                <li>Futbol</li>
                <li>Basquetbol</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 m-top-tips">
        <div class="col-12">
          <div class="b-2">
            <div class="text-center m-icons">
              <img src="../assets/img/artritis/tips-ejercicios/5.png" class="img-fluid max-icon-number" />
              <img src="../assets/img/artritis/tips-ejercicios/imagen_5.png" class="img-fluid max-figure-3" />
            </div>
            <div>
              <p><b>Recomendaciones para tener
                un mejor resultado <sup>3</sup></b></p>
              <ul class="m-ul">
                <li>Siempre comience poco a poco y
                  vaya aumentando gradualmente</li>
                <li>Modifique la actividad física cuando
                  los síntomas de artritis aumenten,
                  intente mantenerse activo</li>
                <li>Haga actividades que no impliquen
                  forzar las articulaciones</li>
                <li>Realice actividades de bajo impacto</li>
                <li>El médico es el indicado para
                  resolver dudas sobre qué cantidad
                  y tipos de ejercicio se ajustan a su
                  capacidad y metas de salud</li>
              </ul>
            </div>
          </div>
        </div>
      </div>




      <div class="col-12 row-img m-top-tips">
        <div class="col-12 text-right" (click)="goHanldeClick()">
          <img src="../assets/img/template/icon_refrencias.png" class="img-fluid btn-referencias"/>
        </div>
        <div class="col-12">
          <div [class]="className">
            <img src="../assets/img/template/icon_close.png" alt="" (click)="goHanldeClickNone()" class="img-close">
            <h2 class="ref-h2">Referencias:</h2>
            <p><b>1.</b> Olmo Fernández Delgado JA, García
              JA. Efecto del ejercicio físico sobre la
              artritis reumatoide. <i>Rehabilitación</i>
              (Madr) 2003;37(6):375-81.</p>
            <p><b>2.</b> Artritis juvenil. Arthritis Fundation.
              Revisado el 22 de mayo de 2018.
              Disponible en:
              <i>http://espanol.arthritis.org/espanol/disease-center/imprimia-un-folleto/dc-artritis-en-ninos/</i></p>
            <p><b>3.</b> Actividad física para la artritis.
              Centros para el control y la prevención
              de enfermedades CDC. Consultado el
              28 de mayo de 2018. Disponible en:
              <i>https://www.cdc.gov/arthritis/spanish/conceptos-basicos/ejercicio-y-artritis.htm</i></p>

          </div>
        </div>
      </div>
      <div class="col-12 row-img">
        <div class="row">
               <div class="col-10 mx-auto text-center my-4 p-text">
                   <p><b>La información aquí expuesta no remplaza la opinión de un profesional de la salud
                    Consulte a su médico</b></p>
                   <p>
                       Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
                   </p>
               </div>
           </div>
      </div>
    </div>
</ion-content>
