page-menu {
    .content{
        background-color: #00AFD8
    }
    scroll-content{
        padding-top: 0 !important;
    }

    .bg-menu{
        background-image: url( "../assets/img/home/menu.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        content: "";
        min-height: 65px;
    }
    .btn-primary{
        background-color: #00AFD8;
        border-radius: 0;
        font-size: 1.8rem;
        text-align: left;
        border-color: #16BBDF;
    }
    .img-menu {
        max-width: 45px;
        margin: 1.3rem;
        margin-left: 2.5rem
    }
    .ssa-position{
        position: absolute;
        font-size: .9rem;
        color: #fff;
        font-weight: 400;
        font-weight: 400;
        width: 100%;
    }
    .scroll-content{
          padding-top: 0 !important;
    }
    .aviso p, a{
        color: #fff;
        font-size: 1.3rem;

    }
    .c-w{
        background-color: #fff
    }


}
