<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar   hideBackButton *navbar >
                  <div class="row">
            <div class="col-4  "><img src="../assets/img/template/logo.png" alt="" class="mx-3 my-3" /></div>
            <div class="col-3 offset-5  "><img src="../assets/img/template/roche.png" alt="" class="my-3 img-fluid" /></div>
        </div>
    </ion-navbar>
</ion-header>


<ion-content  padding>
    <div class="row c-w">
        <div class="col-4  "><img src="../assets/img/template/logo.png" alt="" class="mx-3 my-3" /></div>
        <div class="col-3 offset-5  "><img src="../assets/img/template/roche.png" alt="" class="my-3 img-fluid" /></div>
    </div>
    <div class="row">
        <div class="col-12 p-0 bg-menu">

        </div>
        <div class="col-12 p-0">
            <div class="btn-group-vertical btn-block mt-3 mb-3">
                <button (click)="goArtritis()" type="button" class="btn btn-primary d-flex align-items-center">   <img src="../assets/img/template/i-1.png" alt="" class="img-menu" />  Artritis Reumatoide(Artritis idiopática juvenil (AIJ), Artritis Idiopática Poliarticular, Artritis Reumatoide Temprana)</button>
                <button (click)="goManemia()" type="button" class="btn btn-primary d-flex align-items-center"> <img src="../assets/img/template/i-2.png" alt="" class="img-menu" />   Anemia por Enfermedad Renal Crónica  </button>
                <button (click)="goMenuPulmon()" type="button" class="btn btn-primary d-flex align-items-center"> <img src="../assets/img/template/i-3.png" alt="" class="img-menu" /> Cáncer de Pulmón</button>
                <button  (click)="goMfibrosis()" type="button" class="btn btn-primary d-flex align-items-center"> <img src="../assets/img/template/i-4.png" alt="" class="img-menu" /> Fibrosis Quística</button>
                <button (click)="goMhemofilia()" type="button" class="btn btn-primary d-flex align-items-center"><img src="../assets/img/template/i-5.png" alt="" class="img-menu" />  Hemofilia</button>
                <button  (click)="goMesclerosis()" type="button" class="btn btn-primary d-flex align-items-center p-4"> <img src="../assets/img/template/i-6.png" alt="" class="img-menu" /> Esclerosis Múltiple( Primaria progresiva, Remitente recurrente o secundaria progresiva)   </button>
            </div>

        </div>
        <!--        <div class="col-12 p-0 text-center aviso my-4 ">
                    <p class="m-0">
                    Aceptación de aviso de privacidad
                   <input type="checkbox" name="terms">
                   </p>
                   <p class="p-0 ">
                        <a  (click)="goTerminos()" href="#"><u>Leer más</u></a>
                   </p>
                </div>-->

    </div>
    <div class="row ssa-position  ">
        <div class="col-12 mx-auto text-center  ">
            <p>
                Derechos Reservados, Productos Roche, S.A. de C.V.  México, 2018. Roche es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total.
            </p>
        </div>
    </div>

</ion-content>
