<ion-header>
    <ion-navbar>
        <div class="row">
            <div class="col-3 offset-3 p-0  "> 
                <img src="../assets/img/template/logo.png" alt="" class="mr-3 my-3 max-icon-h" (click)="goMenuPrincipal()" />
            </div>
            <div class="col-3 offset-3">
                <button ion-button menuToggle class="my-3">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </div>
        </div>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div class="row border-bottom">
        <div class="col-12 p-0 bg-menu">

        </div>
        <div class="col-12 text-center my-3">
            <h2><span class="ico ico-chat"></span> APOYO NUTRICIONAL</h2>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-11  mx-auto text-center mb-3">
            <p class="mt-3">
                Como apoyo complementario a su tratamiento, brindamos asesoría nutricional vía telefónica que le ayudará a llevar una alimentación saludable.
            </p>
            <p class="mt-3">
                Consulte con su médico tratante la frecuencia que él le recomiende para tomar el servicio.
            </p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-11  mx-auto text-center mb-3">  
            <button ion-button class="btn btn-primary btn-advance" (click)="goANCalendar()">Continuar</button>
        </div>
    </div>
    <div class="row disclaimers">
        <div class="col-12 mx-auto text-center">
            <p>
                Derechos Reservados, Productos Roche, S.A. de C.V.© México, 2018. Roche® es una marca registrada propiedad de F. Hoffman-La Roche Ltd. Prohibida su reproducción parcial o total. No. SSA: 183300202C4198/SSA2018
            </p>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <div class="container">
            <div class="row">
                <div class="col-2 mx-auto p-0 footer-nav-item" *ngIf="menuItemsActive[0]">
                    <button ion-button class="btn btn-nav ico-an" (click)="goANIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item"  *ngIf="menuItemsActive[1]">
                    <button ion-button class="btn btn-nav ico-en" (click)="goENIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item"  *ngIf="menuItemsActive[2]">
                    <button ion-button class="btn btn-nav ico-cv" (click)="goCVIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item"  *ngIf="menuItemsActive[3]">
                    <button ion-button class="btn btn-nav ico-oo"  (click)="goOOIntro()"></button>
                </div>
                <div class="col-2 mx-auto p-0 footer-nav-item" *ngIf="menuItemsActive[4]">
                    <button ion-button class="btn btn-nav ico-ci" (click)="goCIIntro()"></button>
                </div>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>